﻿@model PKHTheoDoiGiaoHangModel
@using EcommerceSystem.Models.PKHTheoDoiGiaoHangModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">PKHPhieuYeuCauMuaHangId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.PKHPhieuYeuCauMuaHangId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.PKHPhieuYeuCauMuaHangId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">PKHPhieuYeuCauMuaHangDetailId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.PKHPhieuYeuCauMuaHangDetailId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.PKHPhieuYeuCauMuaHangDetailId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">PKHDuKienGiaoHangId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.PKHDuKienGiaoHangId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.PKHDuKienGiaoHangId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">PKHKiemHoaId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.PKHKiemHoaId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.PKHKiemHoaId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">NgayGiaoHang: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayGiaoHang, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.NgayGiaoHang)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">ChiTietVatTuId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ChiTietVatTuId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ChiTietVatTuId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">CustomerId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.CustomerId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.CustomerId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Title: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoLuongGiaoDuKien: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoLuongGiaoDuKien, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoLuongGiaoDuKien)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoLuongGiaoThucTe: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoLuongGiaoThucTe, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoLuongGiaoThucTe)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoLuongConThieu: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoLuongConThieu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoLuongConThieu)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">KiemHoaFlag: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.KiemHoaFlag, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.KiemHoaFlag)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoLuongDat: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoLuongDat, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoLuongDat)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoLuongKhongDat: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoLuongKhongDat, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoLuongKhongDat)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

