﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHTheoDoiGiaoHangModel.PKHTheoDoiGiaoHangSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">PKHTheoDoiGiaoHangId</th>
				<th class="task-deadline">PKHPhieuYeuCauMuaHangId</th>
				<th class="task-deadline">PKHPhieuYeuCauMuaHangDetailId</th>
				<th class="task-deadline">PKHDuKienGiaoHangId</th>
				<th class="task-deadline">PKHKiemHoaId</th>
				<th class="task-deadline">NgayGiaoHang</th>
				<th class="task-deadline">ChiTietVatTuId</th>
				<th class="task-deadline">CustomerId</th>
				<th class="task-deadline">Title</th>
				<th class="task-deadline">SoLuongGiaoDuKien</th>
				<th class="task-deadline">SoLuongGiaoThucTe</th>
				<th class="task-deadline">SoLuongConThieu</th>
				<th class="task-deadline">KiemHoaFlag</th>
				<th class="task-deadline">SoLuongDat</th>
				<th class="task-deadline">SoLuongKhongDat</th>
				<th class="task-deadline">CreatedDate</th>

                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHTheoDoiGiaoHangs.Any())
            {
                foreach (var item in Model.PKHTheoDoiGiaoHangs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.PKHTheoDoiGiaoHangId</td>
						<td>@item.PKHPhieuYeuCauMuaHangId</td>
						<td>@item.PKHPhieuYeuCauMuaHangDetailId</td>
						<td>@item.PKHDuKienGiaoHangId</td>
						<td>@item.PKHKiemHoaId</td>
						<td>@item.NgayGiaoHang</td>
						<td>@item.ChiTietVatTuId</td>
						<td>@item.CustomerId</td>
						<td>@item.Title</td>
						<td>@item.SoLuongGiaoDuKien</td>
						<td>@item.SoLuongGiaoThucTe</td>
						<td>@item.SoLuongConThieu</td>
						<td>@item.KiemHoaFlag</td>
						<td>@item.SoLuongDat</td>
						<td>@item.SoLuongKhongDat</td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.PKHTheoDoiGiaoHangId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.PKHTheoDoiGiaoHangId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHTheoDoiGiaoHang", new {id = @item.PKHTheoDoiGiaoHangId})" title="Chỉnh sửa PKHTheoDoiGiaoHang" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHTheoDoiGiaoHangId"><i data-id="@item.PKHTheoDoiGiaoHangId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHTheoDoiGiaoHangId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHTheoDoiGiaoHangModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
