﻿<script id="tpl-list-user" type="text/html">
    {{#Data}}
    <tr id="{{UserId}}">
        <td class="text-center">{{ItemIndex}}</td>
        <td>{{UserName}}</td>
        <td>{{Email}}</td>
        <td>{{RoleName}}</td>
        <td class="text-center">{{{FormatRecordStatus}}}</td>
        <td class="text-center command">
            <button class="btn btn-icon btn-default tree-page" data-title="-- Pages --" data-container="body" data-toggle="popover" data-placement="left" data-trigger="hover"
                    data-content="<ul class='listItems-unstyled'>{{#LstPage}}<li>{{Name}}</li>{{/LstPage}}</ul>"><i class="icon-paragraph-justify2"></i>
            </button>
            <div class="btn-group ml5">
                <button type="button" class="btn btn-icon btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i class="icon-cog"></i></button>
                <ul class="dropdown-menu icons-right dropdown-menu-right">
                    <li><a onclick="hrm.role.list(config.defaultPageIndex, {{RoleId}}, {{UserId}}, true);"><i class="icon-pencil3"></i> Setting Roles</a></li>                    
                    <li><a onclick="hrm.user.manipulate(config.action.getById, {{UserId}});"><i class="icon-key2"></i> Reset Password</a></li>
                    <li><a onclick="common.confirm('hrm.user.manipulate(config.action.del, {{UserId}});');"><i class="icon-remove3"></i> Delete</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {{/Data}}
        
    {{^Data}}
    <tr>
        <td colspan="6">No data!</td>
    </tr>
    {{/Data}}
</script>


<script id="tpl-change-password" type="text/html">
    <form class="validate" action="#" role="form" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="icon-paragraph-justify2"></i> Change Password</h4>
        </div>

        <!-- Form inside modal -->
        <div class="modal-body with-padding">
            <div class="block-inner text-danger">
                <h6 class="heading-hr">Infomation change password <small class="display-block">(*) Required</small></h6>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Old Pasword <span class="mandatory">*</span></label>
                        <input type="password" name="OldPassword" tabindex="1" class="required form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label>New password <span class="mandatory">*</span></label>
                        <input type="password" name="NewPassword" tabindex="2" class="required form-control">
                    </div>
                    <div class="col-sm-6">
                        <label>Confirm password <span class="mandatory">*</span></label>
                        <input type="password" name="ConfirmPassword" tabindex="3" class="required form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="5">Close</button>
            <button onclick="hrm.user.changePassword();" type="button" class="btn btn-success" tabindex="4">Save</button>
        </div>
    </form>
</script>


<script id="tpl-form-user" type="text/html">    
    <form class="validate" action="#" role="form" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="icon-paragraph-justify2"></i> Manager User</h4>
        </div>

        <!-- Form inside modal -->
        <div class="modal-body with-padding">
            <div class="block-inner text-danger">
                <h6 class="heading-hr">Add new user <small class="display-block">(*) Required</small></h6>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Username <span class="mandatory">*</span></label>
                        <input type="text" name="UserName" tabindex="1" class="required form-control">
                    </div>
                    <div class="col-sm-6">
                        <label>Password <span class="mandatory">*</span></label>
                        <input type="password" name="Password" tabindex="2" class="required form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Email</label>
                        <input type="text" name="Email" tabindex="3" class="required form-control">
                    </div>
                    <div class="col-sm-6">
                        <label>Status</label>
                        <input id="ddlStatus" name="RecordStatus" tabindex="4" type="hidden" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="6">Close</button>
            <button onclick="hrm.user.manipulate(config.action.save, 0);" type="button" class="btn btn-success" tabindex="5">Save</button>
        </div>
    </form>
</script>


<script id="tpl-get-user" type="text/html">
    {{#Data}}
    <form class="validate" action="#" role="form" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="icon-paragraph-justify2"></i> Manager User</h4>
        </div>

        <!-- Form inside modal -->
        <div class="modal-body with-padding">
            <div class="block-inner text-danger">
                <h6 class="heading-hr">Reset password <small class="display-block">(*) Required</small></h6>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Username <span class="mandatory">*</span></label>
                        <input type="text" name="UserName" value="{{UserName}}" tabindex="1" class="required form-control">
                    </div>
                    <div class="col-sm-6">
                        <label>Password <span class="mandatory">*</span></label>
                        <input type="password" name="Password" value="{{Password}}" tabindex="2" class="required form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">                    
                    <div class="col-sm-12">
                        <label>Status</label>
                        <input id="ddlStatus" name="RecordStatus" tabindex="3" type="hidden" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="5">Close</button>
            <button onclick="hrm.user.manipulate(config.action.save, {{UserId}});" type="button" class="btn btn-success" tabindex="4">Save</button>
        </div>
    </form>
    {{/Data}}
</script>

