﻿@model PKHKeHoachXuatKhauModel
@using EcommerceSystem.Models.PKHKeHoachXuatKhauModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Title: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">MaHopDong: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.MaHopDong, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.MaHopDong)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoHopDong: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoHopDong, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoHopDong)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">DanhMucKhachHangId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.DanhMucKhachHangId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.DanhMucKhachHangId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoLuong: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoLuong, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoLuong)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">NgayXep: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayXep, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.NgayXep)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">NgayNhap: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayNhap, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.NgayNhap)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">NgayCP: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayCP, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.NgayCP)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">NgaySon: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgaySon, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.NgaySon)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">NgayMS: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayMS, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.NgayMS)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">NgayBB: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayBB, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.NgayBB)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">NgayTuChinh: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayTuChinh, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.NgayTuChinh)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Lan: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Lan, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Lan)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">NgayHopDong: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayHopDong, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.NgayHopDong)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">NgayXuat: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayXuat, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.NgayXuat)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">NgayLapPhieu: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayLapPhieu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.NgayLapPhieu)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Tong: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Tong, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Tong)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

