﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHKeHoachXuatKhauModel.PKHKeHoachXuatKhauSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">PKHKeHoachXuatKhauId</th>
				<th class="task-deadline">Title</th>
				<th class="task-deadline">CreatedDate</th>
				<th class="task-deadline">MaHopDong</th>
				<th class="task-deadline">SoHopDong</th>
				<th class="task-deadline">DanhMucKhachHangId</th>
				<th class="task-deadline">SoLuong</th>
				<th class="task-deadline">NgayXep</th>
				<th class="task-deadline">NgayNhap</th>
				<th class="task-deadline">NgayCP</th>
				<th class="task-deadline">NgaySon</th>
				<th class="task-deadline">NgayMS</th>
				<th class="task-deadline">NgayBB</th>
				<th class="task-deadline">NgayTuChinh</th>
				<th class="task-deadline">Lan</th>
				<th class="task-deadline">NgayHopDong</th>
				<th class="task-deadline">NgayXuat</th>
				<th class="task-deadline">NgayLapPhieu</th>
				<th class="task-deadline">Tong</th>

                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHKeHoachXuatKhaus.Any())
            {
                foreach (var item in Model.PKHKeHoachXuatKhaus)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.PKHKeHoachXuatKhauId</td>
						<td>@item.Title</td>
						<td>@item.CreatedDate</td>
						<td>@item.MaHopDong</td>
						<td>@item.SoHopDong</td>
						<td>@item.DanhMucKhachHangId</td>
						<td>@item.SoLuong</td>
						<td>@item.NgayXep</td>
						<td>@item.NgayNhap</td>
						<td>@item.NgayCP</td>
						<td>@item.NgaySon</td>
						<td>@item.NgayMS</td>
						<td>@item.NgayBB</td>
						<td>@item.NgayTuChinh</td>
						<td>@item.Lan</td>
						<td>@item.NgayHopDong</td>
						<td>@item.NgayXuat</td>
						<td>@item.NgayLapPhieu</td>
						<td>@item.Tong</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.PKHKeHoachXuatKhauId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.PKHKeHoachXuatKhauId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHKeHoachXuatKhau", new {id = @item.PKHKeHoachXuatKhauId})" title="Chỉnh sửa PKHKeHoachXuatKhau" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHKeHoachXuatKhauId"><i data-id="@item.PKHKeHoachXuatKhauId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHKeHoachXuatKhauId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHKeHoachXuatKhauModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
