﻿@model PKHKeHoachSXNKXHModel
@using EcommerceSystem.Models.PKHKeHoachSXNKXHModel

<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.datetimepicker.css">
<div class="panel panel-default">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix pd-2">
        <span id="ui-id-2" class="line-height__form ui-dialog-title">Thêm mới kế hoạch</span>
        <input type="button" id="btnShow" value="Show/Hidden" class="pull-right btn btn-info" />
    </div>
    <div id="addValueForm" class="panel-body">
        <div class="form-group" style="display: none;">
            <label class="col-sm-3 control-label text-right">Title: </label>
            <div class="col-sm-4">
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Title)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group mg-y1 row">
            <div class="cs-d-flex flex-wrap col-sm-4 mg-t1">
                <label class="col-sm-12 text-left control-label">Từ ngày: </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.StartDateValue, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(c => c.StartDateValue)
                </div>
                <span class="color-red mg-x1">(*)</span>
            </div>
            <div class="cs-d-flex flex-wrap col-sm-4 mg-t1">
                <label class="col-sm-12 text-left control-label">Đến ngày: </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.EndDateValue, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(c => c.EndDateValue)

                </div>
                <span class="color-red mg-x1">(*)</span>
            </div>
            <div class="cs-d-flex flex-wrap col-sm-4 mg-t1">
                <label class="col-sm-12 text-left control-label">Mã tuần: </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.MaTuan, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.MaTuan)
                </div>
                <span class="color-red mg-x1">(*)</span>
            </div>
        </div>
        <div class="form-group mg-y1 row">
            <div class="cs-d-flex flex-wrap col-sm-4 mg-t1">
                <label class="col-sm-12 text-left control-label">Ngày tồn kho: </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.NgayTonKhoValue, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(c => c.NgayTonKhoValue)

                </div>
                <span class="color-red mg-x1">(*)</span>
            </div>
            <div class="cs-d-flex flex-wrap col-sm-4 mg-t1">
                <label class="col-sm-12 text-left control-label">Số ngày dự kiến xuất kho: </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.SoNgayXuatKho, new { @class = "form-control", type = "number", min = "0", value = "6" })
                    @Html.ValidationMessageFor(c => c.SoNgayXuatKho)

                </div>
                <span class="color-red mg-x1">(*)</span>
            </div>
        </div>
        <div class="form-group cs-d-flex flex-wrap mg-t1 col-sm-12">
            <label class="col-sm-12 control-label text-left">Ghi chú: </label>
            <div class="col-sm-12">
                @Html.TextAreaFor(c => c.GhiChu, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-actions text-center mr-10 margin-bottom-10">
            <button type="submit" class="btn btn-xs btn-danger w100 pd-2">
                <i class="icon-plus-circle"></i> Lưu
            </button>
        </div>
    </div>

</div>



