﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHKeHoachSXNKXHModel.PKHKeHoachSXNKXHSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline" style="display:none;">Id</th>
                <th class="task-deadline">Mã Tuần</th>
                <th class="task-deadline" style="display:none;">Title</th>
                <th class="task-deadline">Từ ngày</th>
                <th class="task-deadline">Đến ngày</th>
                <th class="task-deadline" style="display:none;">Số ngày dự kiến xuất kho</th>
                <th class="task-deadline" style="display:none;">Ngày tồn kho</th>
                <th class="task-deadline">Ghi chú</th>
                <th class="task-deadline">Trạng thái</th>
                <th class="task-deadline" style="display:none;">Ngày tạo</th>

                <th class="task-deadline" style="display:none;">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHKeHoachSXNKXHs.Any())
            {
                foreach (var item in Model.PKHKeHoachSXNKXHs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td style="display:none;">@item.PKHKeHoachSXNKXHId</td>
                        <td><a href="@(Url.Action("Index", "PKHKeHoachSXNKXHDetail", new { keHoachId = @item.PKHKeHoachSXNKXHId, maTuan = @item.MaTuan}))">@item.MaTuan</a></td>
                        <td style="display:none;">@item.Title</td>
                        <td>@item.StartDate.ToShortDateString()</td>
                        <td>@item.EndDate.ToShortDateString()</td>
                        <td style="display:none;">@item.SoNgayXuatKho</td>
                        <td style="display:none;">@item.NgayTonKho.ToShortDateString()"</td>
                        <td>@item.GhiChu</td>
                        <td>
                            @{
                                EcommerceSystem.Models.TrangThaiKeHoach kh = (EcommerceSystem.Models.TrangThaiKeHoach)item.TinhTrang;
                                var trangThai = Html.GetDisplayName(kh);
                            }
                            @trangThai
                        </td>
                        <td style="display:none;">@item.CreatedDate</td>

                        <td class="text-center" style="display:none;">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.PKHKeHoachSXNKXHId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.PKHKeHoachSXNKXHId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHKeHoachSXNKXH", new {id = @item.PKHKeHoachSXNKXHId})" title="Chỉnh sửa PKHKeHoachSXNKXH" class="tip dialog"><i class="icon-pencil3"></i></a>
                                <a href="javascript:void(0)" title="Xóa kế hoạch sản xuất" class="tip" data-id="@item.PKHKeHoachSXNKXHId"><i data-id="@item.PKHKeHoachSXNKXHId" class="icon-remove4"></i></a>
                                
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHKeHoachSXNKXHModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
