﻿@model DinhMucCatToleModel
@using EcommerceSystem.Models.DinhMucCatToleModel
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Ngày lập: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.CreateDateValue, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(c => c.CreateDateValue)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Số chứng từ: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.SoChungTu, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.SoChungTu)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Phương án: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.PhuongAn, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.PhuongAn)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">SLCT: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.SLCT, new { @class = "form-control", type = "number", min = "0" })
                @Html.ValidationMessageFor(c => c.SLCT)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Mã chi tiết: </label>
            <div class="col-sm-8">
                <select id="ChiTietVatTuId" name="ChiTietVatTuId" data-placeholder="Chọn chi tiết" class="chosen-select">
                    <option Value=null>Chọn chi tiết</option>
                    @foreach (var s in ViewBag.LoaiChiTiet)
                    {
                        <option value="@s.ChiTietVatTuId" @(Model.ChiTietVatTuId == s.ChiTietVatTuId ? "selected" : "")> @s.MaChiTietVatTu - @s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.ChiTietVatTuId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Mã tole: </label>
            <div class="col-sm-8">
                <select id="ToleId" name="ToleId" data-placeholder="Chọn chi tiết" class="chosen-select">
                    <option Value=null>Chọn tole</option>
                    @foreach (var s in ViewBag.DanhSachTole)
                    {
                        <option value="@s.ToleId" @(Model.ToleId == s.ToleId ? "selected" : "")> @s.MaTole - @s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.ToleId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Ghi chú: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.GhiChu)
            </div>
            <span class="color-red">(*)</span>
        </div>
        @*<div class="form-group">
                <label class="col-sm-2 control-label text-right">HinhAnh: </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(c => c.HinhAnh, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.HinhAnh)
                </div>
                <span class="color-red">(*)</span>
            </div>*@
    </div>
</div>

<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%' });
    });
</script>
<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/Assets/js/bootstrap.js"></script>
<script src="~/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/assets/js/datepicker-vi.js" type="text/javascript"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Assets/js/plugins/interface/moment.js"></script>
<script src="~/Assets/scripts/ecommerceSystem.DinhMucCatTole.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.fn.datepicker.defaults.language = 'vi';
        $(".datepicker").datepicker();
        dinhMucCatToleModule.init();

    });
</script>

