﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.DinhMucCatToleModel.DinhMucCatToleSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline" style="display:none;">Id</th>
                <th class="task-deadline" style="display:none;">Title</th>
                <th class="task-deadline">Số chứng từ</th>
                <th class="task-deadline">Ngày</th>
                <th class="task-deadline">Dầy</th>
                <th class="task-deadline">Phương án</th>
                <th class="task-deadline">Mã CT</th>
                <th class="task-deadline">SLCT</th>
                <th class="task-deadline" style="display:none;">ChiTietVatTuId</th>
                <th class="task-deadline" style="display:none;">ToleId</th>
                <th class="task-deadline">Mã tole</th>
                <th class="task-deadline">Tên tole</th>
                <th class="task-deadline">Ghi chú</th>
                <th class="task-deadline" style="display:none;">Loai</th>
                <th class="task-deadline" style="display:none;">HinhAnh</th>
                <th class="task-deadline" style="display:none;">CreatedDate</th>

                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.DinhMucCatToles.Any())
            {
                foreach (var item in Model.DinhMucCatToles)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td style="display:none;">@item.DinhMucCatToleId</td>
                        <td style="display:none;">@item.Title</td>
                        <td><a href="@(Url.Action("DinhMucCatTole", "DanhSachChiTiet", new { dinhMucCatToleId = @item.DinhMucCatToleId}))">@item.SoChungTu</a></td>
                        <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.DoDay</td>
                        <td>@item.PhuongAn</td>
                        <td>@item.MaChiTiet</td>
                        <td>@item.SLCT</td>
                        <td style="display:none;">@item.ChiTietVatTuId</td>
                        <td style="display:none;">@item.ToleId</td>
                        <td>@item.MaTole</td>
                        <td>@item.TenTole</td>
                        <td>@item.GhiChu</td>
                        <td style="display:none;">@item.Loai</td>
                        <td style="display:none;">@item.HinhAnh</td>
                        <td style="display:none;">@item.CreatedDate</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "DinhMucCatTole", new {id = @item.DinhMucCatToleId})" title="Chỉnh sửa DinhMucCatTole" class="tip dialog"><i class="icon-pencil3"></i></a>
                                <a href="javascript:void(0)" class="tip" data-id="@item.DinhMucCatToleId"><i data-id="@item.DinhMucCatToleId" class="icon-remove4"></i></a>
                                <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.DinhMucCatToleId">
                                    @if (item.Status)
                                    {
                                        <i class="icon-eye5"></i>
                                    }
                                    else
                                    {
                                        <i class="icon-eye4"></i>
                                    }
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("dinhMucCatToleModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
