﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.XuongModel.XuongSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				@*<th class="task-deadline">XuongId</th>*@
				<th class="task-deadline">Mã Xưởng</th>
				<th class="task-deadline">Tên Xưởng</th>
				<th class="task-deadline">Thông tin Xưởng</th>
				<th class="task-deadline">Ghi chú</th>
				@*<th class="task-deadline">Type</th>*@
				<th class="task-deadline">Ngày tạo</th>

                @*<th class="task-deadline">Trạng thái</th>*@
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Xuongs != null && Model.Xuongs.Any())
            {
                foreach (var item in Model.Xuongs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						@*<td>@item.XuongId</td>*@
						<td>@item.MaXuong</td>
						<td>@item.Title</td>
						<td>@item.ThongTinXuong</td>
						<td>@item.GhiChu</td>
						@*<td>@item.Type</td>*@
						<td>@item.CreatedDate</td>

                        @*<td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status.HasValue && item.Status.Value)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.XuongId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.XuongId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>*@
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "Xuong", new {id = @item.XuongId})" title="Chỉnh sửa Xưởng" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.XuongId"><i data-id="@item.XuongId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status.Value" class="tip active" data-id="@item.XuongId">
                                        @if (item.Status.Value)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("xuongModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
