﻿@model PKHKeHoachXuatKhauDetailModel
@using EcommerceSystem.Models.PKHKeHoachXuatKhauDetailModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Title: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">PKHKeHoachXuatKhauId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.PKHKeHoachXuatKhauId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.PKHKeHoachXuatKhauId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">VatTuId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.VatTuId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.VatTuId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoLuong: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoLuong, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoLuong)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">TongSo: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.TongSo, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.TongSo)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">XuongId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.XuongId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.XuongId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">LoaiCan: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.LoaiCan, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.LoaiCan)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">GhiChu: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.GhiChu)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

