﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHKeHoachXuatKhauDetailModel.PKHKeHoachXuatKhauDetailSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">PKHKeHoachXuatKhauDetailId</th>
				<th class="task-deadline">Title</th>
				<th class="task-deadline">CreatedDate</th>
				<th class="task-deadline">PKHKeHoachXuatKhauId</th>
				<th class="task-deadline">VatTuId</th>
				<th class="task-deadline">SoLuong</th>
				<th class="task-deadline">TongSo</th>
				<th class="task-deadline">XuongId</th>
				<th class="task-deadline">LoaiCan</th>
				<th class="task-deadline">GhiChu</th>

                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHKeHoachXuatKhauDetails.Any())
            {
                foreach (var item in Model.PKHKeHoachXuatKhauDetails)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.PKHKeHoachXuatKhauDetailId</td>
						<td>@item.Title</td>
						<td>@item.CreatedDate</td>
						<td>@item.PKHKeHoachXuatKhauId</td>
						<td>@item.VatTuId</td>
						<td>@item.SoLuong</td>
						<td>@item.TongSo</td>
						<td>@item.XuongId</td>
						<td>@item.LoaiCan</td>
						<td>@item.GhiChu</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.PKHKeHoachXuatKhauDetailId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.PKHKeHoachXuatKhauDetailId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHKeHoachXuatKhauDetail", new {id = @item.PKHKeHoachXuatKhauDetailId})" title="Chỉnh sửa PKHKeHoachXuatKhauDetail" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHKeHoachXuatKhauDetailId"><i data-id="@item.PKHKeHoachXuatKhauDetailId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHKeHoachXuatKhauDetailId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHKeHoachXuatKhauDetailModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
