﻿@model PKHPhieuYeuCauCapHangModel
@using EcommerceSystem.Models.PKHPhieuYeuCauCapHangModel
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Kế hoạch xưởng: </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.KeHoachXuongId, new { @class = "form-control", type = "number", min = "0" })
                @Html.ValidationMessageFor(c => c.KeHoachXuongId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group" style="display: none">
            <label class="col-sm-2 control-label text-right">PKHKeHoachSXNKXHId: </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.PKHKeHoachSXNKXHId, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.PKHKeHoachSXNKXHId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Số CT: </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.SoCT, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.SoCT)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Ngày lập: </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.CreateDateValue, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(c => c.CreateDateValue)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Thành phẩm: </label>
            <div class="col-sm-3">
                <select id="LoaiVatTuId" name="LoaiVatTuId" data-placeholder="Chọn thành phẩm" class="chosen-select">
                    <option Value="">Chọn loại thành phẩm...</option>
                    @if (ViewBag.DanhSachCan != null)
                    {
                        foreach (var s in ViewBag.DanhSachThanhPham)
                        {
                            <option value="@s.ChiTietVatTuId" @(Model.LoaiVatTuId == s.ChiTietVatTuId ? "selected" : "")> @s.ChiTietVatTuId - @s.Title </option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(c => c.LoaiVatTuId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Kho: </label>
            <div class="col-sm-3">
                <select id="KhoId" name="KhoId" data-placeholder="Chọn kho" class="chosen-select">
                    <option Value="">Chọn kho...</option>
                    @if (ViewBag.DanhSachKho != null)
                    {
                        foreach (var s in ViewBag.DanhSachKho)
                        {
                            <option value="@s.KhoId" @(Model.KhoId == s.KhoId ? "selected" : "")> @s.MaKho - @s.Title </option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(c => c.KhoId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Số lượng: </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.SoLuong, new { @class = "form-control", type = "number", min = "0" })
                @Html.ValidationMessageFor(c => c.SoLuong)
            </div>
        </div>
        @*<div class="form-group">
                <label class="col-sm-2 control-label text-right">NguoiGiaoId: </label>
                <div class="col-sm-3">
                    @Html.TextBoxFor(c => c.NguoiGiaoId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.NguoiGiaoId)
                </div>
                <span class="color-red">(*)</span>
            </div>*@
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Người giao: </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.NguoiGiao, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.NguoiGiao)
            </div>
        </div>
        @*<div class="form-group">
                <label class="col-sm-2 control-label text-right">NguoiNhanId: </label>
                <div class="col-sm-3">
                    @Html.TextBoxFor(c => c.NguoiNhanId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.NguoiNhanId)
                </div>
                <span class="color-red">(*)</span>
            </div>*@
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Người nhận: </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.NguoiNhan, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.NguoiNhan)
            </div>
        </div>
        @*<div class="form-group">
                <label class="col-sm-2 control-label text-right">Lý do xuất: </label>
                <div class="col-sm-3">
                <select id="KhoId" name="KhoId" data-placeholder="Chọn kho" class="chosen-select">
                    <option Value=null>Chọn kho...</option>
                    @if (ViewBag.DanhSachKho != null)
                    {
                        foreach (var s in ViewBag.DanhSachKho)
                        {
                            <option value="@s.LyDoXuatId" @(Model.LyDoXuatId == s.LyDoXuatId ? "selected" : "")> @s.MaLyDoXuat - @s.Title </option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(c => c.LyDoXuatId)
            </div>
            </div>*@
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Lý do xuất: </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.LyDoXuat, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.LyDoXuat)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Số DC: </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.SoDieuChuyen, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.SoDieuChuyen)
            </div>
        </div>
        <div class="form-group" style="display: none">
            <label class="col-sm-2 control-label text-right">TrangThai: </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.TrangThai, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.TrangThai)
            </div>
        </div>
        <div class="form-group" style="display: none">
            <label class="col-sm-2 control-label text-right">Title: </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Title)
            </div>
        </div>

    </div>
</div>

<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%' });
    });
</script>
<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/Assets/js/bootstrap.js"></script>
<script src="~/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/assets/js/datepicker-vi.js" type="text/javascript"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Assets/js/plugins/interface/moment.js"></script>
<script src="~/Assets/scripts/ecommerceSystem.PKHPhieuYeuCauCapHang.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.fn.datepicker.defaults.language = 'vi';
        $(".datepicker").datepicker();
        pKHPhieuYeuCauCapHangModule.init();

    });
</script>
