﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHPhieuYeuCauCapHangModel.PKHPhieuYeuCauCapHangSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline" style="display:none;">Id</th>
                <th class="task-deadline" style="display:none;">Kế hoạch xưởng Id</th>
                <th class="task-deadline">Số CT</th>
                <th class="task-deadline">Ngày Lập</th>
                <th class="task-deadline">Mã Loại TP</th>
                <th class="task-deadline">Tên loại TP</th>
                <th class="task-deadline">Kho</th>
                <th class="task-deadline">Số lượng</th>
                <th class="task-deadline" style="display:none;">Người giao</th>
                <th class="task-deadline">Người nhận</th>
                <th class="task-deadline">Lý do xuất</th>
                <th class="task-deadline">Số DC</th>

                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHPhieuYeuCauCapHangs != null && Model.PKHPhieuYeuCauCapHangs != null && Model.PKHPhieuYeuCauCapHangs.Any())
            {
                foreach (var item in Model.PKHPhieuYeuCauCapHangs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td style="display:none;">@item.PKHPhieuYeuCauCapHangId</td>
                        <td style="display:none;">@item.KeHoachXuongId</td>
						<td><a href="@(Url.Action("Index", "PKHPhieuYeuCauCapHangDetail", new { phieuYeuCauId = @item.PKHPhieuYeuCauCapHangId}))">@item.SoCT</a></td>
						<td>@item.NgayLap.ToString("dd/MM/yyyy")</td>
                        <td>@item.MaTP</td>
                        <td>@item.TenTP</td>
                        <td>@item.Kho</td>
						<td>@item.SoLuong</td>
						<td style="display:none;">@item.NguoiGiao</td>
						<td>@item.NguoiNhan</td>
						<td>@item.LyDoXuat</td>
						<td>@item.SoDieuChuyen</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHPhieuYeuCauCapHang", new {id = @item.PKHPhieuYeuCauCapHangId})" title="Chỉnh sửa PKHPhieuYeuCauCapHang" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                <a href="javascript:void(0)" class="tip" data-id="@item.PKHPhieuYeuCauCapHangId"><i data-id="@item.PKHPhieuYeuCauCapHangId" class="icon-remove4"></i></a>                             
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHPhieuYeuCauCapHangModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
