﻿@model NguoiNhanKhoModel
@using EcommerceSystem.Models.NguoiNhanKhoModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Tên người nhận (Kho): </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Kho nhận: </label>
			<div class="col-sm-4">
				@Html.DropDownListFor(c => c.KhoId, new SelectList(ViewBag.KhoGroups, "KhoId", "Title", Model), "Chọn tên kho nhận", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.KhoId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Mã tên: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.MaTen, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.MaTen)
			</div>
			<span class="color-red">(*)</span>
		</div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Tên giao nhận : </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.TenGiaoNhan, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.TenGiaoNhan)
            </div>
            <span class="color-red">(*)</span>
        </div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Ghi chú: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Mã trưởng đơn vị: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.MaTruongDonVi, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.MaTruongDonVi)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

