﻿@model PKHPhieuYeuCauCapHangDetailModel
@using EcommerceSystem.Models.PKHPhieuYeuCauCapHangDetailModel
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <div class="form-group" style="display: none">
            <label class="col-sm-3 control-label text-right">PKHPhieuYeuCauCapHangId: </label>
            <div class="col-sm-8">
                <input type="hidden" value="@Request.Params["phieuYeuCauId"]" id="PKHPhieuYeuCauCapHangId" name="PKHPhieuYeuCauCapHangId" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Mã chi tiết: </label>
            <div class="col-sm-4">
                <select id="ChiTietVatTuId" name="ChiTietVatTuId" data-placeholder="Chọn chi tiết" class="chosen-select">
                    <option Value=null>Chọn chi tiết...</option>
                    @if (ViewBag.DanhSachChiTiet != null)
                    {
                        foreach (var s in ViewBag.DanhSachChiTiet)
                        {
                            <option value="@s.ChiTietVatTuId" @(Model.ChiTietVatTuId == s.ChiTietVatTuId ? "selected" : "")> @s.ChiTietVatTuId - @s.Title </option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(c => c.ChiTietVatTuId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Số lượng: </label>
            <div class="col-sm-4">
                @Html.TextBoxFor(c => c.SoLuongXuat, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.SoLuongXuat)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Số tấm: </label>
            <div class="col-sm-4">
                @Html.TextBoxFor(c => c.SoTam, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.SoTam)
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%' });
    });
</script>

