﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHPhieuYeuCauCapHangDetailModel.PKHPhieuYeuCauCapHangDetailSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline" style="display:none;">Id</th>
                <th class="task-deadline" style="display:none;">ChiTietVatTuId</th>
                <th class="task-deadline">Mã chi tiết</th>
                <th class="task-deadline">Tên chi tiết</th>
                <th class="task-deadline">Số lượng xuất</th>
                <th class="task-deadline">Số tấm</th>

                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHPhieuYeuCauCapHangDetails != null && Model.PKHPhieuYeuCauCapHangDetails.Any())
            {
                foreach (var item in Model.PKHPhieuYeuCauCapHangDetails)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td style="display:none;">@item.PKHPhieuYeuCauCapHangDetailId</td>
						<td style="display:none;">@item.ChiTietVatTuId</td>
                        <td>@item.MaChiTiet</td>
                        <td>@item.TenChiTiet</td>
						<td>@item.SoLuongXuat</td>
						<td>@item.SoTam</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHPhieuYeuCauCapHangDetail", new {id = @item.PKHPhieuYeuCauCapHangDetailId})" title="Chỉnh sửa PKHPhieuYeuCauCapHangDetail" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHPhieuYeuCauCapHangDetailId"><i data-id="@item.PKHPhieuYeuCauCapHangDetailId" class="icon-remove4"></i></a>                              
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHPhieuYeuCauCapHangDetailModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
