﻿@model PKHPhieuYeuCauMuaHangModel
@using EcommerceSystem.Models.PKHPhieuYeuCauMuaHangModel
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.datetimepicker.css">

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Ngày lập</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.NgayYeuCau, new { @class = "form-control datepicker"})
                @Html.ValidationMessageFor(c => c.NgayYeuCau)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Ngày dự kiến KT</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.NgayDuKien, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(c => c.NgayDuKien)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Ngày hoàn tất</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.NgayHoanTat, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(c => c.NgayHoanTat)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Tên: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Title)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Trạng thái: </label>
            <div class="col-sm-3">
                @{
                    List<SelectListItem> listTrangThai = new List<SelectListItem>();
                    listTrangThai.Add(new SelectListItem
                    {
                        Text = "Chọn trạng thái",
                        Value = null
                    });
                    listTrangThai.Add(new SelectListItem
                    {
                        Text = "Đang chờ",
                        Value = "1"
                    });
                    listTrangThai.Add(new SelectListItem
                    {
                        Text = "Đã xử lý",
                        Value = "2"
                    });
                    listTrangThai.Add(new SelectListItem
                    {
                        Text = "Đã hoàn thành",
                        Value = "3"
                    });
                }
                @Html.DropDownList("TrangThai", listTrangThai, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.TrangThai)
            </div>
            <span class="color-red">(*)</span>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Yêu cầu KT: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.YeuCauKT, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.YeuCauKT)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Nội dung: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.NoiDung, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Địa điểm: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.DiaDiem, new { @class = "form-control", Value = "Địa chỉ công ty" })
                @Html.ValidationMessageFor(c => c.DiaDiem)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Mục đích: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.MucDich, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Ghi chú: </label>
            <div class="col-sm-8">
                @Html.TextAreaFor(c => c.GhiChu, new { @class = "form-control" })
            </div>
        </div>
        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script src="~/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/assets/js/datepicker-vi.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datepicker();
    });
</script>