﻿@using EcommerceSystem.Web.Framework.Helpers
@using EcommerceSystem.Models
@model EcommerceSystem.Models.PKHPhieuYeuCauMuaHangModel.PKHPhieuYeuCauMuaHangSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Tên phiếu</th>
				<th class="task-deadline">Ngày yêu cầu</th>
				<th class="task-deadline">Ngày dự kiến</th>
				<th class="task-deadline">Ngày hoàn tất</th>
				<th class="task-deadline">Trạng thái</th>
				<th class="task-deadline">Nội dung</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHPhieuYeuCauMuaHangs.Any())
            {
                foreach (var item in Model.PKHPhieuYeuCauMuaHangs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td><a href="@(Url.Action("Index", "PKHPhieuYeuCauMuaHangDetail", new { PKHPhieuYeuCauMuaHangId = @item.PKHPhieuYeuCauMuaHangId}))">@item.Title</a></td>
                        <td>@item.NgayYeuCau</td>
						<td>@item.NgayDuKien</td>
						<td>@item.NgayHoanTat</td>
						<td>@(Html.GetDisplayName((TrangThaiYeuCauMuaHang)item.TrangThai))</td>
						<td>@item.NoiDung</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHPhieuYeuCauMuaHang", new {id = @item.PKHPhieuYeuCauMuaHangId})" title="Chỉnh sửa Phiếu yêu cầu mua hàng" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHPhieuYeuCauMuaHangId"><i data-id="@item.PKHPhieuYeuCauMuaHangId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHPhieuYeuCauMuaHangId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHPhieuYeuCauMuaHangModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
