﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHKeHoachSXTuanDetailModel.PKHKeHoachSXTuanDetailSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">PKHKeHoachSXTuanDetailId</th>
				<th class="task-deadline">ChiTietVatTuId</th>
				<th class="task-deadline">PKHKeHoachXuongId</th>
				<th class="task-deadline">SoLuongSanXuat</th>
				<th class="task-deadline">Title</th>
				<th class="task-deadline">ThuHai</th>
				<th class="task-deadline">ThuBa</th>
				<th class="task-deadline">ThuTu</th>
				<th class="task-deadline">ThuNam</th>
				<th class="task-deadline">ThuSau</th>
				<th class="task-deadline">ThuBay</th>
				<th class="task-deadline">ChuNhat</th>
				<th class="task-deadline">GhiChu</th>
				<th class="task-deadline">CreatedDate</th>

                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHKeHoachSXTuanDetails.Any())
            {
                foreach (var item in Model.PKHKeHoachSXTuanDetails)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.PKHKeHoachSXTuanDetailId</td>
						<td>@item.ChiTietVatTuId</td>
						<td>@item.PKHKeHoachXuongId</td>
						<td>@item.SoLuongSanXuat</td>
						<td>@item.Title</td>
						<td>@item.ThuHai</td>
						<td>@item.ThuBa</td>
						<td>@item.ThuTu</td>
						<td>@item.ThuNam</td>
						<td>@item.ThuSau</td>
						<td>@item.ThuBay</td>
						<td>@item.ChuNhat</td>
						<td>@item.GhiChu</td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.PKHKeHoachSXTuanDetailId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.PKHKeHoachSXTuanDetailId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHKeHoachSXTuanDetail", new {id = @item.PKHKeHoachSXTuanDetailId})" title="Chỉnh sửa PKHKeHoachSXTuanDetail" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHKeHoachSXTuanDetailId"><i data-id="@item.PKHKeHoachSXTuanDetailId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHKeHoachSXTuanDetailId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHKeHoachSXTuanDetailModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
