﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Access Denied</h2>
<h6>Bạn không có quyền truy cập vào chức năng này, Xin vui lòng liên hệ với người Quản trị</h6>
