﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PhuLucIsoModel.PhuLucIsoSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Mã báo cáo</th>
				<th class="task-deadline">Số phụ lục</th>
				<th class="task-deadline">Tên báo cáo</th>
				<th class="task-deadline">Ghi chú</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PhuLucIsos != null && Model.PhuLucIsos.Any())
            {
                foreach (var item in Model.PhuLucIsos)
                {
                    var parent = Guid.NewGuid();
            <tr role="row" id="@parent">
                <td>@item.MaPhuLucIso</td>
                <td>@item.SoPhuLuc</td>
                <td>@item.Title</td>
                <td>@item.GhiChu</td>
                
                <td class="text-center">
                    <div class="icons-group">
                        <a href="@Url.Action("Edit", "PhuLucIso", new {id = @item.PhuLucIsoId})" title="Chỉnh sửa Phụ lục ISO" class="tip dialog"><i class="icon-pencil3"></i></a>
                        <a href="javascript:void(0)" class="tip" data-id="@item.PhuLucIsoId"><i data-id="@item.PhuLucIsoId" class="icon-remove4"></i></a>
                        @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PhuLucIsoId">
                            @if (item.Status)
                            {
                                <i class="icon-eye5"></i>
                            }
                            else
                            {
                                <i class="icon-eye4"></i>
                            }
                        </a>*@
                    </div>
                </td>
            </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("phuLucIsoModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
