﻿@model EcommerceSystem.Models.PKHKeHoachXuongDetailModel.PKHKeHoachXuongDetailSearchModel
@using EcommerceSystem.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Chi tiết kế hoạch sản xuất Xưởng</h3>
        </div>
    </div>

    <!-- /breadcrumbs line -->
    <div class="page-container">
        <!-- Page content -->
        <div class="row form-group">
            <div class="col-md-12">
                <div class="panel panel-default2">
                    <div class="tab-pane">
                        <div class="float-right">
                            
							@*<a class="btn btn-right-icon btn-info dialog" title="Thêm mới PKHKeHoachXuongDetail" href="@Url.Action("Create", "PKHKeHoachXuongDetail")">
                                <i class="icon-plus"></i> Thêm mới
                            </a> &nbsp;*@
                            <a id="createKhsxDetail" class="btn btn-right-icon btn-info dialog" title="Tạo kế hoạch sản xuất">
                                <i class="icon-plus"></i> Xuất phiếu
                            </a>
                        </div>
                        <div id="main-pKHKeHoachXuongDetail">
                            <!-- Page tabs -->
                            <div class="tabbable page-tabs">
                                <ul class="nav nav-tabs">
                                    @{
                                        long defaultKHXId = 0;
                                        if (ViewBag.KHXuongs != null)
                                        {
                                            int i = 0;
                                            foreach (EcommerceSystem.Models.PKHKeHoachXuongModel.PKHKeHoachXuongModel khx in ViewBag.KHXuongs)
                                            {
                                                i++;
                                                if (i == 1)
                                                {
                                                    defaultKHXId = khx.PKHKeHoachXuongId;
                                                }
                                                <li @(i == 1 ? " class=active" : "")><a class="khxuongdetail" data-id="@khx.PKHKeHoachXuongId" data-content="classic@(i)" href="#classic@(i)" data-toggle="tab"><i class="icon-grid"></i> @khx.TenXuong <span class="text-danger label-text hidden"></span></a></li>
                                            }
                                        }
                                    }
                                    
                                </ul>
                                <div class="tab-content">
                                    @if (ViewBag.KHXuongs != null)
                                    {
                                        int j = 0;
                                        foreach (EcommerceSystem.Models.PKHKeHoachXuongModel.PKHKeHoachXuongModel khx in ViewBag.KHXuongs)
                                        {
                                            j++;
                                            <div class="@((j == 1 ? "tab-pane active fade in" : "tab-pane fade"))" id="classic@(j)">

                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <!-- /page tabs -->
                            <br /><br />
                            @Html.Partial("Partial/_FormInputMain", new EcommerceSystem.Models.PKHKeHoachXuongDetailModel.PKHKeHoachXuongDetailModel())
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>

</div>
<div id="pKHKeHoachXuongDetail-action"></div>
@Html.Partial("Partial/_ConfirmPartial", new ConfirmModel { Id = "pKHKeHoachXuongDetail", Title = "Xác nhận hành động", Content = "Bạn có muốn thực hiện xóa.?" })
@section scripts
{
    <script src="~/Assets/scripts/ecommerceSystem.PKHKeHoachXuongDetail.js"></script>
<script src="~/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/assets/js/datepicker-vi.js" type="text/javascript"></script>
@*<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            pKHKeHoachXuongDetailModule.init();
            @if(defaultKHXId > 0)
            {
                @:pKHKeHoachXuongDetailModule.loadKHXuongDetail(@defaultKHXId, "classic1");
            }
            $.fn.datepicker.defaults.language = 'vi';
            $(".datepicker").datepicker();
            //$('.chosen-select').chosen({ width: '100%' });
            pKHKeHoachXuongDetailModule.init();
        });
    </script>



@*<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/Assets/js/bootstrap.js"></script>
<script src="~/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/assets/js/datepicker-vi.js" type="text/javascript"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Assets/js/plugins/interface/moment.js"></script>
<script src="~/Assets/scripts/ecommerceSystem.PKHKeHoachXuongDetail.js"></script>
<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.fn.datepicker.defaults.language = 'vi';
        $(".datepicker").datepicker();
        $('.chosen-select').chosen({ width: '100%' });
        pKHKeHoachXuongDetailModule.init();

    });
</script>*@
}