﻿@model EcommerceSystem.Models.PaymentTransactionSearchModel
@using EcommerceSystem.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Báo cáo nhân viên đặt hàng</h3>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li><a>Báo cáo order</a></li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
    </div>
    <!-- /breadcrumbs line -->
    <div class="page-container">
        <!-- Page content -->
        <div class="row form-group">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-pane mg-top-25px">
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Từ khoá</label>
                                <div class="col-sm-5">
                                    @Html.DropDownList("Email", (List<SelectListItem>)ViewBag.Accounts, new { @class = "form-control" })
                                </div>
                                <label class="col-sm-4 control-label text-right mt8">Từ ngày</label>
                                <div class="col-sm-2 mt8">
                                    @Html.TextBoxFor(c => c.FromDate, new { @class = "form-control startDate" })
                                </div>
                                <label class="col-sm-1 control-label text-right mt8">Đến ngày</label>
                                <div class="col-sm-2 mt8">
                                    @Html.TextBoxFor(c => c.ToDate, new { @class = "form-control endDate" })
                                </div>
                                <div class="col-sm-8 col-sm-offset-4 mt8">
                                    <input type="button" id="btnSearch" value="Tìm kiếm" class="btn btn-danger w100" />
                                </div>
                            </div>
                        </form>
                        <div id="main-paymentTransaction">
                            @Html.Partial("~/Views/Report/Partial/_TableReportByOrder.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            reportModule.init();
        });
    </script>
}