﻿@model GoiDauModel
@using EcommerceSystem.Models.GoiDauModel
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Tên thời gian gối đầu: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Title)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Loại vật tư: </label>
            <div class="col-sm-4">
                <select id="VatTuId" name="VatTuId" data-placeholder="Chọn loại vật tư" class="chosen-select">
                    <option Value=null>Chọn loại vật tư</option>
                    @foreach (var s in ViewBag.LoaiVatTuGroups)
                    {
                        <option value="@s.ChiTietVatTuId" @(Model.VatTuId == s.ChiTietVatTuId ? "selected" : "")> @s.ChiTietVatTuId - @s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.VatTuId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Số ngày gối đầu: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.NgayGoiDau, new { @class = "form-control", type = "number", min = "0" })
                @Html.ValidationMessageFor(c => c.NgayGoiDau)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Số tuần dự phòng: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.TuanDuPhong, new { @class = "form-control", type ="number", min = "0" })
                @Html.ValidationMessageFor(c => c.TuanDuPhong)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Kế hoạch SX-NK-XH: </label>
            <div class="col-sm-4">
                <select id="PKHKeHoachSXNKXHId" name="PKHKeHoachSXNKXHId" data-placeholder="Chọn kế hoạch SX-NK-XH" class="chosen-select">
                    <option Value=null>Chọn kế hoạch SX-NK-XH</option>
                    @foreach (var s in ViewBag.KeHoachSXNKXHGroups)
                    {
                        <option value="@s.PKHKeHoachSXNKXHId" @(Model.PKHKeHoachSXNKXHId == s.PKHKeHoachSXNKXHId ? "selected" : "")> @s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.PKHKeHoachSXNKXHId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Mã kế hoạch: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.MaKeHoach, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.MaKeHoach)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Ghi chú: </label>
            <div class="col-sm-8">
                @Html.TextAreaFor(c => c.GhiChu, new { @class = "form-control" })
            </div>
        </div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%' });
    });
</script>