﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.GoiDauModel.GoiDauSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Mã vật tư</th>
				<th class="task-deadline">Tên vật tư</th>
				<th class="task-deadline">Số ngày gối đầu</th>
				<th class="task-deadline">Số tuần dự phòng</th>
				<th class="task-deadline">Ghi chú</th>
				<th class="task-deadline">Mã kế hoạch</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.GoiDaus.Any())
            {
                foreach (var item in Model.GoiDaus)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.MaLoaiVatTu</td>
						<td>@item.TenLoaiVatTu</td>
						<td>@item.NgayGoiDau</td>
						<td>@item.TuanDuPhong</td>
						<td>@item.GhiChu</td>
						<td>@item.MaKeHoach</td>
						
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "GoiDau", new {id = @item.GoiDauId})" title="Chỉnh sửa Thời gian gối đầu" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.GoiDauId"><i data-id="@item.GoiDauId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.GoiDauId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("goiDauModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
