﻿@model DinhMucTuanModel
@using EcommerceSystem.Models.DinhMucTuanModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Tên định mức tuần: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Loại vật tư ID: </label>
			<div class="col-sm-8">
				

                @Html.DropDownListFor(c => c.VatTuId, new SelectList(ViewBag.ChiTietVatTuGroups, "ChiTietVatTuID", "Title", Model), "Chọn tên vật tư", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.VatTuId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Đinh mức: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.DinhMuc, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.DinhMuc)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

