﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.DinhMucTuanModel.DinhMucTuanSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline">Tên định mức tuần</th>
				<th class="task-deadline">Mã vật tư</th>
				<th class="task-deadline">Tên vật tư</th>
				<th class="task-deadline">Định mức sử dụng</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.DinhMucTuans != null && Model.DinhMucTuans.Any())
            {
                foreach (var item in Model.DinhMucTuans)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td>@item.Title</td>
						<td>@item.MaLoaiVatTu</td>
						<td>@item.TenLoaiVatTu</td>
						<td>@item.DinhMuc</td>

                        
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "DinhMucTuan", new {id = @item.DinhMucTuanId})" title="Chỉnh sửa Định mức sử dụng vật tư trong tuần" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.DinhMucTuanId"><i data-id="@item.DinhMucTuanId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.DinhMucTuanId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("dinhMucTuanModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
