﻿@model PKHKiemHoaDetailModel
@using EcommerceSystem.Models.PKHKiemHoaDetailModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">PKHKiemHoaId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.PKHKiemHoaId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.PKHKiemHoaId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">MaPYC: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.MaPYC, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.MaPYC)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">CustomerId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.CustomerId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.CustomerId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">ChiTietVatTuId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ChiTietVatTuId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ChiTietVatTuId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Title: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoLuong: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoLuong, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoLuong)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoLuongDat: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoLuongDat, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoLuongDat)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoLuongKhongDat: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoLuongKhongDat, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoLuongKhongDat)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">CheckFlag: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.CheckFlag, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.CheckFlag)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">GhiChu: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.GhiChu)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

