﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHKiemHoaDetailModel.PKHKiemHoaDetailSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">PKHKiemHoaDetailId</th>
				<th class="task-deadline">PKHKiemHoaId</th>
				<th class="task-deadline">MaPYC</th>
				<th class="task-deadline">CustomerId</th>
				<th class="task-deadline">ChiTietVatTuId</th>
				<th class="task-deadline">Title</th>
				<th class="task-deadline">SoLuong</th>
				<th class="task-deadline">SoLuongDat</th>
				<th class="task-deadline">SoLuongKhongDat</th>
				<th class="task-deadline">CheckFlag</th>
				<th class="task-deadline">GhiChu</th>
				<th class="task-deadline">CreatedDate</th>

                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHKiemHoaDetails.Any())
            {
                foreach (var item in Model.PKHKiemHoaDetails)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.PKHKiemHoaDetailId</td>
						<td>@item.PKHKiemHoaId</td>
						<td>@item.MaPYC</td>
						<td>@item.CustomerId</td>
						<td>@item.ChiTietVatTuId</td>
						<td>@item.Title</td>
						<td>@item.SoLuong</td>
						<td>@item.SoLuongDat</td>
						<td>@item.SoLuongKhongDat</td>
						<td>@item.CheckFlag</td>
						<td>@item.GhiChu</td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.PKHKiemHoaDetailId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.PKHKiemHoaDetailId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHKiemHoaDetail", new {id = @item.PKHKiemHoaDetailId})" title="Chỉnh sửa PKHKiemHoaDetail" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHKiemHoaDetailId"><i data-id="@item.PKHKiemHoaDetailId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHKiemHoaDetailId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHKiemHoaDetailModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
