﻿@model PKHDuKienGiaoHangModel
@using EcommerceSystem.Models.PKHDuKienGiaoHangModel
<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.datetimepicker.css">

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>

        <input type="hidden" value="@((int)Model.PKHPhieuYeuCauMuaHangId)" id="PKHPhieuYeuCauMuaHangId" name="PKHPhieuYeuCauMuaHangId" />
        <input type="hidden" value="@((int)Model.PKHPhieuYeuCauMuaHangDetailId)" id="PKHPhieuYeuCauMuaHangDetailId" name="PKHPhieuYeuCauMuaHangDetailId" />
        
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Title: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Title)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Ngày dự kiến: </label>
            <div class="col-sm-4">
                @Html.TextBoxFor(c => c.NgayDuKien, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(c => c.NgayDuKien)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Số lượng giao dự kiến: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.SoLuongGiaoDuKien, new { @class = "form-control", type = "number", min ="0" })
                @Html.ValidationMessageFor(c => c.SoLuongGiaoDuKien)
            </div>
            <span class="color-red">(*)</span>
        </div>
        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Tổng số lượng: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.TongSoLuong, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.TongSoLuong)
            </div>
            <span class="color-red">(*)</span>
        </div>*@

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script src="~/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/assets/js/datepicker-vi.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datepicker();
    });
</script>