﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHDuKienGiaoHangModel.PKHDuKienGiaoHangSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Ngày dự kiến</th>
				<th class="task-deadline">Số lượng</th>
				<th class="task-deadline">Mã vật tư</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHDuKienGiaoHangs.Any())
            {
                foreach (var item in Model.PKHDuKienGiaoHangs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.NgayDuKien</td>
						<td>@item.SoLuongGiaoDuKien</td>
						<td>@item.MaChiTietVatTu</td>
						
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHDuKienGiaoHang", new {id = @item.PKHDuKienGiaoHangId})" title="Chỉnh sửa Dự kiến giao hàng" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHDuKienGiaoHangId"><i data-id="@item.PKHDuKienGiaoHangId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHDuKienGiaoHangId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHDuKienGiaoHangModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
