﻿@model SoDuBanDauModel
@using EcommerceSystem.Models.SoDuBanDauModel
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Tên: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Title)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Kho ID: </label>
            <div class="col-sm-4">
                @Html.DropDownListFor(c => c.KhoId, new SelectList(ViewBag.KhoGroups, "KhoId", "Title", Model), "Chọn tên kho", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.KhoId)
            </div>
            <span class="color-red">(*)</span>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Vật tư: </label>
            <div class="col-sm-4">
                <select id="VatTuId" name="VatTuId" data-placeholder="Chọn vật tư" class="chosen-select">
                    <option Value=null>Chọn vật tư...</option>
                    @foreach (var s in ViewBag.LoaiVatTuGroups)
                    { 
                        <option value="@s.ChiTietVatTuId" @(Model.VatTuId == s.ChiTietVatTuId ? "selected" : "")> @s.ChiTietVatTuId - @s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.VatTuId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Số dư đầu kỳ: </label>
            <div class="col-sm-4">
                @Html.TextBoxFor(c => c.SoDuDauKy, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.SoDuDauKy)
            </div>
            <span class="color-red">(*)</span>
        </div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%' });
    });
</script>