﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.SoDuBanDauModel.SoDuBanDauSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline">Tên</th>
				<th class="task-deadline">Ngày ghi</th>
				<th class="task-deadline">Mã kho</th>
				<th class="task-deadline">Mã vật tư</th>
				<th class="task-deadline">Tên vật tư</th>
				<th class="task-deadline">Số dư đầu kỳ</th>
				<th class="task-deadline">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.SoDuBanDaus != null && Model.SoDuBanDaus.Any())
            {
                foreach (var item in Model.SoDuBanDaus)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td>@item.Title</td>
						<td>@item.CreatedDate</td>
						<td>@item.MaKho</td>
						<td>@item.MaLoaiVatTu</td>
						<td>@item.TenVatTu</td>
						<td>@item.SoDuDauKy</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "SoDuBanDau", new {id = @item.SoDuBanDauId})" title="Chỉnh sửa Số dư ban đầu" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.SoDuBanDauId"><i data-id="@item.SoDuBanDauId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.SoDuBanDauId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("soDuBanDauModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
