﻿@model CoPhanCapXuongModel
@using EcommerceSystem.Models.CoPhanCapXuongModel
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Tên cơ phận: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Title)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Kho nhập: </label>
            <div class="col-sm-8">
                @Html.DropDownListFor(c => c.KhoNhapId, new SelectList(ViewBag.KhoGroups, "KhoId", "Title", Model), "Chọn tên kho nhập", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.KhoNhapId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Kho xuất: </label>
            <div class="col-sm-8">
                @Html.DropDownListFor(c => c.KhoXuatId, new SelectList(ViewBag.KhoGroups, "KhoId", "Title", Model), "Chọn tên kho nhập", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.KhoXuatId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Loại vật tư: </label>
            <div class="col-sm-4">
                <select id="VatTuId" name="VatTuId" data-placeholder="Chọn loại vật tư" class="chosen-select">
                    <option Value=null>Chọn nhóm sản phẩm</option>
                    @foreach (var s in ViewBag.LoaiVatTuGroups)
                    {
                        <option value="@s.ChiTietVatTuId" @(Model.VatTuId == s.ChiTietVatTuId ? "selected" : "")> @s.ChiTietVatTuId - @s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.VatTuId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Nhóm sản phẩm: </label>
            <div class="col-sm-4">
                <select id="NhomSanPhamId" name="NhomSanPhamId" data-placeholder="Chọn nhóm sản phẩm" class="chosen-select">
                    <option Value=null>Chọn nhóm sản phẩm</option>
                    @foreach (var s in ViewBag.NhomSanPhamGroups)
                    {
                        <option value="@s.NhomSanPhamId" @(Model.NhomSanPhamId == s.NhomSanPhamId ? "selected" : "")> @s.MaNhomSanPham - @s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.NhomSanPhamId)
            </div>
            <span class="color-red">(*)</span>
        </div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%' });
    });
</script>