﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.CoPhanCapXuongModel.CoPhanCapXuongSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Mã kho nhập</th>
				<th class="task-deadline">Mã kho xuất</th>
				<th class="task-deadline">Mã vật tư</th>
				<th class="task-deadline">Tên vật tư</th>
				<th class="task-deadline">Mã nhóm</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.CoPhanCapXuongs != null && Model.CoPhanCapXuongs.Any())
            {
                foreach (var item in Model.CoPhanCapXuongs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.MaKhoNhap</td>
						<td>@item.MaKhoXuat</td>
						<td>@item.MaVatTu</td>
						<td>@item.TenVatTu</td>
						<td>@item.MaNhom</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "CoPhanCapXuong", new {id = @item.CoPhanCapXuongId})" title="Chỉnh sửa Cơ phận cấp xưởng" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.CoPhanCapXuongId"><i data-id="@item.CoPhanCapXuongId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.CoPhanCapXuongId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("coPhanCapXuongModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
