﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.NhomKhachHangModel.NhomKhachHangSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Nhóm Khách Hàng ID</th>
				<th class="task-deadline">Tên Nhóm Khách Hàng</th>
				<th class="task-deadline">Ngày ghi</th>

                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.NhomKhachHangs.Any())
            {
                foreach (var item in Model.NhomKhachHangs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.NhomKhachHangId</td>
						<td>@item.Title</td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.NhomKhachHangId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.NhomKhachHangId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "NhomKhachHang", new {id = @item.NhomKhachHangId})" title="Chỉnh sửa Nhóm Khách Hàng" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.NhomKhachHangId"><i data-id="@item.NhomKhachHangId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.NhomKhachHangId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("nhomKhachHangModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
