﻿@model DanhSachDieuChuyenQuyetToanModel
@using EcommerceSystem.Models.DanhSachDieuChuyenQuyetToanModel
@using EcommerceSystem.Models
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        @*<div class="form-group">
            @{
                if (Model.LoaiDieuChuyenQuyetToan == DieuChuyenType.DieuChuyenCapHang)
                {
                    <label class="col-sm-3 control-label text-right">Tên danh sách điều chuyển cấp hàng: </label>
                }
                else
                {
                    <label class="col-sm-3 control-label text-right">Tên danh sách điều chuyển gia công: </label>
                }
            }

            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
            </div>
        </div>*@
        <input type="hidden" id="DieuChuyenQuyetToanId" name="DieuChuyenQuyetToanId" value="@(Model.DieuChuyenQuyetToanId)" />

        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Tên vật tư: </label>
            <div class="col-sm-4">
                <select id="VatTuDiId" name="VatTuDiId" data-placeholder="Chọn vật tư" class="chosen-select">
                    <option Value=null>Chọn vật tư</option>
                    @foreach (var s in ViewBag.ChiTietVatTuGroups)
                    {
                        <option value="@s.ChiTietVatTuId" @(Model.VatTuDiId == s.ChiTietVatTuId ? "selected" : "")> @s.MaChiTietVatTu - @s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.VatTuDiId)
            </div>
            <span class="color-red">(*)</span>
        </div>

        @*<div class="form-group">
            <label class="col-sm-3 control-label text-right">Đơn vị tính: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.DonViTinh, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.DonViTinh)
            </div>
        </div>*@

        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Số lượng: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.SoLuongDi,null, new { @class = "form-control", @type = "number", @min = "0", @oninput = "validity.valid||(value='');" })
                @Html.ValidationMessageFor(c => c.SoLuongDi)
            </div>
            <span class="color-red">(*)</span>
        </div>
        @*<div class="form-group">
                <label class="col-sm-3 control-label text-right">Kích hoạt: </label>
                <div class="col-sm-8">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                        </label>
                    </div>
                </div>
            </div>*@
    </div>
</div>
<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%' });
    });
</script>
