﻿@using EcommerceSystem.Web.Framework.Helpers
@using EcommerceSystem.Models
@model EcommerceSystem.Models.DanhSachDieuChuyenQuyetToanModel.DanhSachDieuChuyenQuyetToanSearchModel

<div class="datatable-scroll">
    @{
        var quyetToanId = 0;
        int.TryParse(Request.QueryString["qtid"], out quyetToanId);
    }
    @if (Model.LoaiDieuChuyenQuyetToan != DieuChuyenType.QuyetToanGiaCong)
    {
        <table class="table table-bordered dataTable no-footer" role="grid">
            <thead>
                <tr role="row">
                    <th class="task-deadline">Mã vật tư</th>
                    <th class="task-deadline">Tên vật tư</th>
                    <th class="task-deadline">Đơn vị tính</th>
                    <th class="task-deadline">Số lượng</th>
                    <th class="task-date-added">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.DanhSachDieuChuyenQuyetToans != null && Model.DanhSachDieuChuyenQuyetToans.Any())
                {
                    foreach (var item in Model.DanhSachDieuChuyenQuyetToans)
                    {
                        var parent = Guid.NewGuid();
                        <tr role="row" id="@parent">
                            <td>@item.MaVatTuDi</td>
                            <td>@item.TenVatTuDi</td>
                            <td>@item.DonViTinh</td>
                            <td>@item.SoLuongDi</td>

                            <td class="text-center">
                                <div class="icons-group">
                                    <a href="@Url.Action("Edit", "DanhSachDieuChuyenQuyetToan", new {id = @item.DanhSachDieuChuyenQuyetToanId})" title="Chỉnh sửa Danh sách điều chuyển quyết toán" class="tip dialog"><i class="icon-pencil3"></i></a>
                                    <a href="javascript:void(0)" class="tip" data-id="@item.DanhSachDieuChuyenQuyetToanId"><i data-id="@item.DanhSachDieuChuyenQuyetToanId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.DanhSachDieuChuyenQuyetToanId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <table class="table table-bordered dataTable no-footer" role="grid">
            <thead>
                <tr role="row">
                    <th class="task-deadline">Số chứng từ</th>
                    <th class="task-deadline">Mã đi</th>
                    <th class="task-deadline">Tên vật tư đi</th>
                    <th class="task-deadline">Số lượng đi</th>
                    <th class="task-date-added">Mã về</th>
                    <th class="task-deadline">Tên vật tư về</th>
                    <th class="task-date-added">Số lượng về</th>
                    <th class="task-date-added">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.DanhSachDieuChuyenQuyetToans != null && Model.DanhSachDieuChuyenQuyetToans.Any())
                {
                    foreach (var item in Model.DanhSachDieuChuyenQuyetToans)
                    {
                        var parent = Guid.NewGuid();
                        <tr role="row" id="@parent">
                            <td>@item.SoChungTu</td>
                            <td>@item.MaVatTuDi</td>
                            <td>@item.TenVatTuDi</td>
                            <td>@item.SoLuongDi</td>
                            <td>@item.MaVatTuVe</td>
                            <td>@item.TenVatTuVe</td>
                            <td>@item.SoLuongVeId</td>

                            <td class="text-center">
                                <div class="icons-group">
                                    <a href="@Url.Action("Edit", "DanhSachDieuChuyenQuyetToan", new {id = @item.DanhSachDieuChuyenQuyetToanId})" title="Chỉnh sửa Danh sách điều chuyển quyết toán" class="tip dialog"><i class="icon-pencil3"></i></a>
                                    <a href="javascript:void(0)" class="tip" data-id="@item.DanhSachDieuChuyenQuyetToanId"><i data-id="@item.DanhSachDieuChuyenQuyetToanId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.DanhSachDieuChuyenQuyetToanId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }

</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("danhSachDieuChuyenQuyetToanModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
    <input type="hidden" id="loaiDieuChuyenhd" value="@((int)Model.LoaiDieuChuyenQuyetToan)" />
    <input type="hidden" id="quyetToanIdhd" value="@(quyetToanId)" />
</div>
