﻿@model EcommerceSystem.Models.DieuChuyenQuyetToanModel.DieuChuyenQuyetToanModel
@using EcommerceSystem.Models;
@{
    ViewBag.Title = " Create DieuChuyenQuyetToan";
    Layout = null;
}

<div class="page-content-inner popup">
    @using (Html.BeginForm(((Model.LoaiDieuChuyen == DieuChuyenType.DieuChuyenCapHang) ?  "Create" : "CreateDieuChuyenGCQuyetToanGC"), "DieuChuyenQuyetToan", FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken();
        var urlRedirect = "";
        urlRedirect = (Model.LoaiDieuChuyen == DieuChuyenType.DieuChuyenCapHang) ? @Url.Action("Index", "DieuChuyenQuyetToan/DieuChuyenCapHang") : ((Model.LoaiDieuChuyen == DieuChuyenType.DieuChuyenGiaCong) ? @Url.Action("Index", "DieuChuyenQuyetToan/DieuChuyenGiaCong") : @Url.Action("Index", "DieuChuyenQuyetToan/QuyetToanGiaCong"));

        <div class="breadcrumb-line">
            <div class="form-actions action-breadcrumb">
                <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@urlRedirect' ">
                    <i class="icon-exit3"></i> Hủy
                </button>
                <button type="submit" class="btn btn-xs btn-danger">
                    <i class="icon-plus-circle"></i> Lưu
                </button>
            </div>
        </div>
        if (Model.LoaiDieuChuyen == DieuChuyenType.DieuChuyenCapHang)
        {
            @Html.Partial("Partial/_FormInputDieuChuyenCapHang", Model);
        }
        else
        {
            @Html.Partial("Partial/_FormInputDieuChuyenQuyetToanGiaCong", Model.MapToDieuChuyenGiaCongQuyetToanGiaCongModel());
        }

        <div class="form-actions text-right mr-10 margin-bottom-10">
            <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@urlRedirect'">
                <i class="icon-exit3"></i> Hủy
            </button>
            <button type="submit" class="btn btn-xs btn-danger">
                <i class="icon-plus-circle"></i> Lưu
            </button>
        </div>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            dieuChuyenQuyetToanModule.init();
        });
    </script>
}