﻿@model PKHDieuChuyenVatTuDetailModel
@using EcommerceSystem.Models.PKHDieuChuyenVatTuDetailModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">PKHDieuChuyenVatTuId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.PKHDieuChuyenVatTuId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.PKHDieuChuyenVatTuId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">ChiTietVatTuId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ChiTietVatTuId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ChiTietVatTuId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">LoaiVatTuId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.LoaiVatTuId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.LoaiVatTuId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoLuong: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoLuong, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoLuong)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">GhiChu: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.GhiChu)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

