﻿@model ChiTietVatTuModel
@using EcommerceSystem.Models.ChiTietVatTuModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-3 control-label text-right">Mã chi tiết vật tư: </label>
			<div class="col-sm-5">
				@Html.TextBoxFor(c => c.MaChiTietVatTu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.MaChiTietVatTu)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label text-right">Tên vật tư: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Đơn vị tính: </label>
            <div class="col-sm-5">
                
                @Html.TextBoxFor(c => c.DonVi, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.DonVi)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Loại vật tư: </label>
            <div class="col-sm-5">
                @Html.DropDownListFor(c => c.LoaiVatTuId, new SelectList(ViewBag.LoaiVatTus, "LoaiVatTuId", "Title", Model), "Chọn loại vật tư", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.LoaiVatTuId)
            </div>
            <span class="color-red">(*)</span>
        </div>
		<div class="form-group">
			<label class="col-sm-3 control-label text-right">Ghi chú: </label>
			<div class="col-sm-8">
				@Html.TextAreaFor(c => c.GhiChu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.GhiChu)
			</div>

		</div>

        @*<div class="form-group">
            <label class="col-sm-3 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

