﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.ChiTietVatTuModel.ChiTietVatTuSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Mã chi tiết</th>
				<th class="task-deadline">Tên chi tiết</th>
				<th class="task-deadline">Ngày ghi</th>
				<th class="task-deadline">Đơn vị tính</th>
                <th class="task-deadline">Loại vật tư</th>
				<th class="task-deadline">Ghi chú</th>
				<th class="task-deadline">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.ChiTietVatTus != null && Model.ChiTietVatTus.Any())
            {
                foreach (var item in Model.ChiTietVatTus)
                {
                    var parent = Guid.NewGuid();
            <tr role="row" id="@parent">
                <td>@item.MaChiTietVatTu</td>
                <td>@item.Title</td>
                <td>@item.CreatedDate</td>
                <td>@item.DonVi</td>
                <td>@item.TenLoaiVatTu</td>
                <td>@item.GhiChu</td>


                @*<td class="text-center">
                    @{ var clssActive = "hide";}
                    @{ var clssInActive = "hide";}
                    @if (item.Status && item.Status)
                    {
                        clssActive = "show";
                    }
                    else
                    {
                        clssInActive = "show";
                    }

                    <span data-span="active_@item.ChiTietVatTuId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                    <span data-span="inactive_@item.ChiTietVatTuId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                </td>*@
                <td class="text-center">
                    <div class="icons-group">
                        <a href="@Url.Action("Edit", "ChiTietVatTu", new {id = @item.ChiTietVatTuId})" title="Chỉnh sửa Chi tiết vật tư" class="tip dialog"><i class="icon-pencil3"></i></a>
                        <a href="javascript:void(0)" class="tip" data-id="@item.ChiTietVatTuId"><i data-id="@item.ChiTietVatTuId" title="Xóa Chi tiết vật tư" class="icon-remove4"></i></a>
                        @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" title="Chỉnh sứa trạng thái Chi tiết vật tư" data-id="@item.ChiTietVatTuId">
                            @if (item.Status)
                            {
                                <i class="icon-eye5"></i>
                            }
                            else
                            {
                                <i class="icon-eye4"></i>
                            }
                        </a>*@
                    </div>
                </td>
            </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("chiTietVatTuModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
