﻿@model PKHKeHoachNhapKhoThanhPhamDetailModel
@using EcommerceSystem.Models.PKHKeHoachNhapKhoThanhPhamDetailModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">PKHKeHoachXuongId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.PKHKeHoachXuongId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.PKHKeHoachXuongId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">LoaiVatTuId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.LoaiVatTuId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.LoaiVatTuId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Title: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">ThuHai: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ThuHai, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ThuHai)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">ThuBa: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ThuBa, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ThuBa)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">ThuTu: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ThuTu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ThuTu)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">ThuNam: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ThuNam, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ThuNam)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">ThuSau: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ThuSau, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ThuSau)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">ThuBay: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ThuBay, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ThuBay)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">ChuNhat: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ChuNhat, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ChuNhat)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">TongNhapKho: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.TongNhapKho, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.TongNhapKho)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">GhiChu: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.GhiChu)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

