﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHKeHoachNhapKhoThanhPhamDetailModel.PKHKeHoachNhapKhoThanhPhamDetailSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Thứ</th>
				<th class="task-deadline">Thứ hai</th>
				<th class="task-deadline">Thứ ba</th>
				<th class="task-deadline">Thứ tư</th>
				<th class="task-deadline">Thứ năm</th>
				<th class="task-deadline">Thứ sáu</th>
				<th class="task-deadline">Thứ bảy</th>
				<th class="task-deadline">Chủ nhật</th>
				<th class="task-deadline">Tổng</th>
				<th class="task-deadline">Ghi chú</th>
                @*<th class="task-date-added">Tác vụ</th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHKeHoachNhapKhoThanhPhamDetails.Any())
            {
                foreach (var item in Model.PKHKeHoachNhapKhoThanhPhamDetails)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.TenChiTietVatTu</td>
						<td>@item.ThuHai</td>
						<td>@item.ThuBa</td>
						<td>@item.ThuTu</td>
						<td>@item.ThuNam</td>
						<td>@item.ThuNam</td>
						<td>@item.ThuBay</td>
						<td>@item.ChuNhat</td>
						<td>@item.TongNhapKho</td>
						<td>@item.GhiChu</td>

                        @*<td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHKeHoachNhapKhoThanhPhamDetail", new {id = @item.PKHKeHoachNhapKhoThanhPhamDetailId})" title="Chỉnh sửa PKHKeHoachNhapKhoThanhPhamDetail" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHKeHoachNhapKhoThanhPhamDetailId"><i data-id="@item.PKHKeHoachNhapKhoThanhPhamDetailId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHKeHoachNhapKhoThanhPhamDetailId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>*@
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHKeHoachNhapKhoThanhPhamDetailModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
