﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.DoiMaChiTietModel.DoiMaChiTietSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Tên</th>
				<th class="task-deadline">Mã chi tiết vật tư</th>
				<th class="task-deadline">Đơn vị</th>
				<th class="task-deadline">Ghi chú</th>
				<th class="task-deadline">Ngày ghi</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.DoiMaChiTiets != null && Model.DoiMaChiTiets.Any())
            {
                foreach (var item in Model.DoiMaChiTiets)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.Title</td>
						<td>@item.MaChiTietVatTu</td>
						<td>@item.DonVi</td>
						<td>@item.GhiChu</td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "DoiMaChiTiet", new {id = @item.DoiMaChiTietId})" title="Chỉnh sửa Đổi mã cơ phận trong định mức" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.DoiMaChiTietId"><i data-id="@item.DoiMaChiTietId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.DoiMaChiTietId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("doiMaChiTietModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
