﻿@model QuanLySoNModel
@using EcommerceSystem.Models.QuanLySoNModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Title: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoTong: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoTong, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoTong)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoN: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoN, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoN)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">VatTuId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.VatTuId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.VatTuId)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

