﻿@model EcommerceSystem.Models.NotificationModel
@using EcommerceSystem.Models

@{
    ViewBag.Title = "Thêm mới thông báo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Thêm mới thông báo</h3>
        </div>
    </div>
    @using (Html.BeginForm("Create", "Notification", FormMethod.Post, new { id = "frmUpdate", @class = "form-horizontal" }))
    {
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li><a href="@Url.Action("Index", "Notification")">Thông báo</a></li>
                <li class="active">Thêm mới</li>
            </ul>
            <div class="visible-xs breadcrumb-toggle">
                <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
            </div>
        </div>

        @Html.Partial("Partial/_Notification", Model)

        <div class="form-actions text-right mr-10 margin-bottom-10">
            <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@Url.Action("Index", "Notification")'">
                <i class="icon-exit3"></i> Thoát
            </button>
            <button type="button" class="btn btn-xs btn-danger btnSaveNotification">
                <i class="icon-plus-circle"></i> Lưu
            </button>
        </div>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            notificationModule.init();

        });
    </script>
}