﻿@model EcommerceSystem.Models.NotificationSearchModel
@using EcommerceSystem.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Quản lý thông báo</h3>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("Index", "Notification")">Thông báo</a></li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
    </div>
    <!-- /breadcrumbs line -->
    <div class="page-container">
        <!-- Page content -->
        <div class="row form-group">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-pane mg-top-25px">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Tìm kiếm</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(c => c.TextSearch, new { @class = "form-control", @placeholder = "Nhập tiêu đề hoặc nội dung thông báo" })
                                </div>
                                <div class="col-sm-1">
                                    <input type="button" id="btnSearch" value="Tìm kiếm" class="btn btn-danger w100" />
                                </div>
                                <div class="right-button col-sm-4 mg-right-20px">
                                </div>
                            </div>
                        </form>
                        <div class="right-button col-sm-5">
                            <button type="button" class="btn btn-right-icon btn-info float-right" onclick="location.href='@Url.Action("Create", "Notification")'">
                                <i class="icon-plus"></i> Thêm mới
                            </button>
                        </div>
                        <div id="main-role">
                            @Html.Partial("~/Views/Notification/Partial/_TableNotification.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>
</div>
<div id="role-action"></div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            notificationModule.init();
        });
    </script>
}