﻿@model PKHKeHoachXuongDetailModel
@using EcommerceSystem.Models.PKHKeHoachXuongDetailModel
<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.datetimepicker.css">
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">
<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group hidden">
			<label class="col-sm-2 control-label text-right">PKHKeHoachSXNKXHDetailId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.PKHKeHoachSXNKXHDetailId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.PKHKeHoachSXNKXHDetailId)
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Vật tư: </label>
			<div class="col-sm-6">
                <select id="ChiTietVatTuId" name="ChiTietVatTuId" data-placeholder="Chọn vật tư" class="chosen-select">
                    <option Value=null>Chọn vật tư...</option>
                    @foreach (var s in ViewBag.VatTus)
                    {
                        <option value="@s.ChiTietVatTuId" @(Model.ChiTietVatTuId == s.ChiTietVatTuId ? "selected" : "")> @s.MaChiTietVatTu - @s.Title </option>
                    }
                </select>

				@Html.ValidationMessageFor(c => c.ChiTietVatTuId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group hidden">
			<label class="col-sm-2 control-label text-right">Kho: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.KhoId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.KhoId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group hidden">
			<label class="col-sm-2 control-label text-right">DinhMucSanXuatId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.DinhMucSanXuatId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.DinhMucSanXuatId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group hidden">
			<label class="col-sm-2 control-label text-right">PKHKeHoachXuongId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.PKHKeHoachXuongId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.PKHKeHoachXuongId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group hidden">
			<label class="col-sm-2 control-label text-right">DinhMuc: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.DinhMuc, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.DinhMuc)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group hidden">
			<label class="col-sm-2 control-label text-right">ThoiLuong: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ThoiLuong, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ThoiLuong)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Số lượng yêu cầu: </label>
			<div class="col-sm-4">
				@Html.TextBoxFor(c => c.YeuCau, new { @class = "form-control", type = "number", min = "0" })
				@Html.ValidationMessageFor(c => c.YeuCau)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group hidden">
			<label class="col-sm-2 control-label text-right">ChenhLech: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ChenhLech, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ChenhLech)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group hidden">
			<label class="col-sm-2 control-label text-right">UuTien: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.UuTien, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.UuTien)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group hidden">
			<label class="col-sm-2 control-label text-right">TonKho: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.TonKho, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.TonKho)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group hidden">
			<label class="col-sm-2 control-label text-right">ChiTietTon: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ChiTietTon, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ChiTietTon)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group hidden">
			<label class="col-sm-2 control-label text-right">TonDuKien: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.TonDuKien, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.TonDuKien)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group hidden">
			<label class="col-sm-2 control-label text-right">DauKy: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.DauKy, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.DauKy)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Ngày cấp hàng: </label>
			<div class="col-sm-4">
				@Html.TextBoxFor(c => c.NgayCapHangValue, new { @class = "form-control datepicker" })
				@Html.ValidationMessageFor(c => c.NgayCapHangValue)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Ghi chú: </label>
			<div class="col-sm-8">
				@Html.TextAreaFor(c => c.GhiChu, new { @class = "form-control" })
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/Assets/js/bootstrap.js"></script>
<script src="~/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/assets/js/datepicker-vi.js" type="text/javascript"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Assets/js/plugins/interface/moment.js"></script>
<script src="~/Assets/scripts/ecommerceSystem.PKHKeHoachXuongDetail.js"></script>
<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.fn.datepicker.defaults.language = 'vi';
        $(".datepicker").datepicker();
        $('.chosen-select').chosen({ width: '100%' });
        pKHKeHoachXuongDetailModule.init();

    });
</script>

