﻿@model PKHKeHoachXuongDetailModel
@using EcommerceSystem.Models.PKHKeHoachXuongDetailModel
<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.datetimepicker.css">
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">
<div class="panel panel-default">
    <div class="panel-body">
        <h4>Cập nhật chi tiết kế hoạch sản xuất</h4>
        <div class="callout callout-danger fade in" style="display:none;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h5>Thông báo lỗi:</h5>
            <p>Bạn chưa chọn kế hoạch chi tiết, xin vui lòng chọn lại theo danh sách trên.</p>
        </div>
        <div class="form-group hidden">
            <label class="col-sm-2 control-label text-right">PKHKeHoachSXNKXHDetailId: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.PKHKeHoachSXNKXHDetailId, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.PKHKeHoachSXNKXHDetailId)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-5">
                <label class="col-sm-4 control-label text-right">Số lượng yêu cầu: </label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(c => c.YeuCau, new { @class = "form-control", type = "number", min = "0" })
                    <span style="display:none;" class="field-validation-error" data-valmsg-for="YeuCau" data-valmsg-replace="true"><span for="YeuCau" class="">Số lượng yêu cầu không được bỏ trống</span></span>
                </div>
                <span class="color-red">(*)</span>
            </div>
            <div class="col-md-6">
                <label class="col-sm-3 control-label text-right">Mã vật tư: </label>
                <div class="col-sm-8">
                    <input type="text" id="MaVatTu" name="MaVatTu" value="" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-5">
                <label class="col-sm-4 control-label text-right">Ngày cấp hàng: </label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(c => c.NgayCapHangValue, new { @class = "form-control datepicker" })
                    <span style="display:none;" class="field-validation-error" data-valmsg-for="NgayCapHangValue" data-valmsg-replace="true"><span for="NgayCapHangValue" class="">Ngày cấp hàng không được bỏ trống</span></span>
                </div>
                <span class="color-red">(*)</span>
            </div>
            <div class="col-md-6">
                <label class="col-sm-3 control-label text-right">Ghi chú: </label>
                <div class="col-sm-8">
                    @Html.TextAreaFor(c => c.GhiChu, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group col-md-10">
            <div class="float-right">
                <a class="btn btn-right-icon btn-info" id="updatekhsxDetail" title="cập nhật ">
                    <i class="icon-plus"></i> Cập nhật
                </a> &nbsp;
            </div>
        </div>
    </div>

</div>


