﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHKeHoachXuongDetailModel.PKHKeHoachXuongDetailSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">PKHKeHoachXuongDetailId</th>
				<th class="task-deadline">PKHKeHoachSXNKXHDetailId</th>
				<th class="task-deadline">ChiTietVatTuId</th>
				<th class="task-deadline">KhoId</th>
				<th class="task-deadline">Title</th>
				<th class="task-deadline">DinhMucSanXuatId</th>
				<th class="task-deadline">PKHKeHoachXuongId</th>
				<th class="task-deadline">DinhMuc</th>
				<th class="task-deadline">ThoiLuong</th>
				<th class="task-deadline">YeuCau</th>
				<th class="task-deadline">ChenhLech</th>
				<th class="task-deadline">UuTien</th>
				<th class="task-deadline">TonKho</th>
				<th class="task-deadline">ChiTietTon</th>
				<th class="task-deadline">TonDuKien</th>
				<th class="task-deadline">DauKy</th>
				<th class="task-deadline">NgayCapHang</th>
				<th class="task-deadline">GhiChu</th>
				<th class="task-deadline">CreatedDate</th>

                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHKeHoachXuongDetails.Any())
            {
                foreach (var item in Model.PKHKeHoachXuongDetails)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.PKHKeHoachXuongDetailId</td>
						<td>@item.PKHKeHoachSXNKXHDetailId</td>
						<td>@item.ChiTietVatTuId</td>
						<td>@item.KhoId</td>
						<td>@item.Title</td>
						<td>@item.DinhMucSanXuatId</td>
						<td>@item.PKHKeHoachXuongId</td>
						<td>@item.DinhMuc</td>
						<td>@item.ThoiLuong</td>
						<td>@item.YeuCau</td>
						<td>@item.ChenhLech</td>
						<td>@item.UuTien</td>
						<td>@item.TonKho</td>
						<td>@item.ChiTietTon</td>
						<td>@item.TonDuKien</td>
						<td>@item.DauKy</td>
						<td>@item.NgayCapHang</td>
						<td>@item.GhiChu</td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.PKHKeHoachXuongDetailId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.PKHKeHoachXuongDetailId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHKeHoachXuongDetail", new {id = @item.PKHKeHoachXuongDetailId})" title="Chỉnh sửa PKHKeHoachXuongDetail" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHKeHoachXuongDetailId"><i data-id="@item.PKHKeHoachXuongDetailId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHKeHoachXuongDetailId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHKeHoachXuongDetailModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
