﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHKeHoachXuongDetailModel.PKHKeHoachXuongDetailSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				@*<th class="task-deadline">PKHKeHoachXuongDetailId</th>
				<th class="task-deadline">PKHKeHoachSXNKXHDetailId</th>*@
				<th class="task-deadline">Mã vật tư</th>
                <th class="task-deadline">Tên vật tư</th>
				<th class="task-deadline">Kho cấp</th>
				<th class="task-deadline">Định mức</th>
				<th class="task-deadline">Thời lượng</th>
				<th class="task-deadline">Yêu cầu</th>
				<th class="task-deadline">Chênh lệch</th>
				<th class="task-deadline">Ưu tiên</th>
				<th class="task-deadline">Tồn</th>
				<th class="task-deadline">Chi tiết tồn</th>
				<th class="task-deadline">Tồn dự kiến</th>
				<th class="task-deadline">Đầu kỳ</th>
				<th class="task-deadline">Ngày cấp hàng</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHKeHoachXuongDetails.Any())
            {
                foreach (var item in Model.PKHKeHoachXuongDetails)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						@*<td>@item.PKHKeHoachXuongDetailId</td>
						<td>@item.PKHKeHoachSXNKXHDetailId</td>*@
						<td><a href="#" data-id="@item.PKHKeHoachXuongDetailId" data-vattu="@item.MaVatTu" data-soluong="@item.YeuCau" data-date="@item.NgayCapHangValue" data-node="@item.GhiChu" title="Chỉnh sửa PKHKeHoachXuongDetail" class="tip editkehoach">@item.MaVatTu</a>  </td>
						<td><a href="#" data-id="@item.PKHKeHoachXuongDetailId" data-vattu="@item.MaVatTu" data-soluong="@item.YeuCau" data-date="@item.NgayCapHangValue" data-node="@item.GhiChu" title="Chỉnh sửa PKHKeHoachXuongDetail" class="tip editkehoach">@item.TenVatTu</a>  </td>
						<td>@item.TenKho</td>
						<td>@item.DinhMuc</td>
						<td>@item.ThoiLuong</td>
						<td>@item.YeuCau</td>
						<td>@item.ChenhLech</td>
						<td>@item.UuTien</td>
						<td>@item.TonKho</td>
						<td>@item.ChiTietTon</td>
						<td>@item.TonDuKien</td>
						<td>@item.DauKy</td>
						<td>@item.NgayCapHangValue</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="#" data-id="@item.PKHKeHoachXuongDetailId" data-vattu="@item.MaVatTu" data-soluong="@item.YeuCau" data-date="@item.NgayCapHangValue" data-node="@item.GhiChu" title="Chỉnh sửa PKHKeHoachXuongDetail" class="tip editkehoach"><i class="icon-pencil3"></i></a>                            
                                    @*<a href="javascript:void(0)" class="tip" data-id="@item.PKHKeHoachXuongDetailId"><i data-id="@item.PKHKeHoachXuongDetailId" class="icon-remove4"></i></a>*@                              
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
   
</div>
