﻿@model DieuChuyenQuyetToanModel
@using EcommerceSystem.Models.DieuChuyenQuyetToanModel
@using EcommerceSystem.Models
<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.datetimepicker.css">

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Tên điều chuyển quyết toán: </label>
            <div class="col-sm-7">
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Title)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Số chứng từ: </label>
            <div class="col-sm-7">
                @Html.TextBoxFor(c => c.SoChungTu, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.SoChungTu)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Mã kho nhập: </label>
            <div class="col-sm-4">
                @Html.DropDownListFor(c => c.KhoNhapId, new SelectList(ViewBag.KhoGroups, "KhoId", "MaKho", Model), "Chọn mã kho nhập", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.KhoNhapId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        @if (Model.LoaiDieuChuyen != DieuChuyenType.DieuChuyenCapHang)
        {
            <div class="form-group">
                <label class="col-sm-3 control-label text-right">Mã kho xuất: </label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(c => c.KhoXuatId, new SelectList(ViewBag.KhoGroups, "KhoId", "MaKho", Model), "Chọn mã kho xuất", new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.KhoNhapId)
                </div>
                <span class="color-red">(*)</span>
            </div>
        }
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Đã xem: </label>
            <div class="col-sm-4">
                @{
                    List<SelectListItem> listDaXem = new List<SelectListItem>();
                    listDaXem.Add(new SelectListItem
                    {
                        Text = "Đã kiểm tra",
                        Value = "true"
                    });
                    listDaXem.Add(new SelectListItem
                    {
                        Text = "Chưa kiểm tra",
                        Value = "false"
                    });
                }
                @Html.DropDownListFor(c => c.DaXem, new SelectList(listDaXem, "Value", "Text", Model), "Trạng thái", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.DaXem)
            </div>
            <span class="color-red">(*)</span>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Lý do xuất: </label>
            <div class="col-sm-7">
                @Html.TextBoxFor(c => c.LyDoXuat, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Người nhận: </label>
            <div class="col-sm-7">
                @Html.TextBoxFor(c => c.NguoiNhan, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.NguoiNhan)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Căn cứ: </label>
            <div class="col-sm-7">
                @Html.TextBoxFor(c => c.CanCu, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.CanCu)
            </div>
        </div>

        @*<div class="form-group">
                <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
                <div class="col-sm-8">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                        </label>
                    </div>
                </div>
            </div>*@
        <div class="form-group" style="display:none;">
            <label class="col-sm-2 control-label text-right"> </label>
            <div class="col-sm-8">
                <input type="hidden" value="@((int)Model.LoaiDieuChuyen)" id="LoaiDieuChuyen" name="LoaiDieuChuyen" />
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/assets/js/datepicker-vi.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datepicker();
    });
</script>