﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.DieuChuyenQuyetToanModel.DieuChuyenQuyetToanSearchModel
@using EcommerceSystem.Models

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline">Số chứng từ</th>
                <th class="task-deadline">Tên</th>
                <th class="task-deadline">Ngày lập</th>
                <th class="task-deadline">Mã kho nhập</th>
                <th class="task-deadline">Mã kho xuất</th>
                <th class="task-deadline">Đã kiểm</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.DieuChuyenQuyetToans != null && Model.DieuChuyenQuyetToans.Any())
            {
                foreach (var item in Model.DieuChuyenQuyetToans)
                {
                    var parent = Guid.NewGuid();
                    var urlRedirect = "";
                    urlRedirect = ((Model.LoaiDieuChuyen == DieuChuyenType.DieuChuyenGiaCong) ? @Url.Action("DanhSachDieuChuyenGiaCong", "DanhSachDieuChuyenQuyetToan") : @Url.Action("DanhSachQuyetToanGiaCong", "DanhSachDieuChuyenQuyetToan"));
                    urlRedirect += "?qtid=" + item.DieuChuyenQuyetToanId;
            <tr role="row" id="@parent">
                <td><a href="@urlRedirect" title="Xem chi tiết">@item.SoChungTu</a></td>
                <td>@item.Title</td>
                <td>@item.CreatedDate</td>
                <td>@item.MaKhoNhap</td>
                <td>@item.MaKhoXuat</td>
                <td class="text-center">
                    @{ var clssActive = "hide";}
                    @{ var clssInActive = "hide";}
                    @if (item.DaXem != null && (bool)item.DaXem)
                    {
                        clssActive = "show";
                    }   
                    else
                    {
                        clssInActive = "show";
                    }
                    <span data-span="active_@item.DaXem" class="label label-success mg-left-5px @clssActive">Đã kiểm tra</span>
                    <span data-span="inactive_@item.DaXem" class="label label-warning mg-left-5px @clssInActive">Chưa kiểm tra</span>
                </td>
                <td class="text-center">
                    <div class="icons-group">
                        <a href="@Url.Action("Edit", "DieuChuyenQuyetToan", new { id = @item.DieuChuyenQuyetToanId })" title="Chỉnh sửa Điều chuyển quyết toán" class="tip dialog"><i class="icon-pencil3"></i></a>
                        <a href="javascript:void(0)" class="tip" data-id="@item.DieuChuyenQuyetToanId"><i data-id="@item.DieuChuyenQuyetToanId" class="icon-remove4"></i></a>
                    </div>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("dieuChuyenQuyetToanModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
    <input type="hidden" value="@((int)Model.LoaiDieuChuyen)" id="loaidieuchuyenhd"/>
</div>
