﻿@model PKHKeHoachSXNKXHDetailModel
@using EcommerceSystem.Models.PKHKeHoachSXNKXHDetailModel
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">

<div class="panel panel-default">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix pd-2">
        <span id="ui-id-2" class="ui-dialog-title">Thêm mới kế hoạch chi tiếh</span>
    </div>
    <div class="panel-body">
        <div class="form-group" style="display: none">
            <label class="col-sm-2 control-label text-right">PKHKeHoachSXNKXHId: </label>
            <div class="col-sm-8">
                <input type="hidden" value="@Request.Params["keHoachId"]" id="PKHKeHoachSXNKXHId" name="PKHKeHoachSXNKXHId" />

            </div>
        </div>
        <div class="form-group mg-y1 row">
            <div class="cs-d-flex flex-wrap col-sm-4 mg-t1">
                <label class="col-sm-12 control-label text-left">Mã vật tư: </label>
                <div class="col-sm-10">
                    <select id="VatTuId" name="VatTuId" data-placeholder="Chọn loại vật tư" class="chosen-select">
                        <option Value=null>Chọn vật tư...</option>
                        @if (ViewBag.DanhSachCan != null)
                        {
                            foreach (var s in ViewBag.DanhSachCan)
                            {
                                <option value="@s.ChiTietVatTuId" @(Model.VatTuId == s.ChiTietVatTuId ? "selected" : "")> @s.MaChiTietVatTu - @s.Title </option>
                            }
                        }
                    </select>
                    @Html.ValidationMessageFor(c => c.VatTuId)
                </div>
                <span class="color-red">(*)</span>
            </div>
            <div class="cs-d-flex flex-wrap col-sm-4 mg-t1">
                <label class="col-sm-12 control-label text-left">Nhập kho: </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.NhapKhoTuanTruoc, new { @class = "form-control", type = "number", min = "0", @oninput = "validity.valid||(value='');" })
                    @Html.ValidationMessageFor(c => c.NhapKhoTuanTruoc)
                </div>
                <span class="color-red">(*)</span>
            </div>
            <div class="cs-d-flex flex-wrap col-sm-4 mg-t1">
                <label class="col-sm-12 control-label text-left">Xuất Hà Nội: </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.XuatHaNoi, new { @class = "form-control", type = "number", min = "0", @oninput = "validity.valid||(value='');" })
                    @Html.ValidationMessageFor(c => c.XuatHaNoi)
                </div>
            </div>
        </div>

        <div class="form-group mg-y1 row">
            <div class="cs-d-flex flex-wrap col-sm-4 mg-t1">
                <label class="col-sm-12 control-label text-left">Dự kiến xuất kho: </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.XuatKho, new { @class = "form-control", type = "number", min = "0", @oninput = "validity.valid||(value='');" })
                    @Html.ValidationMessageFor(c => c.XuatKho)
                </div>
            </div>
            <div class="cs-d-flex flex-wrap col-sm-4 mg-t1">
                <label class="col-sm-12 control-label text-left">Dự kiến xuất kho tuần kế tiếp: </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.DuKienXuatKho, new { @class = "form-control", type = "number", min = "0", @oninput = "validity.valid||(value='');" })
                    @Html.ValidationMessageFor(c => c.DuKienXuatKho)
                </div>
            </div>
            <div class="cs-d-flex flex-wrap col-sm-4 mg-t1">
                <label class="col-sm-12 control-label text-left">Nhập xưởng 4: </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.Xuong4, new { @class = "form-control", type = "number", min = "0", @oninput = "validity.valid||(value='');" })
                    @Html.ValidationMessageFor(c => c.Xuong4)
                </div>
            </div>
        </div>

        <div class="form-group mg-y1 row">
            <div class="cs-d-flex flex-wrap col-sm-4 mg-t1">
                <label class="col-sm-12 control-label text-left">Nhập xưởng 5: </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.Xuong5, new { @class = "form-control", type = "number", min = "0", @oninput = "validity.valid||(value='');" })
                    @Html.ValidationMessageFor(c => c.Xuong5)
                </div>
            </div>
            <div class="cs-d-flex flex-wrap col-sm-4 mg-t1">
                <label class="col-sm-12 control-label text-left">Nhập xưởng 6: </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.Xuong6, new { @class = "form-control", type = "number", min = "0", @oninput = "validity.valid||(value='');" })
                    @Html.ValidationMessageFor(c => c.Xuong6)
                </div>
            </div>
            <div class="cs-d-flex flex-wrap col-sm-4 mg-t1">
                <label class="col-sm-12 control-label text-left">Đại lý: </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.XuatDaiLy, new { @class = "form-control", type = "number", min = "0", @oninput = "validity.valid||(value='');" })
                    @Html.ValidationMessageFor(c => c.XuatDaiLy)
                </div>
            </div>
            
        </div>
        <div class="form-actions text-center mr-10 margin-bottom-10">
            <button type="submit" class="btn btn-xs btn-danger w100 pd-2">
                <i class="icon-plus-circle"></i> Lưu
            </button>
        </div>
    </div>
</div>

<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%' });
    });
</script>


