﻿@model PKHKeHoachSXNKXHDetailModel
@using EcommerceSystem.Models.PKHKeHoachSXNKXHDetailModel

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <div class="form-group" style="display: none">
            <label class="col-sm-2 control-label text-right">PKHKeHoachSXNKXHId: </label>
            <div class="col-sm-8">
                <input type="hidden" value="@Request.Params["keHoachId"]" id="PKHKeHoachSXNKXHId" name="PKHKeHoachSXNKXHId" />

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Số lượng: </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.SoLuongCan, new { @class = "form-control", type = "number", min = "0" })
                @Html.ValidationMessageFor(c => c.SoLuongCan)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Bao bì: </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.SoLuongBaoBi, new { @class = "form-control", type = "number", min = "0" })
                @Html.ValidationMessageFor(c => c.SoLuongBaoBi)
            </div>
        </div>

    </div>
</div>


