﻿
@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHKeHoachSXNKXHDetailModel.PKHKeHoachSXNKXHDetailSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline" style="display:none;">PKHKeHoachSXNKXHDetailId</th>
                <th class="task-deadline" style="display:none;">PKHKeHoachSXNKXHId</th>
                <th class="task-deadline" style="display:none;">VatTuId</th>
                <th class="task-deadline">Mã cân</th>
                <th class="task-deadline">Tên cân</th>
                <th class="task-deadline">Số lượng</th>
                <th class="task-deadline">Số lượng bao bì</th>
                <th class="task-deadline">Xưởng</th>
                <th class="task-deadline">Điều chỉnh số lượng</th>
                <th class="task-deadline">Điều chỉnh bao bì</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHKeHoachSXDetails != null && Model.PKHKeHoachSXDetails.Any())
            {
                foreach (var item in Model.PKHKeHoachSXDetails)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td style="display:none;">@item.PKHKeHoachSXNKXHDetailId</td>
                        <td style="display:none;">@item.PKHKeHoachSXNKXHId</td>
                        <td style="display:none;">@item.VatTuId</td>
                        <td>@item.MaVatTu</td>
                        <td>@item.TenVatTu</td>
                        <td>@item.SoLuongCan</td>
                        <td>@item.SoLuongBaoBi</td>
                        <td></td>                   @*lấy giá trị xưởng này ở đâu*@
                        <td>@item.DieuChinhCan</td>
                        <td>@item.DieuChinhBaoBi</td>
                        
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("EditKeHoachSX", "PKHKeHoachSXNKXHDetail", new {id = @item.PKHKeHoachSXNKXHDetailId})" title="Chỉnh sửa kế hoạch" class="tip dialog"><i class="icon-pencil3"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">

</div>
