﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHKeHoachSXNKXHDetailModel.PKHKeHoachSXNKXHDetailSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer long-grid" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline" style="display:none;">PKHKeHoachSXNKXHDetailId</th>
                <th class="task-deadline" style="display:none;">PKHKeHoachSXNKXHId</th>
                <th class="task-deadline" style="display:none;">VatTuId</th>
                <th class="task-deadline">Mã cân</th>
                <th class="task-deadline">Tên cân</th>
                <th class="task-deadline">Tồn kho</th>
                <th class="task-deadline">Nhập kho</th>
                <th class="task-deadline">Xuất Hà Nội</th>
                <th class="task-deadline">Dự kiến xuất kho</th>
                <th class="task-deadline">Tổng tồn</th>
                <th class="task-deadline">Nhập kho xưởng 4</th>
                <th class="task-deadline">Nhập kho xưởng 5</th>
                <th class="task-deadline">Nhập kho xưởng 6</th>
                <th class="task-deadline">Tổng nhập kho thành phẩm</th>
                <th class="task-deadline">Dự kiến Hà Nội 3 đợt</th>
                <th class="task-deadline">Đại lý</th>
                <th class="task-deadline">Dự kiến xuất kho 6 ngày</th>
                <th class="task-deadline">Dự kiến tồn kho</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHKeHoachSXNKXHDetails != null && Model.PKHKeHoachSXNKXHDetails.Any())
            {
                foreach (var item in Model.PKHKeHoachSXNKXHDetails)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td style="display:none;">@item.PKHKeHoachSXNKXHDetailId</td>
                        <td style="display:none;">@item.PKHKeHoachSXNKXHId</td>
                        <td style="display:none;">@item.VatTuId</td>
                        <td>@item.MaVatTu</td>
                        <td>@item.TenVatTu</td>
                        <td>@item.TonKho</td>
                        <td>@item.NhapKhoTuanTruoc</td>
                        <td>@item.XuatHaNoi</td>
                        <td>@item.XuatKho</td>
                        <td>@item.TongTonKho</td>
                        <td>@item.Xuong4</td>
                        <td>@item.Xuong5</td>
                        <td>@item.Xuong6</td>
                        <td>@item.TongNhapKho</td>
                        <td>@item.XuatHaNoi</td>
                        <td>@item.XuatDaiLy</td>
                        <td>@item.DuKienXuatKho</td>
                        <td>@item.DuKienTonKho</td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHKeHoachSXNKXHDetail", new {id = @item.PKHKeHoachSXNKXHDetailId})" title="Chỉnh sửa PKHKeHoachSXNKXHDetail" class="tip dialog"><i class="icon-pencil3"></i></a>
                                <a href="javascript:void(0)" class="tip" data-id="@item.PKHKeHoachSXNKXHDetailId"><i data-id="@item.PKHKeHoachSXNKXHDetailId" class="icon-remove4"></i></a>
                                
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">

</div>
