﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.KhoModel.KhoSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline">Mã kho</th>
				<th class="task-deadline">Tên kho</th>
				<th class="task-deadline">Người giao</th>
				<th class="task-deadline">Ngày ghi</th>
				<th class="task-deadline">Thông tin về kho hàng</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Khos != null && Model.Khos.Any())
            {
                foreach (var item in Model.Khos)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.MaKho</td>
						<td>@item.Title</td>
						<td>@item.NguoiGiao</td>
						<td>@item.CreatedDate</td>
						<td>@item.ThongTinKho</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "Kho", new {id = @item.KhoId})" title="Chỉnh sửa Kho" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.KhoId"><i data-id="@item.KhoId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.KhoId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("khoModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
