﻿@model EcommerceSystem.Models.PKHKeHoachSXNKXHDetailModel.PKHKeHoachSXNKXHDetailSearchModel
@using EcommerceSystem.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Chi tiết kế hoạch SX-NK-XH</h3>
            <h6>Mã tuần: <a>@Model.MaKeHoach</a>. Từ ngày: @Model.FromDate.ToString("dd/MM/yyyy") - đến ngày: @Model.ToDate.ToString("dd/MM/yyyy")</h6>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("Index", "PKHKeHoachSXNKXH")">Kế Hoạch SX-NK-XH</a></li>
            <li><a href="@Url.Action("Index", "PKHKeHoachSXNKXHDetail", new {keHoachId=Request.Params["keHoachId"] })">Kế Hoạch SX-NK-XH chi tiết</a></li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
    </div>
    <!-- /breadcrumbs line -->
    <div class="page-container">
        <!-- Page content -->
        <div class="row form-group">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-pane mg-top-25px">

                        <div class="right-button col-sm-12 custom-form">
                           @using (Html.BeginForm("Create", "PKHKeHoachSXNKXHDetail", FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal" }))
                           {
                                @Html.AntiForgeryToken()
                                @Html.Partial("~/Views/PKHKeHoachSXNKXHDetail/Partial/_FormInputMain.cshtml", new EcommerceSystem.Models.PKHKeHoachSXNKXHDetailModel.PKHKeHoachSXNKXHDetailModel())
                           }

                        </div>
                        <div id="main-pKHKeHoachSXNKXHDetail">
                            @Html.Partial("~/Views/PKHKeHoachSXNKXHDetail/Partial/_ListItems.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>

</div>
<div id="pKHKeHoachSXNKXHDetail-action"></div>
@Html.Partial("Partial/_ConfirmPartial", new ConfirmModel { Id = "pKHKeHoachSXNKXHDetail", Title = "Xác nhận hành động", Content = "Bạn có muốn thực hiện xóa.?" })
@section scripts
{
    <script src="~/Assets/scripts/ecommerceSystem.PKHKeHoachSXNKXHDetail.js"></script>
<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            pKHKeHoachSXNKXHDetailModule.init();
            $('.chosen-select').chosen({ width: '100%' });
        });
    </script>
}