﻿@model EcommerceSystem.Models.PKHKeHoachSXNKXHDetailModel.PKHKeHoachSXNKXHDetailSearchModel
@using EcommerceSystem.Models
@{
    ViewBag.Title = "KeHoachSx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Chi tiết kế hoạch Sản xuất tuần</h3>
            <h6>Mã tuần: <a>@Model.MaKeHoach</a>. Từ ngày: @Model.FromDate.ToString("dd/MM/yyyy") - đến ngày: @Model.ToDate.ToString("dd/MM/yyyy")</h6>
        </div>
    </div>
    <!-- /breadcrumbs line -->
    <div class="page-container">
        <!-- Page content -->
        <div class="row form-group">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-pane mg-top-25px">
                        @if (ViewBag.KHSX != null && !ViewBag.KHSX.Status)
                        {
                            <div class="right-button">
                                <a class="btn btn-right-icon btn-info float-right updatestatuskhsx" data-id="@ViewBag.KHSX.PKHKeHoachSXNKXHId" title="Tạo kế hoạch sản xuất">
                                    <i class="icon-plus"></i> Tạo kế hoạch sản xuất
                                </a>
                            </div>
                        }
                        
                        <div class="right-button">
                            <a class="btn btn-right-icon btn-info float-right exportkhnk" title="Xuất kế hoạch nhập kho">
                                <i class="icon-plus"></i> Xuất kế hoạch nhập kho
                            </a>
                        </div>
                        
                        <div id="main-pKHKeHoachSXNKXHDetail">
                            @Html.Partial("~/Views/PKHKeHoachSXNKXHDetail/Partial/_KeHoachSXListItems.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>

</div>
<div id="pKHKeHoachSXNKXHDetail-action"></div>
@Html.Partial("Partial/_ConfirmPartial", new ConfirmModel { Id = "pKHKeHoachSXNKXHDetail", Title = "Xác nhận hành động", Content = "Bạn có muốn thực hiện xóa.?" })
@section scripts
{
    <script src="~/Assets/scripts/ecommerceSystem.PKHKeHoachSXNKXHDetail.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            pKHKeHoachSXNKXHDetailModule.init();
        });
    </script>
}