﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.DoiMaVatTuModel.DoiMaVatTuSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Mã loại vật tư</th>
				<th class="task-deadline">Tên</th>
				<th class="task-deadline">Cấp</th>
				<th class="task-deadline">Ghi chú</th>
				<th class="task-deadline">Ngày ghi</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.DoiMaVatTus != null && Model.DoiMaVatTus.Any())
            {
                foreach (var item in Model.DoiMaVatTus)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.MaLoaiVatTu</td>
						<td>@item.Title</td>
						<td>@item.Cap</td>
						<td>@item.GhiChu</td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "DoiMaVatTu", new {id = @item.DoiMaVatTuId})" title="Chỉnh sửa Đổi mã vật tư" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.DoiMaVatTuId"><i data-id="@item.DoiMaVatTuId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.DoiMaVatTuId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("doiMaVatTuModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
