﻿@model NhomVatTuNhapRiengModel
@using EcommerceSystem.Models.NhomVatTuNhapRiengModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Tên nhóm vật tư nhập riêng: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Kho ID: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.KhoId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.KhoId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Dạng mã: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.DangMa, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.DangMa)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Tên nhóm: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.TenNhom, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.TenNhom)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

