﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.NhomVatTuNhapRiengModel.NhomVatTuNhapRiengSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Mã kho</th>
				<th class="task-deadline">Dạng mã</th>
				<th class="task-deadline">Tên nhóm</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.NhomVatTuNhapRiengs != null && Model.NhomVatTuNhapRiengs.Any())
            {
                foreach (var item in Model.NhomVatTuNhapRiengs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.</td>
						<td>@item.DangMa</td>
						<td>@item.TenNhom</td>
						
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "NhomVatTuNhapRieng", new {id = @item.NhomVatTuNhapRiengId})" title="Chỉnh sửa Nhóm vật tư nhập riêng" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.NhomVatTuNhapRiengId"><i data-id="@item.NhomVatTuNhapRiengId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.NhomVatTuNhapRiengId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("nhomVatTuNhapRiengModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
