﻿@model RoleModel
@using EcommerceSystem.Models
@using EcommerceSystem.Models.Role
@using EcommerceSystem.Core.Helpers
@using EcommerceSystem.Web.Framework.Helpers
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-info"></i> Thông tin chính</h6>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-1 control-label text-right">Mã Quyền: </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(c => c.Code, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label text-right">Tên quyền : </label>
            <div class="col-sm-5">
                @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Name)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label text-right">Ghi chú: </label>
            <div class="col-sm-5">
                @Html.TextAreaFor(c => c.Note, new { @class = "form-control", @rows = "4" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-5">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>
    </div>

    @{var listChecked = (Model.ModuleActions != null && Model.ModuleActions.Any(c => c.IsChecked)) ? string.Join(",", Model.ModuleActions.Where(c => c.IsChecked).Select(c => c.ModuleActionId)) : string.Empty;}
    <!-- modal info -->
    <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-droplet"></i> Quyền truy cập hệ thống </h6>
    </div>
    <div class="panel-body">
        @if (Model != null && Model.ModuleActions != null)
        {
            var rowCount = Enum.GetValues(typeof(ModuleType)).Length;
            var index = 0;
            foreach (ModuleType roleType in Enum.GetValues(typeof(ModuleType)))
            {
                index++;
                var parentId = Guid.NewGuid();
                var rootItem = "root_" + parentId;
                var noneBorder = index == rowCount ? "role-form-group-last" : "";
                <div class="form-group role-form-group mg-top10px @noneBorder">
                    <div class="role-bd-right col-sm-12">
                        <label class="control-label fw-600 text-right">
                            <input  id="@rootItem" type="checkbox" class="styled checkedAll" data-main="@parentId" />
                            @(EnumHelper<ModuleType>.GetDisplayValue(roleType))
                        </label>
                    </div>
                    <div class="col-sm-12 role-item">
                        <div class="block-inner mg-bottom-10px" id="@parentId">
                            @{ var isCheckAll = 0; }
                            @foreach (var item in Model.ModuleActions.Where(c => c.Module.Equals(roleType.ToString())))
                            {
                                <div class="col-md-2">
                                    <label class="checkbox-inline">
                                        @if (item.IsChecked)
                                        {
                                            isCheckAll = (isCheckAll == 2) ? 2 : 1;
                                            <input type="checkbox" checked="checked" data-role="@item.ModuleActionId" class="styled item-checked" />
                                        }
                                        else
                                        {
                                            isCheckAll = 2;
                                            <input type="checkbox" data-role="@item.ModuleActionId" class="styled item-checked" />
                                        }
                                        @RoleHelper.GetDisplayActionName(item.Action)
                                    </label>
                                </div>
                            }
                            <input type="hidden" data-root="@rootItem" value="@(isCheckAll == 2 ? 0 : 1)" />
                        </div>
                    </div>
                </div>
            }
        }
        <input type="hidden" name="roleModuleActionStr" id="hddModuleAction" value="@listChecked" />
    </div>

</div>

