﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.Role.RoleSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline sorting @((!string.IsNullOrEmpty(Model.SortColumn) && Model.SortDirection == "1")? "sorting_desc" : "sorting_asc")" data-column="Code">Mã Quyền</th>
                <th class="task-deadline sorting @((!string.IsNullOrEmpty(Model.SortColumn) && Model.SortDirection == "1")? "sorting_desc" : "sorting_asc")" data-column="Name">Tên Quyền</th>
                <th class="task-deadline">Ghi chú</th>
                <th class="task-deadline">Ngày tạo</th>
                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Roles.Any())
            {
                foreach (var item in Model.Roles)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                        <td>@item.Note</td>
                        <td>@Html.FormatDate(item.CreatedDate)</td>
                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.RoleId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.RoleId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "Role", new {id = @item.RoleId})" title="edit contract" class="tip"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.RoleId"><i data-id="@item.RoleId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.RoleId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("roleModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
