﻿@model YeuCauMuaHangModel
@using EcommerceSystem.Models.YeuCauMuaHangModel
@using EcommerceSystem.Models
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.datetimepicker.css">

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Xưởng: </label>
            <div class="col-sm-4">
                @Html.DropDownListFor(c => c.XuongId, new SelectList(ViewBag.XuongGroups, "XuongId", "Title", Model), "Chọn xưởng", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.XuongId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Kho: </label>
            <div class="col-sm-4">
                @Html.DropDownListFor(c => c.KhoId, new SelectList(ViewBag.KhoGroups, "KhoId", "Title", Model), "Chọn kho", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.KhoId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Chi tiết vật tư: </label>
            <div class="col-sm-4">
                <select id="ChiTietVatTuId" name="ChiTietVatTuId" data-placeholder="Chọn chi tiết vật tư" class="chosen-select">
                    <option Value=null>Chọn chi tiết vật tư</option>
                    @foreach (var s in ViewBag.ChiTietVatTuGroups)
                    {
                        <option value="@s.ChiTietVatTuId" @(Model.ChiTietVatTuId == s.ChiTietVatTuId ? "selected" : "")> @s.MaChiTietVatTu - @s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.ChiTietVatTuId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Phiếu yêu cầu mua hàng: </label>
            <div class="col-sm-4">
                <select id="PKHPhieuYeuCauMuaHangId" name="PKHPhieuYeuCauMuaHangId" data-placeholder="Chọn phiếu yêu cầu mua hàng" class="chosen-select">
                    <option value=null>Chọn phiếu yêu cầu mua hàng</option>
                    @foreach (var s in ViewBag.PhieuYeuCauMuaHangGroups)
                    {
                        <option value="@s.PKHPhieuYeuCauMuaHangId" @(Model.PKHPhieuYeuCauMuaHangId == s.PKHPhieuYeuCauMuaHangId ? "selected" : "")> @s.Title </option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Tên yêu cầu mua hàng: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Title)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Số PR: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.SoPR, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.SoPR)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Ngày yêu cầu: </label>
            <div class="col-sm-4">
                @Html.TextBoxFor(c => c.NgayYeuCau, new { @class = "form-control datepicker"})
                @Html.ValidationMessageFor(c => c.NgayYeuCau)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Ngày kết thúc: </label>
            <div class="col-sm-4">
                @Html.TextBoxFor(c => c.NgayKetThucDuKien, new { @class = "form-control datepicker"})
                @Html.ValidationMessageFor(c => c.NgayKetThucDuKien)
            </div>
            <span class="color-red">(*)</span>
        </div>
        @*<div class="form-group">
            <label class="col-sm-3 control-label text-right">Tổng số lượng: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.TongSoLuong, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.TongSoLuong)
            </div>
            <span class="color-red">(*)</span>
        </div>*@
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Nội dung: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.NoiDung, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Ghi chú: </label>
            <div class="col-sm-8">
                @Html.TextAreaFor(c => c.GhiChu, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">Trạng thái: </label>
            <div class="col-sm-8">
                @{
                    List<SelectListItem> listTrangThai = new List<SelectListItem>();
                    listTrangThai.Add(new SelectListItem
                    {
                        Text = "Chọn trạng thái",
                        Value = null
                    });
                    listTrangThai.Add(new SelectListItem
                    {
                        Text = "Đã hủy",
                        Value = "0"
                    });
                    listTrangThai.Add(new SelectListItem
                    {
                        Text = "Đang chờ",
                        Value = "1"
                    });
                    listTrangThai.Add(new SelectListItem
                    {
                        Text = "Đã xử lý",
                        Value = "2"
                    });
                    listTrangThai.Add(new SelectListItem
                    {
                        Text = "Đã hoàn thành",
                        Value = "3"
                    });
                }
                @Html.DropDownList("TrangThai", listTrangThai, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.TrangThai)
            </div>
            <span class="color-red">(*)</span>
        </div>

        @*<div class="form-group">
            <label class="col-sm-3 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script src="~/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/assets/js/datepicker-vi.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%' });
        $(".datepicker").datepicker();
    });
</script>


