﻿@using EcommerceSystem.Web.Framework.Helpers
@using EcommerceSystem.Models
@model EcommerceSystem.Models.YeuCauMuaHangModel.YeuCauMuaHangSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline">Số PR (Số PYC)</th>
                <th class="task-deadline">Ngày yêu cầu</th>
                <th class="task-deadline">Ngày dự kiến kết thúc</th>
                <th class="task-deadline">Nội dung</th>
                <th class="task-deadline">Tình trạng</th>
                <th class="task-deadline">Ghi chú</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.YeuCauMuaHangs!=null && Model.YeuCauMuaHangs.Any())
            {
                foreach (var item in Model.YeuCauMuaHangs)
                {
                    var ngayYeuCau = (item.NgayYeuCau != null) ? DateTime.Parse(item.NgayYeuCau.ToString()).ToShortDateString() : string.Empty ;
                    var ngayKetThucDuKien = (item.NgayKetThucDuKien != null) ? DateTime.Parse(item.NgayKetThucDuKien.ToString()).ToShortDateString() : string.Empty;

                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td>@item.SoPR</td>
                        <td>@ngayYeuCau</td>
                        <td>@ngayKetThucDuKien</td>
                        <td>@item.NoiDung</td>
                        <td>@(Html.GetDisplayName((TrangThaiYeuCauMuaHang)item.TrangThai))</td>
                        <td>@item.GhiChu</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "YeuCauMuaHang", new {id = @item.YeuCauMuaHangId})" title="Chỉnh sửa Danh sách yêu cầu mua hàng" class="tip dialog"><i class="icon-pencil3"></i></a>
                                <a href="javascript:void(0)" class="tip" data-id="@item.YeuCauMuaHangId"><i data-id="@item.YeuCauMuaHangId" class="icon-remove4"></i></a>
                                <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.YeuCauMuaHangId">
                                    @if (item.Status)
                                    {
                                        <i class="icon-eye5"></i>
                                    }
                                    else
                                    {
                                        <i class="icon-eye4"></i>
                                    }
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("yeuCauMuaHangModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
