﻿@model EcommerceSystem.Models.Role.RoleModel

@{
    ViewBag.Title = " Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Quản lý phân quyền</h3>
        </div>
    </div>
    @using (Html.BeginForm("Create", "Role", FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal" }))
    {
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li><a href="@Url.Action("Index", "Role")">Phân quyền</a></li>
                <li class="active">Thêm mới</li>
            </ul>
            <div class="form-actions action-breadcrumb">
                <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@Url.Action("Index", "Role")' ">
                    <i class="icon-exit3"></i> Hủy
                </button>
                <button type="submit" class="btn btn-xs btn-danger">
                    <i class="icon-plus-circle"></i> Lưu
                </button>
            </div>
            <div class="visible-xs breadcrumb-toggle">
                <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
            </div>
        </div>

        @Html.Partial("Partial/_Role", Model)

        <div class="form-actions text-right mr-10 margin-bottom-10">
            <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@Url.Action("Index", "Role")'">
                <i class="icon-exit3"></i> Hủy
            </button>
            <button type="submit" class="btn btn-xs btn-danger">
                <i class="icon-plus-circle"></i> Lưu
            </button>
        </div>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            roleModule.init();
        });
    </script>
}