﻿@model EcommerceSystem.Models.PKHDuKienGiaoHangModel.PKHDuKienGiaoHangSearchModel
@using EcommerceSystem.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Quản lý Dự kiến giao hàng</h3>
            <h6>Tên phiếu yêu cầu mua hàng:  <a>@Model.TenPhieuYeuCauMuaHang</a>. Tên chi tiết phiếu yêu cầu mua hàng:  <a>@Model.TenPhieuYeuCauMuaHangDetail</a>.</h6>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("Index", "PKHPhieuYeuCauMuaHang")">Phiếu yêu cầu mua hàng</a></li>
            <li><a href="@Url.Action("Index", "PKHPhieuYeuCauMuaHangDetail", new { PKHPhieuYeuCauMuaHangId = Model.PhieuYeuCauMuaHangId })">Chi tiết phiếu yêu cầu mua hàng</a></li>
            <li><a href="@Url.Action("Index", "PKHDuKienGiaoHang", new { PKHPhieuYeuCauMuaHangDetailId = Model.PhieuYeuCauMuaHangDetailId, PKHPhieuYeuCauMuaHangId = Model.PhieuYeuCauMuaHangId })">Dự kiến giao hàng</a></li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
    </div>
    <!-- /breadcrumbs line -->
    <div class="page-container">
        <!-- Page content -->
        <div class="row form-group">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-pane mg-top-25px">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Tìm kiếm</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(c => c.TextSearch, new { @class = "form-control", @placeholder = "Nội dung tìm kiếm" })
                                </div>
                                <div class="col-sm-1">
                                    <input type="button" id="btnSearch" value="Tìm kiếm" class="btn btn-danger w100" />
                                </div>
                                <div class="right-button col-sm-4 mg-right-20px">
                                </div>
                            </div>
                        </form>
                        <div class="right-button col-sm-1.5">
                            <a class="btn btn-right-icon btn-info float-right dialog" title="Thêm mới Dự kiến giao hàng" href="@Url.Action("Create", "PKHDuKienGiaoHang", new { PKHPhieuYeuCauMuaHangDetailId = Model.PhieuYeuCauMuaHangDetailId, PKHPhieuYeuCauMuaHangId = Model.PhieuYeuCauMuaHangId })">
                                <i class="icon-plus"></i> Thêm mới
                            </a>
                        </div>
                        <div class="right-button col-sm-3">
                            <a class="btn btn-right-icon btn-info float-right " title="Quay lại phiếu yêu cầu giao hàng" href="@Url.Action("Index", "PKHPhieuYeuCauMuaHangDetail", new { PKHPhieuYeuCauMuaHangId = Model.PhieuYeuCauMuaHangId })">
                                Quay lại
                            </a>
                        </div>
                        <div id="main-pKHDuKienGiaoHang">
                            @Html.Partial("~/Views/PKHDuKienGiaoHang/Partial/_ListItems.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>

</div>
<div id="pKHDuKienGiaoHang-action"></div>
@Html.Partial("Partial/_ConfirmPartial", new ConfirmModel { Id = "pKHDuKienGiaoHang", Title = "Xác nhận hành động", Content = "Bạn có muốn thực hiện xóa.?" })
@section scripts
{
    <script src="~/Assets/scripts/ecommerceSystem.PKHDuKienGiaoHang.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            pKHDuKienGiaoHangModule.init();
        });
    </script>
}