﻿@model PKHKeHoachXuongModel
@using EcommerceSystem.Models.PKHKeHoachXuongModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Title: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">PKHKeHoachSXNKXHId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.PKHKeHoachSXNKXHId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.PKHKeHoachSXNKXHId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">XuongId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.XuongId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.XuongId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">TinhTrang: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.TinhTrang, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.TinhTrang)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">GhiChu: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.GhiChu)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

