﻿@using EcommerceSystem.Web.Framework.Helpers
@using EcommerceSystem.Models
@model EcommerceSystem.Models.PKHKeHoachXuongModel.PKHKeHoachXuongSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline">Từ ngày</th>
                <th class="task-deadline">Đến ngày</th>
                <th class="task-deadline">Xưởng</th>
                <th class="task-deadline">Tình trạng</th>
                <th class="task-deadline">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHKeHoachXuongs.Any())
            {
                foreach (var item in Model.PKHKeHoachXuongs)
                {
                    var parent = Guid.NewGuid();
            <tr role="row" id="@parent">
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td><a href="@(Url.Action("Index", "PKHKeHoachNhapKhoThanhPhamDetail", new { PKHKeHoachXuongId = @item.PKHKeHoachXuongId, }))">@item.TenXuong</a></td>
                <td>@(Html.GetDisplayName((TrangThaiNhapkhoThanhPham)(item.TinhTrang)))</td>
                <td>@item.GhiChu</td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHKeHoachXuongModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
