﻿@model PKHKeHoachGiaoHangModel
@using EcommerceSystem.Models.PKHKeHoachGiaoHangModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Kế hoạch xưởng: </label>
			<div class="col-sm-8">			
                @Html.DropDownListFor(c => c.PKHKeHoachXuongId, new SelectList(ViewBag.KeHoachXuongGroups, "PKHKeHoachXuongId", "Title", Model), "Chọn danh sách kế hoạch xưởng", new { @class = "form-control" })
                @Html.ValidationMessageFor(c =>  c.PKHKeHoachXuongId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Kế hoạch SXNKXH: </label>
			<div class="col-sm-8">
                @Html.DropDownListFor(c => c.PKHKeHoachSXNKXHId, new SelectList(ViewBag.KeHoachSXNKXHs, "PKHKeHoachSXNKXHId", "Title", Model), "Chọn danh sách SXNKXH", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.PKHKeHoachSXNKXHId)
				
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Tuần: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.MaTuan, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.MaTuan)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Ngày bắt đầu: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayBatDauDangChuoi, new { @class = "form-control datepicker" })
				@Html.ValidationMessageFor(c => c.StartDate)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Ngày kết thúc: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayKetThucDangChuoi, new { @class = "form-control datepicker" })
				@Html.ValidationMessageFor(c => c.EndDate)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Xưởng: </label>
			<div class="col-sm-8">
				
                @Html.DropDownListFor(c => c.XuongId, new SelectList(ViewBag.XuongGroups, "XuongId", "Title", Model), "Chọn xưởng", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.XuongId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Ghi chú: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.GhiChu)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/Assets/js/bootstrap.js"></script>
<script src="~/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/assets/js/datepicker-vi.js" type="text/javascript"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Assets/js/plugins/interface/moment.js"></script>
<script src="~/Assets/scripts/ecommerceSystem.PKHKeHoachGiaoHang.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.fn.datepicker.defaults.language = 'vi';
        $(".datepicker").datepicker();
        pKHKeHoachSXNKXHModule.init();

    });
</script>