﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHKeHoachGiaoHangModel.PKHKeHoachGiaoHangSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				
				<th class="task-deadline">Kế hoạch xưởng</th>
				<th class="task-deadline">Kế hoạch SXNKXH</th>
				<th class="task-deadline">Tuần</th>
				<th class="task-deadline">Ngày bắt đầu</th>
				<th class="task-deadline">Ngày kết thúc</th>
				<th class="task-deadline">Xưởng</th>
				<th class="task-deadline">Tình trạng giao hàng</th>
				<th class="task-deadline">Ghi chú</th>
				<th class="task-deadline">Ngày tạo</th>

                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHKeHoachGiaoHangs !=null && Model.PKHKeHoachGiaoHangs.Any())
            {
                foreach (var item in Model.PKHKeHoachGiaoHangs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						
						<td>@item.KeHoachXuongName</td>
						<td>@item.KeHoachSXNKXHName</td>
						<td>@item.MaTuan</td>
						<td>@item.StartDate.Value.ToString("dd/MM/yyyy")</td>
						<td>@item.EndDate.Value.ToString("dd/MM/yyyy")</td>
						<td>@item.XuongName</td>
                        <td>
                            
                            @{
                                EcommerceSystem.Models.TrangThaiGiaoHang temp = (EcommerceSystem.Models.TrangThaiGiaoHang)item.TinhTrang;
                                var trangThai = Html.GetDisplayName(temp);
                            }
                            @trangThai
                        </td>
						<td>@item.GhiChu</td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.PKHKeHoachGiaoHangId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.PKHKeHoachGiaoHangId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHKeHoachGiaoHang", new {id = @item.PKHKeHoachGiaoHangId})" title="Chỉnh sửa PKHKeHoachGiaoHang" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHKeHoachGiaoHangId"><i data-id="@item.PKHKeHoachGiaoHangId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHKeHoachGiaoHangId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHKeHoachGiaoHangModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
