﻿@model DinhMucSanXuatModel
@using EcommerceSystem.Models.DinhMucSanXuatModel

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Tên định mức sản xuất: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Title)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Mã định mức sản xuất: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.MaDinhMucSanXuat, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.MaDinhMucSanXuat)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Số chứng từ: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.SoChungTu, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.SoChungTu)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Chi tiết vật tư: </label>
            <div class="col-sm-8">
                @Html.DropDownListFor(c => c.ChiTietVatTuId, Model.ListChiTietVatTu, "Chọn Chi tiết vật tư", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.ChiTietVatTuId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Tên thành phẩm: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.TenThanhPham, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.TenThanhPham)
            </div>
            <span class="color-red">(*)</span>
        </div>*@
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Mã cấp phát: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.MaCapPhat, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.MaCapPhat)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Loại: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.Loai, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Loai)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Kho quyết toán: </label>
            <div class="col-sm-4">
                @Html.DropDownListFor(c => c.KhoQuyetToanId, Model.ListKho, "Chọn kho", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.KhoQuyetToanId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Diễn giải: </label>
            <div class="col-sm-8">
                @Html.TextAreaFor(c => c.DienGiai, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Ghi chú: </label>
            <div class="col-sm-8">
                @Html.TextAreaFor(c => c.GhiChu, new { @class = "form-control" })
            </div>
        </div>
        

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

