﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.DinhMucSanXuatModel.DinhMucSanXuatSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
        <tr role="row">
            <th class="task-deadline" style="display:none;">Id</th>
            <th class="task-deadline">Mã định mức</th>
            <th class="task-deadline">Mã thành phẩm</th>
            <th class="task-deadline">Tên thành phẩm</th>
            <th class="task-deadline">Mã cấp phát</th>
            <th class="task-deadline">Ngày lập</th>
            <th class="task-deadline">Loại</th>
            <th class="task-deadline">Ghi chú</th>
            <th class="task-date-added">Tác vụ</th>
        </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.DinhMucSanXuats != null && Model.DinhMucSanXuats.Any())
            {
                foreach (var item in Model.DinhMucSanXuats)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td style="display:none;">@item.DinhMucSanXuatId</td>
                        <td><a href="@(Url.Action("Index", "DanhSachChiTiet", new { dinhMucSanXuatId = @item.DinhMucSanXuatId}))">@item.MaDinhMucSanXuat</a></td>
                        <td><a href="@(Url.Action("Index", "DanhSachChiTiet", new { dinhMucSanXuatId = @item.DinhMucSanXuatId}))">@item.MaThanhPham</a></td>
                        <td><a href="@(Url.Action("Index", "DanhSachChiTiet", new { dinhMucSanXuatId = @item.DinhMucSanXuatId}))">@item.TenThanhPham</a></td>
                        <td><a href="@(Url.Action("Index", "DanhSachChiTiet", new { dinhMucSanXuatId = @item.DinhMucSanXuatId}))">@item.MaCapPhat</a></td>
                        <td>@item.CreatedDate</td>
                        <td>@item.Loai</td>
                        <td>@item.GhiChu</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "DinhMucSanXuat", new {id = @item.DinhMucSanXuatId})" title="Chỉnh sửa Định mức sản xuất" class="tip dialog"><i class="icon-pencil3"></i></a>
                                <a href="javascript:void(0)" class="tip" data-id="@item.DinhMucSanXuatId"><i data-id="@item.DinhMucSanXuatId" class="icon-remove4"></i></a>
                                <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.DinhMucSanXuatId">
                                    @if (item.Status)
                                    {
                                        <i class="icon-eye5"></i>
                                    }
                                    else
                                    {
                                        <i class="icon-eye4"></i>
                                    }
                                </a>
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("dinhMucSanXuatModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
