﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.VatTuCapRiengModel.VatTuCapRiengSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Tên</th>
				<th class="task-deadline">Vật tư ID</th>
				<th class="task-deadline">Nhóm sản phẩm ID</th>
				<th class="task-deadline">Ngày ghi</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.VatTuCapRiengs != null && Model.VatTuCapRiengs.Any())
            {
                foreach (var item in Model.VatTuCapRiengs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.Title</td>
						<td>@item.VatTuId</td>
						<td>@item.NhomSanPhamId</td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "VatTuCapRieng", new {id = @item.VatTuCapRiengId})" title="Chỉnh sửa Vật tư cấp riêng" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.VatTuCapRiengId"><i data-id="@item.VatTuCapRiengId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.VatTuCapRiengId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("vatTuCapRiengModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
