﻿@model LoaiVatTuModel
@using EcommerceSystem.Models.LoaiVatTuModel

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Mã loại vật tư: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.MaLoaiVatTu, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.MaLoaiVatTu)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Tên: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Title)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Cấp: </label>
            <div class="col-sm-3">
                @{
                    List<SelectListItem> listCap = new List<SelectListItem>();
                    listCap.Add(new SelectListItem
                    {
                        Text = "Chọn cấp",
                        Value = null
                    });
                    listCap.Add(new SelectListItem
                    {
                        Text = "1",
                        Value = "1"
                    });
                    listCap.Add(new SelectListItem
                    {
                        Text = "2",
                        Value = "2"
                    });
                    listCap.Add(new SelectListItem
                    {
                        Text = "3",
                        Value = "3"
                    });
                    listCap.Add(new SelectListItem
                    {
                        Text = "4",
                        Value = "4"
                    });
                }
                @Html.DropDownList("Cap", listCap, new { @class = "form-control" })
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Loại: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.Type, new { @class = "form-control", type = "number", min = "0" })
                @Html.ValidationMessageFor(c => c.Type)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Ghi chú: </label>
            <div class="col-sm-8">
                @Html.TextAreaFor(c => c.GhiChu, new { @class = "form-control" })
            </div>
        </div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

