﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.LoaiVatTuModel.LoaiVatTuSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline">Mã loại</th>
                <th class="task-deadline">Tên</th>
                <th class="task-deadline">Ngày ghi</th>
                <th class="task-deadline">Cấp</th>
                @*<th class="task-deadline">Phân loại</th>*@
                <th class="task-deadline">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.LoaiVatTus != null && Model.LoaiVatTus.Any())
            {
                foreach (var item in Model.LoaiVatTus)
                {
                    var parent = Guid.NewGuid();
            <tr role="row" id="@parent">
                <td>@item.MaLoaiVatTu</td>
                <td>@item.Title</td>
                <td>@item.CreatedDate</td>
                <td>@item.Cap</td>
                @*<td>@item.Type</td>*@

                @*<td class="text-center">
                    @{ var clssActive = "hide";}
                    @{ var clssInActive = "hide";}
                    @if (item.Status && item.Status)
                    {
                        clssActive = "show";
                    }
                    else
                    {
                        clssInActive = "show";
                    }

                    <span data-span="active_@item.LoaiVatTuId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                    <span data-span="inactive_@item.LoaiVatTuId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                </td>*@
                <td class="text-center">
                    <div class="icons-group">
                        <a href="@Url.Action("Edit", "LoaiVatTu", new {id = @item.LoaiVatTuId})" title="Chỉnh sửa Loại vật tư" class="tip dialog"><i class="icon-pencil3"></i></a>
                        <a href="javascript:void(0)" class="tip" data-id="@item.LoaiVatTuId"><i data-id="@item.LoaiVatTuId" title="Xóa Loại vật tư" class="icon-remove4"></i></a>
                        @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" title="Chỉnh sửa trạng thái Loại vật tư" data-id="@item.LoaiVatTuId">
                            @if (item.Status)
                            {
                                <i class="icon-eye5"></i>
                            }
                            else
                            {
                                <i class="icon-eye4"></i>
                            }
                        </a>*@
                    </div>
                </td>
            </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("loaiVatTuModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
