﻿@model EcommerceSystem.Models.LoaiVatTuModel.LoaiVatTuSearchModel
@using EcommerceSystem.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Quản lý Loại vật tư</h3>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("Index", "LoaiVatTu")">Loại vật tư</a></li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
    </div>
    <!-- /breadcrumbs line -->
    <div class="page-container">
        <!-- Page content -->
        <div class="row form-group">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-pane mg-top-25px">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Tìm kiếm</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(c => c.TextSearch, new { @class = "form-control", @placeholder = "Nội dung tìm kiếm" })
                                </div>
                                <div class="col-sm-3">
                                    @{
                                        List<SelectListItem> listMaTen = new List<SelectListItem>();
                                        listMaTen.Add(new SelectListItem
                                        {
                                            Text = "Tìm theo tên",
                                            Value = "1"
                                        });
                                        listMaTen.Add(new SelectListItem
                                        {
                                            Text = "Tìm theo mã",
                                            Value = "2"
                                        });
                                        listMaTen.Add(new SelectListItem
                                        {
                                            Text = "Tìm theo tên và mã",
                                            Value = "0"
                                        });
                                    }
                                    @Html.DropDownList("MaTen", listMaTen, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-2">
                                    @{
                                        List<SelectListItem> listCap = new List<SelectListItem>();
                                        listCap.Add(new SelectListItem
                                        {
                                            Text = "Tìm theo cấp",
                                            Value = "0"
                                        });
                                        listCap.Add(new SelectListItem
                                        {
                                            Text = "1",
                                            Value = "1"
                                        });
                                        listCap.Add(new SelectListItem
                                        {
                                            Text = "2",
                                            Value = "2"
                                        });
                                        listCap.Add(new SelectListItem
                                        {
                                            Text = "3",
                                            Value = "3"
                                        });
                                        listCap.Add(new SelectListItem
                                        {
                                            Text = "4",
                                            Value = "4"
                                        });
                                    }
                                    @Html.DropDownList("Cap", listCap, new { @class = "form-control" })
                                </div>

                                <div class="col-sm-1">
                                    <input type="button" id="btnSearch" value="Tìm kiếm" class="btn btn-danger w100" />
                                </div>
                                <div class="right-button col-sm-4 mg-right-20px">
                                </div>
                            </div>
                        </form>
                        <div class="right-button col-sm-5">
                            <a class="btn btn-right-icon btn-info float-right dialog" title="Thêm mới Loại vật tư" href="@Url.Action("Create", "LoaiVatTu")">
                                <i class="icon-plus"></i> Thêm mới
                            </a>
                        </div>
                        <div id="main-loaiVatTu">
                            @Html.Partial("~/Views/LoaiVatTu/Partial/_ListItems.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>

</div>
<div id="loaiVatTu-action"></div>
@Html.Partial("Partial/_ConfirmPartial", new ConfirmModel { Id = "loaiVatTu", Title = "Xác nhận hành động", Content = "Bạn có muốn thực hiện xóa.?" })
@section scripts
{
    <script src="~/Assets/scripts/ecommerceSystem.LoaiVatTu.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            loaiVatTuModule.init();
        });
    </script>
}