﻿@model EcommerceSystem.Models.PKHKeHoachNhapKhoThanhPhamDetailModel.PKHKeHoachNhapKhoThanhPhamDetailSearchModel
@using EcommerceSystem.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Quản lý Kế hoạch chi tiết nhập kho thành phẩm</h3>
            <h6>Tên kế hoạch xưởng:  <a>@Model.TenKeHoachXuong</a>. </h6>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("KeHoachNhapKhoThanhPham", "PKHKeHoachXuong")">Kế hoạch nhập kho thành phẩm</a></li>
            <li><a href="@Url.Action("Index", "PKHKeHoachNhapKhoThanhPhamDetail", new {PKHKeHoachXuongId = Model.PKHKeHoachXuongId})">Kế hoạch chi tiết nhập kho thành phẩm</a></li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
    </div>
    <!-- /breadcrumbs line -->
    <div class="page-container">
        <!-- Page content -->
        <div class="row form-group">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-pane mg-top-25px">
                        <div class="form-horizontal">
                            <h5 class="mg-left-15px"><b>Xưởng:  <a>@Model.TenXuong</a> </b></h5>
                            <h6 class="mg-left-15px"><a>@Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()</a></h6>
                        </div>
                        <!--Buttons-->
                        <div>
                            <div class="right-button col-sm-2">
                                <a class="btn btn-right-icon btn-info float-right dialog" title="Chuyển sang xưởng" href="@Url.Action("Create", "PKHPhieuYeuCauMuaHang")">
                                    Chuyển sang xưởng
                                </a>
                            </div>
                            <div class="right-button col-sm-1">
                                <a class="btn btn-right-icon btn-info float-right dialog" title="Lưu" href="@Url.Action("Create", "PKHPhieuYeuCauMuaHang")">
                                    Lưu
                                </a>
                            </div>
                            <div class="right-button col-sm-1">
                                <a class="btn btn-right-icon btn-danger float-right dialog" title="Hủy" href="@Url.Action("Create", "PKHPhieuYeuCauMuaHang")">
                                    Hủy
                                </a>
                            </div>
                            <div class="right-button col-sm-8">
                                <a class="btn btn-right-icon btn-info float-right dialog" title="Hoàn thành " href="@Url.Action("Create", "PKHPhieuYeuCauMuaHang")">
                                    Hoàn thành
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--Table Nội địa-->
                        <div>
                            <div><b>Nội địa</b></div>
                            <div id="main-pKHKeHoachNhapKhoThanhPhamDetail">
                                @Html.Partial("~/Views/PKHKeHoachNhapKhoThanhPhamDetail/Partial/_ListItemsNoiDia.cshtml", Model)
                            </div>
                        </div> <br />
                        <!--Table Xuất khẩu-->
                        <div>
                            <div><b>Xuất khẩu</b></div>
                            <div id="main-pKHKeHoachNhapKhoThanhPhamDetail">
                                @Html.Partial("~/Views/PKHKeHoachNhapKhoThanhPhamDetail/Partial/_ListItemsXuatKhau.cshtml", Model)
                            </div>
                        </div><br />
                        <!--Phân chia kế hoạch ngày-->
                        <div>
                            <div class="control-label text-right margin-right10"><b>Phân chia kế hoạch ngày</b></div>
                            <div class="control-label text-right margin-right10">Loại cân: </div>
                            <div class="form-horizontal">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-1">
                                    @Html.TextBoxFor(c => c.TextSearch, new { @class = "form-control", @placeholder = "T2" })
                                </div>
                                <div class="col-sm-1">
                                    @Html.TextBoxFor(c => c.TextSearch, new { @class = "form-control", @placeholder = "T3" })
                                </div>
                                <div class="col-sm-1">
                                    @Html.TextBoxFor(c => c.TextSearch, new { @class = "form-control", @placeholder = "T4" })
                                </div>
                                <div class="col-sm-1">
                                    @Html.TextBoxFor(c => c.TextSearch, new { @class = "form-control", @placeholder = "T5" })
                                </div>
                                <div class="col-sm-1">
                                    @Html.TextBoxFor(c => c.TextSearch, new { @class = "form-control", @placeholder = "T6" })
                                </div>
                                <div class="col-sm-1">
                                    @Html.TextBoxFor(c => c.TextSearch, new { @class = "form-control", @placeholder = "T7" })
                                </div>
                                <div class="col-sm-1">
                                    @Html.TextBoxFor(c => c.TextSearch, new { @class = "form-control", @placeholder = "CN" })
                                </div>
                                <div class="col-sm-1 control-label text-right">Tổng:</div>
                                <div class="col-sm-1">
                                    @Html.TextBoxFor(c => c.TextSearch, new { @class = "form-control" })
                                </div>
                                <div class="clearfix"></div><br/>
                            </div>
                            <button class="btn btn-right-icon btn-info float-right margin-bottom-10 margin-right10 dialog">Cập nhật</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>

</div>
<div id="pKHKeHoachNhapKhoThanhPhamDetail-action"></div>
@Html.Partial("Partial/_ConfirmPartial", new ConfirmModel { Id = "pKHKeHoachNhapKhoThanhPhamDetail", Title = "Xác nhận hành động", Content = "Bạn có muốn thực hiện xóa.?" })
@section scripts
{
    <script src="~/Assets/scripts/ecommerceSystem.PKHKeHoachNhapKhoThanhPhamDetail.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            pKHKeHoachNhapKhoThanhPhamDetailModule.init();
        });
    </script>
}