﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.DanhSachChiTietModel.DanhSachChiTietSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline" style="display:none;">DanhSachChiTietId</th>
                <th class="task-deadline">STT</th>
                <th class="task-deadline">Mã chi tiết</th>
                <th class="task-deadline">Tên chi tiết</th>
                <th class="task-deadline">Số lượng/Tấm ban đầu</th>
                <th class="task-deadline">Ghi chú</th>
                <th class="task-deadline" style="display:none;">Has Child</th>
                <th class="task-deadline" style="display:none;">Parent Id</th>
                <th class="task-deadline" style="display:none;">CreatedDate</th>

                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.DanhSachChiTiets != null && Model.DanhSachChiTiets.Any())
            {
                foreach (var item in Model.DanhSachChiTiets)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td style="display:none;">@item.DanhSachChiTietId</td>
                        <td></td>
                        <td>@item.MaChiTietVatTu</td>
                        <td>@item.TenChiTietVatTu</td>
                        <td>@item.SoLuong</td>
                        <td>@item.GhiChu</td>
                        <td style="display:none;">@item.HasChild</td>
                        <td style="display:none;">@item.ParentId</td>
                        <td style="display:none;">@item.CreatedDate</td>                        
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("EditDinhMucCatTole", "DanhSachChiTiet", new {id = @item.DanhSachChiTietId})" title="Chỉnh sửa" class="tip dialog"><i class="icon-pencil3"></i></a>
                                <a href="javascript:void(0)" class="tip" data-id="@item.DanhSachChiTietId"><i data-id="@item.DanhSachChiTietId" class="icon-remove4"></i></a>
                                <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.DanhSachChiTietId">
                                    @if (item.Status)
                                    {
                                        <i class="icon-eye5"></i>
                                    }
                                    else
                                    {
                                        <i class="icon-eye4"></i>
                                    }
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("danhSachChiTietModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>

