﻿@model DanhSachChiTietModel
@using EcommerceSystem.Models.DanhSachChiTietModel
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <div class="form-group" style="display: none">
            <label class="col-sm-2 control-label text-right">Định mức cắt tole Id: </label>
            <div class="col-sm-8">
                <input type="hidden" value="@Request.Params["dinhMucCatToleId"]" id="DinhMucCatToleId" name="DinhMucCatToleId" />

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Mã chi tiết: </label>
            <div class="col-sm-4">
                <select id="ChiTietVatTuId" name="ChiTietVatTuId" data-placeholder="Chọn chi tiết" class="chosen-select">
                    <option Value=null>Chọn chi tiết</option>
                    @foreach (var s in ViewBag.LoaiChiTiet)
                    {
                        <option value="@s.ChiTietVatTuId" @(Model.ChiTietVatTuId == s.ChiTietVatTuId ? "selected" : "")> @s.MaChiTietVatTu - @s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.ChiTietVatTuId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Số lượng: </label>
            <div class="col-sm-4">
                @Html.TextBoxFor(c => c.SoLuong, new { @class = "form-control", type = "number", min = "0" })
                @Html.ValidationMessageFor(c => c.SoLuong)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Ghi chú: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.GhiChu)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Có mã I: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.HasChild, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%' });
    });
</script>

