﻿@model DanhSachChiTietModel
@using EcommerceSystem.Models.DanhSachChiTietModel

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <div class="form-group" style="display: none">
            <label class="col-sm-2 control-label text-right">DinhMucSanXuatId: </label>
            <div class="col-sm-8">
                <input type="hidden" value="@Request.Params["dinhMucSanXuatId"]" id="DinhMucSanXuatId" name="DinhMucSanXuatId" />

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Mã Chi tiết vật tư: </label>
            <div class="col-sm-8">
                @Html.DropDownListFor(c => c.ChiTietVatTuId, Model.ListChiTietVatTu, "Chọn Chi tiết vật tư", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.ChiTietVatTuId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Tên Chi tiết vật tư: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.TenChiTietVatTu, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.TenChiTietVatTu)
            </div>
            <span class="color-red">(*)</span>
        </div>*@
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Định mức: </label>
            <div class="col-sm-4">
                @Html.TextBoxFor(c => c.SoLuong, new { @type = "number", @min = "0",  @class = "form-control" })
                @Html.ValidationMessageFor(c => c.SoLuong)
            </div>
            <span class="color-red">(*)</span>
        </div>
        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Đơn vị tính: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.DonVi, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.DonVi)
            </div>
            <span class="color-red">(*)</span>
        </div>*@
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Ghi chú: </label>
            <div class="col-sm-8">
                @Html.TextAreaFor(c => c.GhiChu, new { @class = "form-control" })
            </div>
        </div>
        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">HasChild: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.HasChild, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.HasChild)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Parent ID: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.ParentId, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.ParentId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Định mức cắt Tole ID: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.DinhMucCatToleId, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.DinhMucCatToleId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Định mức sản xuất ID: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.DinhMucSanXuatId, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.DinhMucSanXuatId)
            </div>
            <span class="color-red">(*)</span>
        </div>*@

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

