﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.DanhSachChiTietModel.DanhSachChiTietSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline" style="display:none;">DanhSachChiTietId</th>
                <th class="task-deadline" style="display:none;">Title</th>
                <th class="task-deadline" style="display:none;">ChiTietVatTuId</th>
                <th class="task-deadline" style="display:none;">SoLuongCoPhanId</th>
                <th class="task-deadline">Mã chi tiết vật tư</th>
                <th class="task-deadline">Tên chi tiết vật tư</th>
                <th class="task-deadline">Số lượng</th>
                <th class="task-deadline">Đơn vị tính</th>
                <th class="task-deadline">Ghi chú</th>
                <th class="task-deadline" style="display:none;">HasChild</th>
                <th class="task-deadline" style="display:none;">ParentId</th>
                <th class="task-deadline" style="display:none;">DinhMucCatToleId</th>
                <th class="task-deadline" style="display:none;">DinhMucSanXuatId</th>
                <th class="task-deadline" style="display:none;">CreatedDate</th>

                <th class="task-deadline" style="display:none;">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.DanhSachChiTiets != null && Model.DanhSachChiTiets.Any())
            {
                foreach (var item in Model.DanhSachChiTiets)
                {
                    var parent = Guid.NewGuid();
            <tr role="row" id="@parent">
                <td style="display:none;">@item.DanhSachChiTietId</td>
                <td style="display:none;">@item.Title</td>
                <td style="display:none;">@item.ChiTietVatTuId</td>
                <td style="display:none;">@item.SoLuongCoPhanId</td>
                <td>@item.MaChiTietVatTu</td>
                <td>@item.TenChiTietVatTu</td>
                <td>@item.SoLuong</td>
                <td>@item.DonVi</td>
                <td>@item.GhiChu</td>
                <td style="display:none;">@item.HasChild</td>
                <td style="display:none;">@item.ParentId</td>
                <td style="display:none;">@item.DinhMucCatToleId</td>
                <td style="display:none;">@item.DinhMucSanXuatId</td>
                <td style="display:none;">@item.CreatedDate</td>

                <td class="text-center" style="display:none;">
                    @{ var clssActive = "hide";}
                    @{ var clssInActive = "hide";}
                    @if (item.Status && item.Status)
                    {
                        clssActive = "show";
                    }
                    else
                    {
                        clssInActive = "show";
                    }

                    <span data-span="active_@item.DanhSachChiTietId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                    <span data-span="inactive_@item.DanhSachChiTietId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                </td>
                <td class="text-center">
                    <div class="icons-group">
                        <a href="@Url.Action("Edit", "DanhSachChiTiet", new {id = @item.DanhSachChiTietId})" title="Chỉnh sửa DanhSachChiTiet" class="tip dialog"><i class="icon-pencil3"></i></a>
                        <a href="javascript:void(0)" class="tip" data-id="@item.DanhSachChiTietId"><i data-id="@item.DanhSachChiTietId" class="icon-remove4"></i></a>
                        <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.DanhSachChiTietId">
                            @if (item.Status)
                            {
                                <i class="icon-eye5"></i>
                            }
                            else
                            {
                                <i class="icon-eye4"></i>
                            }
                        </a>
                    </div>
                </td>
            </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("danhSachChiTietModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
