﻿@using EcommerceSystem.Web.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>Nhơn Hòa</title>
    <link rel="icon" sizes="192x192" href="/Assets/images/customer-avatar.png">
    @Styles.Render("~/admin-bundles/csshome")
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/elfinder/css/jquery-ui.css">
    @RenderSection("styles", false)
</head>

<body class="@ViewBag.BodyClass">
    <!-- Navbar -->
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">Nhơn Hòa CMS</a>
            <a class="sidebar-toggle"><i class="icon-paragraph-justify2"></i></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-icons">
                <span class="sr-only">Toggle navbar</span>
                <i class="icon-grid3"></i>
            </button>
            <button type="button" class="navbar-toggle offcanvas">
                <span class="sr-only">Toggle navigation</span>
                <i class="icon-paragraph-justify2"></i>
            </button>
        </div>
        
        @Html.Action("Header", "Home")
    </div>
    <!-- /navbar -->
    <!-- Page container -->
    <div class="page-container">
        @Html.Partial("~/Views/Shared/Partial/_LeftMenuPartial.cshtml")
        <!-- Page content -->
        <div class="page-content etech-page-content">
            <!-- Main content-->
            @RenderBody()
            <!-- End main content-->
            <!-- Footer -->
            @Html.Partial("~/Views/Shared/Partial/_FooterPartial.cshtml")
            <!-- /footer -->
        </div>
        <!-- /page content -->
    </div>
    <div id="divAjaxLoadingRequest" class=""></div>
    <a id="layout_modal_button" class="hidden" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="button" href="javascript:void(0);" data-target="#"></a>
    <!-- modal -->
    @Html.Partial("~/Views/Account/Partial/_ChangePassword.cshtml", new ChangePasswordViewModel())
    @Html.Partial("~/Views/Shared/Partial/_modalPartial.cshtml")

    <!-- /page container -->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jscommon")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Assets/js/autoNumeric.js"></script>
    <script type="text/javascript" src="~/Assets/lib/UI/jqueryui/jquery-ui.min.js"></script>

    <script src="~/Assets/js/bootstrap-notify.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script type="text/javascript" src="~/Assets/js/application.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript">
        var cookieName = "page_scroll"
        var expdays = 365

        // An adaptation of Dorcht's cookie functions.

        function setCookie(name, value, expires, path, domain, secure) {
            if (!expires) { expires = new Date() }
            document.cookie = name + "=" + escape(value) +
            ((expires == null) ? "" : "; expires=" + expires.toGMTString()) +
            ((path == null) ? "" : "; path=" + path) +
            ((domain == null) ? "" : "; domain=" + domain) +
            ((secure == null) ? "" : "; secure")
        }

        function getCookie(name) {
            var arg = name + "="
            var alen = arg.length
            var clen = document.cookie.length
            var i = 0
            while (i < clen) {
                var j = i + alen
                if (document.cookie.substring(i, j) == arg) {
                    return getCookieVal(j)
                }
                i = document.cookie.indexOf(" ", i) + 1
                if (i == 0) break
            }
            return null
        }

        function getCookieVal(offset) {
            var endstr = document.cookie.indexOf(";", offset)
            if (endstr == -1)
                endstr = document.cookie.length
            return unescape(document.cookie.substring(offset, endstr))
        }

        function deleteCookie(name, path, domain) {
            document.cookie = name + "=" +
            ((path == null) ? "" : "; path=" + path) +
            ((domain == null) ? "" : "; domain=" + domain) +
            "; expires=Thu, 01-Jan-00 00:00:01 GMT"
        }
        $(function () {
            @if (TempData["success"] != null)
            {
                @:common.notify.showSuccess("@TempData["success"]");
            }
            @if (TempData["error"] != null)
            {
                @:common.notify.showError("@TempData["error"]");
            }
            function reposition() {
                var modal = $(this),
                    dialog = modal.find('.modal-dialog');
                modal.css('display', 'block');

                // Dividing by two centers the modal exactly, but dividing by three
                // or four works better for larger screens.
                dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
            }
            // Reposition when a modal is shown
            $('.modal').on('show.bs.modal', reposition);
            // Reposition when the window is resized
            $(window).on('resize', function() {
                $('.modal:visible').each(reposition);
            });
        });
    </script>
</body>
</html>
