﻿@model KhoTinhTonModel
@using EcommerceSystem.Models.KhoTinhTonModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Tên kho tính tồn: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Tên kho: </label>
			<div class="col-sm-8">
				@Html.DropDownListFor(c => c.KhoId, new SelectList(ViewBag.KhoGroups, "KhoId", "Title", Model), "Chọn tên kho", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.KhoId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Tên nhóm sản phẩm: </label>
			<div class="col-sm-8">
				@Html.DropDownListFor(c => c.NhomSanPhamId, new SelectList(ViewBag.NhomSanPhamGroups, "NhomSanPhamId", "Title", Model), "Chọn tên nhóm sản phẩm", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.NhomSanPhamId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Ghi chú: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
			</div>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

