﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.KhoTinhTonModel.KhoTinhTonSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Tên kho tính tồn</th>
                <th class="task-deadline">Tên kho</th>
				<th class="task-deadline">Tên nhóm</th>
				<th class="task-deadline">Ghi chú</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.KhoTinhTons != null && Model.KhoTinhTons.Any())
            {
                foreach (var item in Model.KhoTinhTons)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.Title</td>
                        <td>@item.KhoName</td>
						<td>@item.NhomSanPhamName</td>
						<td>@item.GhiChu</td>
						
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "KhoTinhTon", new {id = @item.KhoTinhTonId})" title="Chỉnh sửa Kho tính tồn" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.KhoTinhTonId"><i data-id="@item.KhoTinhTonId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.KhoTinhTonId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("khoTinhTonModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
