﻿@model PKHKiemHoaModel
@using EcommerceSystem.Models.PKHKiemHoaModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">LoaiKiemHoa: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.LoaiKiemHoa, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.LoaiKiemHoa)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoKiemHoa: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoKiemHoa, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoKiemHoa)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">NgayLapPhieu: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayLapPhieu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.NgayLapPhieu)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">KhoId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.KhoId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.KhoId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Title: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">MaKiemHoa: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.MaKiemHoa, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.MaKiemHoa)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">PhieuNhap: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.PhieuNhap, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.PhieuNhap)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoHD: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoHD, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoHD)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">TrangThai: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.TrangThai, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.TrangThai)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

