﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHKiemHoaModel.PKHKiemHoaSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">PKHKiemHoaId</th>
				<th class="task-deadline">LoaiKiemHoa</th>
				<th class="task-deadline">SoKiemHoa</th>
				<th class="task-deadline">NgayLapPhieu</th>
				<th class="task-deadline">KhoId</th>
				<th class="task-deadline">Title</th>
				<th class="task-deadline">MaKiemHoa</th>
				<th class="task-deadline">PhieuNhap</th>
				<th class="task-deadline">SoHD</th>
				<th class="task-deadline">TrangThai</th>
				<th class="task-deadline">CreatedDate</th>

                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHKiemHoas.Any())
            {
                foreach (var item in Model.PKHKiemHoas)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.PKHKiemHoaId</td>
						<td>@item.LoaiKiemHoa</td>
						<td>@item.SoKiemHoa</td>
						<td>@item.NgayLapPhieu</td>
						<td>@item.KhoId</td>
						<td>@item.Title</td>
						<td>@item.MaKiemHoa</td>
						<td>@item.PhieuNhap</td>
						<td>@item.SoHD</td>
						<td>@item.TrangThai</td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.PKHKiemHoaId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.PKHKiemHoaId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHKiemHoa", new {id = @item.PKHKiemHoaId})" title="Chỉnh sửa PKHKiemHoa" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHKiemHoaId"><i data-id="@item.PKHKiemHoaId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHKiemHoaId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHKiemHoaModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
