﻿@model EcommerceSystem.Models.PKHPhieuYeuCauMuaHangDetailModel.PKHPhieuYeuCauMuaHangDetailModel

@{
    ViewBag.Title = "Edit PKHPhieuYeuCauMuaHangDetails";
    Layout = null;
}

<div class="page-content-inner popup">
    @using (Html.BeginForm("Edit", "PKHPhieuYeuCauMuaHangDetail", FormMethod.Post, new { id = "frmUpdate", @class = "form-horizontal" }))
    {
		@Html.AntiForgeryToken()
        var urlRedirect = "?PKHPhieuYeuCauMuaHangId=" + Model.PKHPhieuYeuCauMuaHangId;

    <div class="breadcrumb-line">
        PKHPhieuYeuCauMuaHangId
        <div class="form-actions action-breadcrumb">
            <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@Url.Action("Index", "PKHPhieuYeuCauMuaHangDetail")@urlRedirect' ">
                <i class="icon-exit3"></i> Thoát
            </button>
            <button type="submit" class="btn btn-xs btn-danger">
                <i class="icon-plus-circle"></i> Lưu
            </button>
        </div>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
        </div>
    </div>

        @Html.HiddenFor(c => c.PKHPhieuYeuCauMuaHangDetailId)
        @Html.Partial("Partial/_FormInput", Model)

        <div class="form-actions text-right mr-10 margin-bottom-10">
            <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@Url.Action("Index", "PKHPhieuYeuCauMuaHangDetail")@urlRedirect'">
                <i class="icon-exit3"></i> Thoát
            </button>
            <button type="submit" class="btn btn-xs btn-danger">
                <i class="icon-plus-circle"></i> Lưu
            </button>
        </div>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            pKHPhieuYeuCauMuaHangDetailModule.init();
        });
    </script>
}