﻿@model EcommerceSystem.Models.PKHPhieuYeuCauMuaHangDetailModel.PKHPhieuYeuCauMuaHangDetailSearchModel
@using EcommerceSystem.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Quản lý Chi tiết phiếu yêu cầu mua hàng</h3>
            <h6>Tên phiếu yêu cầu mua hàng:  <a>@Model.TenPhieuYeuCauMuaHang</a>. </h6>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("Index", "PKHPhieuYeuCauMuaHang")">Phiếu yêu cầu mua hàng</a></li>
            <li><a href="@Url.Action("Index", "PKHPhieuYeuCauMuaHangDetail", new { PKHPhieuYeuCauMuaHangId = Model.PKHPhieuYeuCauMuaHangId })">Chi tiết phiếu yêu cầu mua hàng</a></li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
    </div>
    <!-- /breadcrumbs line -->
    <div class="page-container">
        <!-- Page content -->
        <div class="row form-group">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-pane mg-top-25px">
                        <form class="form-horizontal">
                            <input type="hidden" id="PKHPhieuYeuCauMuaHangId" name="PKHPhieuYeuCauMuaHangId" value="@Model.PKHPhieuYeuCauMuaHangId" />
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Tìm kiếm</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(c => c.TextSearch, new { @class = "form-control", @placeholder = "Nội dung tìm kiếm" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.DropDownListFor(c => c.MaNhom, new SelectList(ViewBag.NhomYeuCauGroups, "NhomYeuCauId", "Title"), "Mã nhóm", new { @class = "form-control" })
                                </div>
                                <div class="col-sm-1">
                                    <input type="button" id="btnSearch" value="Tìm kiếm" class="btn btn-danger w100" />
                                </div>
                                <div class="right-button col-sm-4 mg-right-20px">
                                </div>
                            </div>
                        </form>
                        <div class="right-button col-sm-1.5">
                            <a class="btn btn-right-icon btn-info float-right dialog" title="Theo dõi Phiếu yêu cầu mua hàng" href="@Url.Action("TheoDoiPhieuYeuCauMuaHang", "PKHPhieuYeuCauMuaHang", new {id = Model.PKHPhieuYeuCauMuaHangId})">
                                <i class="icon-plus"></i> Tạo yêu cầu
                            </a>
                        </div>
                        <div class="right-button col-sm-2.5">
                            <a class="btn btn-right-icon btn-info float-right dialog" title="Thêm mới Chi tiết yêu cầu mua hàng" href="@Url.Action("Create", "PKHPhieuYeuCauMuaHangDetail", new {PKHPhieuYeuCauMuaHangId = Model.PKHPhieuYeuCauMuaHangId})">
                                <i class="icon-plus"></i> Thêm mới chi tiết yêu cầu
                            </a>
                        </div>
                        <div class="right-button col-sm-5">
                            @{
                                var urlRedirectYeuCauMuaHang = "?PKHPhieuYeuCauMuaHangId=" + Model.PKHPhieuYeuCauMuaHangId;
                            }
                            <a class="btn btn-right-icon btn-info float-right dialog" title="Thêm nhanh Nhóm yêu cầu" href="@Url.Action("Create", "NhomYeuCau")@urlRedirectYeuCauMuaHang">
                                <i class="icon-plus"></i> Thêm nhanh nhóm yêu cầu
                            </a>
                        </div>
                        <div id="main-pKHPhieuYeuCauMuaHangDetail">
                            @Html.Partial("~/Views/PKHPhieuYeuCauMuaHangDetail/Partial/_ListItems.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>

</div>
<div id="pKHPhieuYeuCauMuaHangDetail-action"></div>
@Html.Partial("Partial/_ConfirmPartial", new ConfirmModel { Id = "pKHPhieuYeuCauMuaHangDetail", Title = "Xác nhận hành động", Content = "Bạn có muốn thực hiện xóa.?" })
@section scripts
{
    <script src="~/Assets/scripts/ecommerceSystem.PKHPhieuYeuCauMuaHangDetail.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            pKHPhieuYeuCauMuaHangDetailModule.init();
        });
    </script>
}