﻿@model EcommerceSystem.Models.PKHPhieuYeuCauMuaHangDetailModel.PKHPhieuYeuCauMuaHangDetailSearchModel
@using EcommerceSystem.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content-inner popup">
    <div class="page-header">
        <div class="page-title">
            <h3>Theo dõi Chi tiết yêu cầu mua hàng</h3>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("Index", "YeuCauMuaHang")">Yêu cầu mua hàng</a></li>
            <li><a href="@Url.Action("TheoDoiPhieuYeuCauMuaHangDetail", "PKHPhieuYeuCauMuaHangDetail")">Theo dõi Chi tiết yêu cầu mua hàng</a></li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
    </div>
    <!-- /breadcrumbs line -->
    <div class="page-container">
        <!-- Page content -->
        <div class="row form-group">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-pane mg-top-25px">
                        <form class="form-horizontal">
                            <div class="right-button col-sm-1.5">
                                <a id="chuyenyeucau" class="btn btn-right-icon btn-info float-right " title="Chuyển yêu cầu" data-id="@Request.Params["PKHPhieuYeuCauMuaHangId"]">
                                    Chuyển yêu cầu
                                </a>
                            </div>
                            <div class="right-button col-sm-2.5">
                                <a id="hoanthanhyeucau" class="btn btn-right-icon btn-info float-right " title="Hoàn thành yêu cầu" data-id="@Request.Params["PKHPhieuYeuCauMuaHangId"]">
                                    Hoàn thành yêu cầu
                                </a>
                            </div>
                            <div class="right-button col-sm-5">
                                <a id="huyyeucau" class="btn btn-right-icon btn-danger float-right" title="Hủy yêu cầu" data-id="@Request.Params["PKHPhieuYeuCauMuaHangId"]">
                                    <i class="icon-exit3"></i> HỦY
                                </a>
                            </div>
                        </form>
                        <div id="main-pKHPhieuYeuCauMuaHangDetail">
                            @Html.Partial("~/Views/PKHPhieuYeuCauMuaHangDetail/Partial/_ListItemsTheoDoiPhieuYeuCauMuaHangDetail.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>

</div>
<div id="pKHPhieuYeuCauMuaHangDetail-action"></div>
@Html.Partial("Partial/_ConfirmPartial", new ConfirmModel { Id = "pKHPhieuYeuCauMuaHangDetail", Title = "Xác nhận hành động", Content = "Bạn có muốn thực hiện xóa.?" })
@section scripts
{
    <script src="~/Assets/scripts/ecommerceSystem.PKHPhieuYeuCauMuaHangDetail.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            pKHPhieuYeuCauMuaHangDetailModule.init();
        });
    </script>
}