﻿@model PKHDieuChuyenVatTuModel
@using EcommerceSystem.Models.PKHDieuChuyenVatTuModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Kế hoạch xưởng: </label>
			<div class="col-sm-8">
                @Html.DropDownListFor(c => c.PKHKeHoachXuongId, new SelectList(ViewBag.KeHoachXuongs, "PKHKeHoachXuongId", "Title", Model), "Chọn kế hoạch xưởng", new { @class = "form-control" })				
				@Html.ValidationMessageFor(c => c.PKHKeHoachXuongId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Kế hoạch SXNKXH: </label>
			<div class="col-sm-8">
                @Html.DropDownListFor(c => c.PKHKeHoachSXNKXHId, new SelectList(ViewBag.KeHoachSXNKXHs, "PKHKeHoachSXNKXHId", "Title", Model), "Chọn kế hoạch SXNKXH", new { @class = "form-control" })              
				@Html.ValidationMessageFor(c => c.PKHKeHoachSXNKXHId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Ngày lập: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayLapDangChuoi, new { @class = "form-control datepicker" })
				@Html.ValidationMessageFor(c => c.NgayLap)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Số chứng từ: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoChungTu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoChungTu)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Lý do xuất: </label>
			<div class="col-sm-8">
                @Html.DropDownListFor(c => c.LyDoXuatId, new SelectList(ViewBag.LyDoXuats, "LyDoXuatId", "Title", Model), "Chọn lý do xuất", new { @class = "form-control" })              
				@Html.ValidationMessageFor(c => c.LyDoXuatId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Loại điều chuyển: </label>
			<div class="col-sm-8">
                @Html.DropDownListFor(c => c.LoaiDieuChuyen, new SelectList(ViewBag.DanhMucDieuChuyenGroups, "Value", "Text", Model), "Chọn danh mục điều chuyển", new { @class = "form-control" })				
				@Html.ValidationMessageFor(c => c.LoaiDieuChuyen)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Kho xuất: </label>
			<div class="col-sm-8">
                @Html.DropDownListFor(c => c.KhoXuatId, new SelectList(ViewBag.Khos, "KhoId", "Title", Model), "Chọn kho xuất", new { @class = "form-control" })                
				@Html.ValidationMessageFor(c => c.KhoXuatId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Kho nhập: </label>
			<div class="col-sm-8">
                @Html.DropDownListFor(c => c.KhoNhapId, new SelectList(ViewBag.Khos, "KhoId", "Title", Model), "Chọn kho nhập", new { @class = "form-control" })               
				@Html.ValidationMessageFor(c => c.KhoNhapId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Xưởng xuất: </label>
			<div class="col-sm-8">
                @Html.DropDownListFor(c => c.XuongXuatId, new SelectList(ViewBag.Xuongs, "XuongId", "Title", Model), "Chọn xưởng xuất", new { @class = "form-control" })                
				@Html.ValidationMessageFor(c => c.XuongXuatId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Xưởng nhập: </label>
			<div class="col-sm-8">
                @Html.DropDownListFor(c => c.XuongNhapId, new SelectList(ViewBag.Xuongs, "XuongId", "Title", Model), "Chọn xưởng nhập", new { @class = "form-control" })                
				@Html.ValidationMessageFor(c => c.XuongNhapId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Người nhận: </label>
			<div class="col-sm-8">
                @Html.DropDownListFor(c => c.NguoiNhanId, new SelectList(ViewBag.NguoiNhanKhos, "NguoiNhanKhoId", "Title", Model), "Chọn người nhận", new { @class = "form-control" })                
				@Html.ValidationMessageFor(c => c.NguoiNhanId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Người giao: </label>
			<div class="col-sm-8">
                @Html.DropDownListFor(c => c.NguoiGiaoId, new SelectList(ViewBag.NguoiNhanKhos, "NguoiNhanKhoId", "Title", Model), "Chọn người giao", new { @class = "form-control" })                
				@Html.ValidationMessageFor(c => c.NguoiGiaoId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Ghi chú: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.GhiChu)
			</div>
			<span class="color-red">(*)</span>
		</div>
		

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/Assets/js/bootstrap.js"></script>
<script src="~/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/assets/js/datepicker-vi.js" type="text/javascript"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Assets/js/plugins/interface/moment.js"></script>
<script src="~/Assets/scripts/ecommerceSystem.PKHDieuChuyenVatTu.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.fn.datepicker.defaults.language = 'vi';
        $(".datepicker").datepicker();
        pKHKeHoachSXNKXHModule.init();

    });
</script>