﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHDieuChuyenVatTuModel.PKHDieuChuyenVatTuSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				
				<th class="task-deadline">Kế hoạch xưởng</th>
				<th class="task-deadline">Kế hoạch SXNKXH</th>
				<th class="task-deadline">Ngày lập</th>
				<th class="task-deadline">Số chứng từ</th>
				<th class="task-deadline">Lý do xuất</th>			
				<th class="task-deadline">Loại điều chuyển</th>
				<th class="task-deadline">Kho xuất</th>
				<th class="task-deadline">Kho nhập</th>
				<th class="task-deadline">Xưởng xuất</th>
				<th class="task-deadline">Xưởng nhập</th>
				<th class="task-deadline">Người nhận</th>				
				<th class="task-deadline">Người giao</th>			
				<th class="task-deadline">Ghi chú</th>
				<th class="task-deadline">Trạng thái phiếu điều chuyển</th>
				<th class="task-deadline">Ngày tạo</th>

                <th class="task-deadline">Tình trạng</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHDieuChuyenVatTus!=null && Model.PKHDieuChuyenVatTus.Any())
            {
                foreach (var item in Model.PKHDieuChuyenVatTus)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
					
						<td>@item.PKHKeHoachXuongName</td>
						<td>@item.PKHKeHoachSXNKXHName</td>
						<td>@item.NgayLap.Value.ToString("dd/MM/yyyy")</td>
						<td>@item.SoChungTu</td>
						<td>@item.LyDoXuatName</td>						
                        <td>
                            @{
                                EcommerceSystem.Models.LoaiDieuChuyen tempdieuchuyen = (EcommerceSystem.Models.LoaiDieuChuyen)item.LoaiDieuChuyen;
                                var loaiDieuChuyen = Html.GetDisplayName(tempdieuchuyen);
                            }
                            @loaiDieuChuyen
                        </td>
						<td>@item.KhoXuatName</td>
						<td>@item.KhoNhapName</td>
						<td>@item.XuongXuatName</td>
						<td>@item.XuongNhapName</td>
						<td>@item.NguoiNhapName</td>					
						<td>@item.NguoiGiaoName</td>					
						<td>@item.GhiChu</td>
						<td>
                            @{
                                EcommerceSystem.Models.TrangThaiDieuChuyenVatTu temp = (EcommerceSystem.Models.TrangThaiDieuChuyenVatTu)item.TinhTrang;
                                var trangThai = Html.GetDisplayName(temp);
                            }
                            @trangThai
                        </td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.PKHDieuChuyenVatTuId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.PKHDieuChuyenVatTuId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHDieuChuyenVatTu", new {id = @item.PKHDieuChuyenVatTuId})" title="Chỉnh sửa PKHDieuChuyenVatTu" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHDieuChuyenVatTuId"><i data-id="@item.PKHDieuChuyenVatTuId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHDieuChuyenVatTuId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHDieuChuyenVatTuModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
