﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.ThanhPhamTuDongModel.ThanhPhamTuDongSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Mã Cơ phận</th>
				<th class="task-deadline">Tên Cơ phận</th>
				<th class="task-deadline">Ghi chú</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.ThanhPhamTuDongs.Any())
            {
                foreach (var item in Model.ThanhPhamTuDongs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.MaCoPhan</td>
						<td>@item.Title</td>
                        <td>@item.GhiChu</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "ThanhPhamTuDong", new {id = @item.ThanhPhamTuDongId})" title="Chỉnh sửa Thành Phẩm Tự Động" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.ThanhPhamTuDongId"><i data-id="@item.ThanhPhamTuDongId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.ThanhPhamTuDongId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("thanhPhamTuDongModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
