﻿@model KyTenModel
@using EcommerceSystem.Models.KyTenModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Mã ký tên: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.MaKyTen, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.MaKyTen)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Tên: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Mã nhân viên: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NhanVienId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.NhanVienId)
			</div>
			<span class="color-red">(*)</span>
		</div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Tên thủ kho: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.TenThuKho, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.TenThuKho)
            </div>
            <span class="color-red">(*)</span>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Ghi chú: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Loại ký tên: </label>
			<div class="col-sm-8">
                @Html.DropDownListFor(c => c.LoaiKyTen, new SelectList(ViewBag.KyTenGroups, "Value", "Text", Model), "Chọn loại ký tên", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.LoaiKyTen)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

