﻿@model EcommerceSystem.Models.DanhSachDieuChuyenQuyetToanModel.DanhSachDieuChuyenQuyetToanModel
@using EcommerceSystem.Models;

@{
    ViewBag.Title = " Create DanhSachDieuChuyenQuyetToan";
    Layout = null;
}

<div class="page-content-inner popup">
    @using (Html.BeginForm(((Model.LoaiDieuChuyenQuyetToan == DieuChuyenType.QuyetToanGiaCong) ? "CreateQuyetToanGC" : "Create"), "DanhSachDieuChuyenQuyetToan", FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        var urlRedirect = "";
        urlRedirect = (Model.LoaiDieuChuyenQuyetToan == DieuChuyenType.DieuChuyenCapHang) ? @Url.Action("DanhSachDieuChuyenCapHang", "DanhSachDieuChuyenQuyetToan") : ((Model.LoaiDieuChuyenQuyetToan == DieuChuyenType.DieuChuyenGiaCong) ? @Url.Action("DanhSachDieuChuyenGiaCong", "DanhSachDieuChuyenQuyetToan") : @Url.Action("DanhSachQuyetToanGiaCong", "DanhSachDieuChuyenQuyetToan"));
        urlRedirect += "?qtid=" + Model.DieuChuyenQuyetToanId;

        <div class="breadcrumb-line">
            <div class="form-actions action-breadcrumb">
                <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@urlRedirect' ">
                    <i class="icon-exit3"></i> Hủy
                </button>
                <button type="submit" class="btn btn-xs btn-danger">
                    <i class="icon-plus-circle"></i> Lưu
                </button>
            </div>
        </div>

        if (Model.LoaiDieuChuyenQuyetToan == DieuChuyenType.QuyetToanGiaCong)
        {
            @Html.Partial("Partial/_FormInput", Model.MapToQuyetToanGiaCong())
        }
        else
        {
            @Html.Partial("Partial/_FormInputDieuChuyenGiaCongCapHang", Model)
        }

        <div class="form-actions text-right mr-10 margin-bottom-10">
            <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@urlRedirect'">
                <i class="icon-exit3"></i> Hủy
            </button>
            <button type="submit" class="btn btn-xs btn-danger">
                <i class="icon-plus-circle"></i> Lưu
            </button>
        </div>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            danhSachDieuChuyenQuyetToanModule.init();
        });
    </script>
}