﻿@model PKHPhieuYeuCauMuaHangDetailModel
@using EcommerceSystem.Models.PKHPhieuYeuCauMuaHangDetailModel
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.datetimepicker.css">

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <input type="hidden" id="PKHPhieuYeuCauMuaHangId" name="PKHPhieuYeuCauMuaHangId" value="@(Model.PKHPhieuYeuCauMuaHangId)" />
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Chi tiết vật tư: </label>
            <div class="col-sm-4">
                <select id="ChiTietVatTuId" name="ChiTietVatTuId" data-placeholder="Chọn chi tiết vật tư" class="chosen-select">
                    <option Value=null>Chọn chi tiết vật tư</option>
                    @foreach (var s in ViewBag.ChiTietVatTuGroups)
                    {
                        <option value="@s.ChiTietVatTuId" @(Model.ChiTietVatTuId == s.ChiTietVatTuId ? "selected" : "")>@s.MaChiTietVatTu - @s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.ChiTietVatTuId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Tên: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Title)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Số lượng: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.SoLuong, new { @class = "form-control", type = "number", min = "0", @oninput = "validity.valid||(value='');" } )
                @Html.ValidationMessageFor(c => c.SoLuong)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Đơn giá tham khảo: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.DonGiaThamKhao, new { @class = "form-control", type = "number", min = "0", @oninput = "validity.valid||(value='');" })
                @Html.ValidationMessageFor(c => c.DonGiaThamKhao)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Quy cách: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.QuyCach, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.QuyCach)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Đơn giá: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.DonGia, new { @class = "form-control", type = "number", min = "0", @oninput = "validity.valid||(value='');" } )
                @Html.ValidationMessageFor(c => c.DonGia)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Nhóm yêu cầu: </label>
            <div class="col-sm-4">
                <select id="NhomYeuCauId" name="NhomYeuCauId" data-placeholder="Chọn nhóm yêu cầu" class="chosen-select">
                    <option Value=null>Chọn nhóm yêu cầu</option>
                    @foreach (var s in ViewBag.NhomYeuCauGroups)
                    {
                        <option value="@s.NhomYeuCauId" @(Model.NhomYeuCauId == s.NhomYeuCauId ? "selected" : "")>@s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.NhomYeuCauId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Ghi chú: </label>
            <div class="col-sm-8">
                @Html.TextAreaFor(c => c.GhiChu, new { @class = "form-control" })
            </div>
        </div>
        @*<div class="form-group">
                <label class="col-sm-2 control-label text-right">Tổng số lượng: </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(c => c.TongSoLuong, new { @class = "form-control" })
                </div>
            </div>*@

        @*<div class="form-group">
                <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
                <div class="col-sm-8">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                        </label>
                    </div>
                </div>
            </div>*@
    </div>
</div>


<script src="~/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/assets/js/datepicker-vi.js" type="text/javascript"></script>
<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%' });
        $(".datepicker").datepicker();
    });
</script>
