﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHPhieuYeuCauMuaHangDetailModel.PKHPhieuYeuCauMuaHangDetailSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline">Mã vật tư</th>
                <th class="task-deadline">Tên vật tư</th>
                <th class="task-deadline">Số lượng</th>
                <th class="task-deadline">ĐVT</th>
                <th class="task-deadline">Đơn giá tham khảo</th>
                <th class="task-deadline">Quy cách</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHPhieuYeuCauMuaHangDetails != null && Model.PKHPhieuYeuCauMuaHangDetails.Any())
            {
                var phieuYeuCauMuaHangId = 0;
                int.TryParse(Request.QueryString["PKHPhieuYeuCauMuaHangId"], out phieuYeuCauMuaHangId);
                var urlRedirect = "&PKHPhieuYeuCauMuaHangId=" + phieuYeuCauMuaHangId;
                foreach (var item in Model.PKHPhieuYeuCauMuaHangDetails)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td>@item.MaChiTietVatTu</td>
                        <td><a href="@(Url.Action("Index", "PKHDuKienGiaoHang", new { PKHPhieuYeuCauMuaHangDetailId = (int)item.PKHPhieuYeuCauMuaHangDetailId, PKHPhieuYeuCauMuaHangId = (int)item.PKHPhieuYeuCauMuaHangId}))">@item.TenChiTietVatTu</a></td>
                        <td>@item.SoLuong</td>
                        <td>@item.DonViTinh</td>
                        <td>@item.DonGiaThamKhao</td>
                        <td>@item.QuyCach</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHPhieuYeuCauMuaHangDetail", new {id = @item.PKHPhieuYeuCauMuaHangDetailId})" title="Chỉnh sửa Phiếu yêu cầu mua hàng" class="tip dialog"><i class="icon-pencil3"></i></a>
                                <a href="javascript:void(0)" class="tip" data-id="@item.PKHPhieuYeuCauMuaHangDetailId"><i data-id="@item.PKHPhieuYeuCauMuaHangDetailId" class="icon-remove4"></i></a>
                                <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHPhieuYeuCauMuaHangDetailId">
                                    @if (item.Status)
                                    {
                                        <i class="icon-eye5"></i>
                                    }
                                    else
                                    {
                                        <i class="icon-eye4"></i>
                                    }
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHPhieuYeuCauMuaHangDetailModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
