﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHPhieuYeuCauMuaHangDetailModel.PKHPhieuYeuCauMuaHangDetailSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline">Mã vật tư</th>
                <th class="task-deadline">Tên vật tư</th>
                <th class="task-deadline">Số lượng</th>
                <th class="task-deadline">ĐVT</th>
                <th class="task-deadline">Đơn giá tham khảo</th>
                <th class="task-deadline">Quy cách</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHPhieuYeuCauMuaHangDetails != null && Model.PKHPhieuYeuCauMuaHangDetails.Any())
            {
                var phieuYeuCauMuaHangId = 0;
                int.TryParse(Request.QueryString["PKHPhieuYeuCauMuaHangId"], out phieuYeuCauMuaHangId);
                var urlRedirect = "&PKHPhieuYeuCauMuaHangId=" + phieuYeuCauMuaHangId;
                foreach (var item in Model.PKHPhieuYeuCauMuaHangDetails)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td>@item.MaChiTietVatTu</td>
                        <td>@item.TenChiTietVatTu</td>
                        <td>@item.SoLuong</td>
                        <td>@item.DonViTinh</td>
                        <td>@item.DonGiaThamKhao</td>
                        <td>@item.QuyCach</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHPhieuYeuCauMuaHangDetailModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
