﻿@model EcommerceSystem.Models.NotificationModel
@using EcommerceSystem.Models
@using EcommerceSystem.Core.Helpers
@using EcommerceSystem.Web.Framework.Helpers
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-info"></i> Thông tin chính</h6>
    </div>
    <div class="panel-body">
        <div class="form-group col-md-12">
            @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Tiêu đề : </label>
            <div class="col-sm-4">
                @Html.ValidationMessageFor(c => c.Title)
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control", @placeholder = "Nhập tiêu đề" })
                <textarea id="Message" name="Message" style="display:none;">@(Model != null ? Model.Message : "")</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Họ : </label>
            <div class="col-sm-8">
                @*<input type="hidden" id="Message" name="Message" value="@Model.Message" />*@
                @Html.ValidationMessageFor(c => c.Message)
                @*@Html.TextAreaFor(c => c.Message, new { @class = "form-control", @placeholder = "Nhập nội dung thông báo" })*@
                <div id="summernote-basic-demo"></div>
            </div>
        </div>

    </div>
</div>



