﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.NotificationSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline">STT</th>
                <th class="task-deadline">Tiêu đề</th>
                <th class="task-deadline">Thời gian</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Notifications != null && Model.Notifications.Any())
            {
                var index = 0;
                foreach (var item in Model.Notifications)
                {
                    index++;
                    var no = index + Model.PageSize * (Model.PageIndex - 1);
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td>@no</td>
                        <td>@item.Title</td>
                        <td>@Html.FormatDate(item.CreatedDate)</td>


                        <td class="text-center">
                            <div class="icons-group">
                                <a href="/notification/edit/@item.NotificationId" title="Chỉnh sửa" style="color:#fff;" class="label label-success"><i class="fa fa-edit"></i></a>
                                <a href="javascript:void(0)" data-status="@(!item.IsActive)" title="@(item.IsActive ? "Ngưng hoạt động":"Kích hoạt")" data-id="@item.NotificationId" style="color:#fff;" class="btnChangeStatus label label-default"><i class="fa @(item.IsActive ? "fa-eye-slash":"fa-eye")"></i></a>
                                <a href="javascript:void(0)" title="Xóa" data-id="@item.NotificationId" style="color:#fff;" class="label label-danger btnDelete"><i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">Không có dữ liệu</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("notificationModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex)
</div>