﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.QuyDoiDinhMucModel.QuyDoiDinhMucSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Mã định mức</th>
				<th class="task-deadline">Tên định mức</th>
				<th class="task-deadline">Định mức</th>
                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.QuyDoiDinhMucs != null && Model.QuyDoiDinhMucs.Any())
            {
                foreach (var item in Model.QuyDoiDinhMucs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.QuyDoiDinhMucId</td>
						<td>@item.MaQuyDoiDinhMuc</td>
						<td>@item.Title</td>
						<td>@item.DinhMuc</td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.QuyDoiDinhMucId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.QuyDoiDinhMucId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "QuyDoiDinhMuc", new {id = @item.QuyDoiDinhMucId})" title="Chỉnh sửa Quy Đổi Định Mức" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.QuyDoiDinhMucId"><i data-id="@item.QuyDoiDinhMucId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.QuyDoiDinhMucId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("quyDoiDinhMucModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
