﻿@model EcommerceSystem.Models.ConfigurationModel
@using EcommerceSystem.Models

@*@{
        ViewBag.Title = "Nạp tiền cho nhân viên";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Nạp tiền cho nhân viên</h3>
        </div>
    </div>
    @using (Html.BeginForm("Index", "Configuration", FormMethod.Post, new { id = "frmUpdate", @class = "form-horizontal" }))
    {
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li><a href="@Url.Action("Index", "Credit")">Thiết lập chung hệ thống</a></li>
            </ul>
            <div class="visible-xs breadcrumb-toggle">
                <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
            </div>
        </div>
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-info"></i> Thông tin cấu hình</h6>
            </div>
            <div class="panel-body">
                <div class="form-group col-md-12">
                    @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label text-right">Tỉ giá ngoại tệ CNY : </label>
                    <div class="col-sm-4">
                        <input class = "form-control" id="ExchangeRate" name="ExchangeRate" value="@Model.ExchangeRate.ToString("##.#")" placeholder = "Tỉ giá ngoại tệ" type = "number" />
                        @*@Html.TextBoxFor(c => c.ExchangeRate.ToString("##.#"), new { @class = "form-control", @placeholder = "Tỉ giá ngoại tệ", type = "number" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label text-right">Phần dư tài khoản cho phép (Admin đặt hàng)(%): </label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(c => c.AdminAcceptanceBalancePercentage, new { type = "number", @class = "form-control", @placeholder = "Phần trăm tài khoản dư cho phép đặt hàng(Admin)" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label text-right">Phần dư tài khoản cho phép (KH đặt hàng)(%): </label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(c => c.ClientAcceptanceBalancePercentage, new { type = "number", @class = "form-control", @placeholder = "Phần trăm tài khoản dư cho phép đặt hàng(Admin)" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions text-right mr-10 margin-bottom-10">
            <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@Url.Action("Index", "Credit")'">
                <i class="icon-exit3"></i> Thoát
            </button>
            <button type="submit" class="btn btn-xs btn-danger">
                <i class="icon-plus-circle"></i> Lưu
            </button>
        </div>
    }
</div>