﻿@model EcommerceSystem.Models.DanhSachChiTietModel.DanhSachChiTietModel

@{
    ViewBag.Title = " Create ChiTietCatToleDetail";
    Layout = null;
}

<div class="page-content-inner popup">
    @using (Html.BeginForm("CreateDinhMucCatToleDetail", "DanhSachChiTiet", FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="breadcrumb-line">
            <div class="form-actions action-breadcrumb">
                <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@Url.Action("DinhMucCatTole", "DanhSachChiTiet",new { dinhMucCatToleId = Request.Params["dinhMucCatToleId"]})' ">
                    <i class="icon-exit3"></i> Hủy
                </button>
                <button type="submit" class="btn btn-xs btn-danger">
                    <i class="icon-plus-circle"></i> Lưu
                </button>
            </div>
        </div>

        @Html.Partial("Partial/_DinhMucCatToleDetailFormInput", Model)

        <div class="form-actions text-right mr-10 margin-bottom-10">
            <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@Url.Action("DinhMucCatTole", "DanhSachChiTiet",new { dinhMucCatToleId = Request.Params["dinhMucCatToleId"]})'">
                <i class="icon-exit3"></i> Hủy
            </button>
            <button type="submit" class="btn btn-xs btn-danger">
                <i class="icon-plus-circle"></i> Lưu
            </button>
        </div>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            danhSachChiTietModule.init();
        });
    </script>
}