﻿@model EcommerceSystem.Models.DanhSachChiTietModel.DanhSachChiTietSearchModel
@using EcommerceSystem.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Chi tiết</h3>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("Index", "DanhSachChiTiet",new { dinhMucCatToleId = Request.Params["dinhMucCatToleId"]})">Danh sách chi tiết</a></li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
    </div>
    <!-- /breadcrumbs line -->
    <div class="page-container">
        <!-- Page content -->
        <div class="row form-group">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-pane mg-top-25px">
                        <div class="right-button col-sm-5">
                            <a class="btn btn-right-icon btn-info float-right dialog" title="Thêm mới" href="@Url.Action("CreateDinhMucCatTole", "DanhSachChiTiet")">
                                <i class="icon-plus"></i> Thêm mới
                            </a>
                        </div>
                        <div id="main-danhSachChiTiet">
                            @Html.Partial("~/Views/DanhSachChiTiet/Partial/_DinhMucCatToleListItems.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>

</div>
<div id="danhSachChiTiet-action"></div>
@Html.Partial("Partial/_ConfirmPartial", new ConfirmModel { Id = "danhSachChiTiet", Title = "Xác nhận hành động", Content = "Bạn có muốn thực hiện xóa.?" })
@section scripts
{
    <script src="~/Assets/scripts/ecommerceSystem.DanhSachChiTiet.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            danhSachChiTietModule.init();
        });
    </script>
}