﻿@model EcommerceSystem.Models.NhomYeuCauModel.NhomYeuCauModel

@{
    ViewBag.Title = " Create NhomYeuCau";
    Layout = null;
}

<div class="page-content-inner popup">
    @using (Html.BeginForm("Create", "NhomYeuCau", FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        var phieuYeuCauMuaHangId = 0;
        int.TryParse(Request.QueryString["PKHPhieuYeuCauMuaHangId"], out phieuYeuCauMuaHangId);
        var urlRedirect = "?PKHPhieuYeuCauMuaHangId=" + phieuYeuCauMuaHangId;

        <div class="breadcrumb-line">
            <div class="form-actions action-breadcrumb">
                <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@Url.Action("Index", "PKHPhieuYeuCauMuaHangDetail")@urlRedirect'">
                    <i class="icon-exit3"></i> Hủy
                </button>
                <button type="submit" class="btn btn-xs btn-danger">
                    <i class="icon-plus-circle"></i> Lưu
                </button>
            </div>
        </div>

        @Html.Partial("Partial/_FormInput", Model)

        <div class="form-actions text-right mr-10 margin-bottom-10">
            <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@Url.Action("Index", "PKHPhieuYeuCauMuaHangDetail")@urlRedirect'">
                <i class="icon-exit3"></i> Hủy
            </button>
            <button type="submit" class="btn btn-xs btn-danger">
                <i class="icon-plus-circle"></i> Lưu
            </button>
        </div>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            nhomYeuCauModule.init();
        });
    </script>
}