﻿@model PKHPhieuNhapVatTuModel
@using EcommerceSystem.Models.PKHPhieuNhapVatTuModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Số chứng từ: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoChungTu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoChungTu)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Ngày lập phiếu: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NgayLapPhieuDangChuoi, new { @class = "form-control datepicker" })
				@Html.ValidationMessageFor(c => c.NgayLapPhieu)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Kho: </label>
			<div class="col-sm-8">
                @Html.DropDownListFor(c => c.KhoId, new SelectList(ViewBag.KhoGroups, "KhoId", "Title", Model), "Chọn tên kho", new { @class = "form-control" })				
				@Html.ValidationMessageFor(c => c.KhoId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Kiểm hóa: </label>
			<div class="col-sm-8">
                @Html.DropDownListFor(c => c.PKHKiemHoaId, new SelectList(ViewBag.KiemHoaGroups, "PKHKiemHoaId", "Title", Model), "Chọn kiểm hóa", new { @class = "form-control" })			
				@Html.ValidationMessageFor(c => c.PKHKiemHoaId)
			</div>
			<span class="color-red">(*)</span>
		</div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Danh mục khách hàng: </label>
            <div class="col-sm-8">
                @Html.DropDownListFor(c => c.DanhMucKhachHangId, new SelectList(ViewBag.DanhMucKhachhangGroups, "DanhMucKhachHangId", "Title", Model), "Chọn danh mục khách hàng", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.DanhMucKhachHangId)
            </div>
            <span class="color-red">(*)</span>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Tên phiếu nhập vật tư: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Số kiểm hóa: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoKiemHoa, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoKiemHoa)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Số DC: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoDC, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoDC)
			</div>
			<span class="color-red">(*)</span>
		</div>
		

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/Assets/js/bootstrap.js"></script>
<script src="~/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/assets/js/datepicker-vi.js" type="text/javascript"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Assets/js/plugins/interface/moment.js"></script>
<script src="~/Assets/scripts/ecommerceSystem.PKHPhieuNhapVatTu.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.fn.datepicker.defaults.language = 'vi';
        $(".datepicker").datepicker();
        pKHKeHoachSXNKXHModule.init();

    });
</script>