﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHPhieuNhapVatTuModel.PKHPhieuNhapVatTuSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Mã phiếu nhập vật tư</th>
				<th class="task-deadline">Số chứng từ</th>
				<th class="task-deadline">Ngày lập phiếu</th>
				<th class="task-deadline">Tên kho</th>
				<th class="task-deadline">Danh mục kiểm hóa</th>
				<th class="task-deadline">Tên phiếu nhập vật tư</th>
				<th class="task-deadline">Danh mục khách hàng</th>
				<th class="task-deadline">Số kiểm hóa</th>
				<th class="task-deadline">Số DC</th>
				<th class="task-deadline">Trạng thái</th>
				<th class="task-deadline">Ngày tạo</th>

                <th class="task-deadline">Trạng thái kích hoạt</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHPhieuNhapVatTus!=null && Model.PKHPhieuNhapVatTus.Any())
            {
                foreach (var item in Model.PKHPhieuNhapVatTus)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.PKHPhieuNhapVatTuId</td>
						<td>@item.SoChungTu</td>
						<td>@item.NgayLapPhieu.ToShortDateString()</td>
						<td>@item.KhoName</td>
						<td>@item.KiemHoaName</td>
						<td>@item.Title</td>
						<td>@item.DanhMucKhachHangName</td>
						<td>@item.SoKiemHoa</td>
						<td>@item.SoDC</td>
						<td>
                            @{
                                EcommerceSystem.Models.TrangThaiPhieuNhapVatTu temp = (EcommerceSystem.Models.TrangThaiPhieuNhapVatTu)item.TrangThai;
                                var trangThai = Html.GetDisplayName(temp);
                            }
                            @trangThai
                        </td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.PKHPhieuNhapVatTuId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.PKHPhieuNhapVatTuId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHPhieuNhapVatTu", new {id = @item.PKHPhieuNhapVatTuId})" title="Chỉnh sửa PKHPhieuNhapVatTu" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHPhieuNhapVatTuId"><i data-id="@item.PKHPhieuNhapVatTuId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHPhieuNhapVatTuId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHPhieuNhapVatTuModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
