﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.KhoiLuongCoPhanModel.KhoiLuongCoPhanSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Mã</th>
				<th class="task-deadline">Tên</th>
				<th class="task-deadline">Khối lượng(kg/cái)</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.KhoiLuongCoPhans != null && Model.KhoiLuongCoPhans.Any())
            {
                foreach (var item in Model.KhoiLuongCoPhans)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.MaKhoiLuongCoPhan</td>
						<td>@item.Title</td>
						<td>@item.KhoiLuong</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "KhoiLuongCoPhan", new {id = @item.KhoiLuongCoPhanId})" title="Chỉnh sửa Khối lượng cơ phận" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.KhoiLuongCoPhanId"><i data-id="@item.KhoiLuongCoPhanId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.KhoiLuongCoPhanId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("khoiLuongCoPhanModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
