﻿@model EcommerceSystem.Models.PKHPhieuYeuCauCapHangDetailModel.PKHPhieuYeuCauCapHangDetailSearchModel
@using EcommerceSystem.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Chi tiết phiếu yêu cầu</h3>
        </div>
    </div>
    @*<div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("Index", "PKHPhieuYeuCauCapHangDetail", new {phieuYeuCauId=Request.Params["phieuYeuCauId"] })">Chi tiết phiếu yêu cầu</a></li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
    </div>*@
    <!-- /breadcrumbs line -->
    <div class="page-container">
        <!-- Page content -->
        <div class="row form-group">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-pane mg-top-25px">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Ngày lập:</label>
                                <label class="col-sm-2 control-label text-left">@Model.NgayTao</label>
                                <label class="col-sm-2 control-label text-right">Số chứng từ:</label>
                                <label class="col-sm-2 control-label text-left">@Model.SoChungTu</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Mã loại cân:</label>
                                <label class="col-sm-6 control-label text-left">@Model.MaThanhPham</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Số lượng:</label>
                                <label class="col-sm-2 control-label text-left">@Model.SoLuong</label>
                                <label class="col-sm-2 control-label text-right">Mã kho:</label>
                                <label class="col-sm-6 control-label text-left">@Model.Kho</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Người giao:</label>
                                <label class="col-sm-2 control-label text-left">@Model.NguoiGiao</label>
                                <label class="col-sm-2 control-label text-right">Người nhận:</label>
                                <label class="col-sm-2 control-label text-left"> @Model.NguoiNhan</label>
                                <label class="col-sm-2 control-label text-right">Lý do:</label>
                                <label class="col-sm-2 control-label text-left">@Model.LyDo</label>
                            </div>
                        </form>
                        <div class="right-button col-sm-5">
							<a class="btn btn-right-icon btn-info float-right dialog" title="Thêm mới chi tiết" href="@Url.Action("Create", "PKHPhieuYeuCauCapHangDetail")">
                                <i class="icon-plus"></i> Thêm mới
                            </a>
                        </div>
                        <div id="main-pKHPhieuYeuCauCapHangDetail">
                            @Html.Partial("~/Views/PKHPhieuYeuCauCapHangDetail/Partial/_ListItems.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>

</div>
<div id="pKHPhieuYeuCauCapHangDetail-action"></div>
@Html.Partial("Partial/_ConfirmPartial", new ConfirmModel { Id = "pKHPhieuYeuCauCapHangDetail", Title = "Xác nhận hành động", Content = "Bạn có muốn thực hiện xóa.?" })
@section scripts
{
    <script src="~/Assets/scripts/ecommerceSystem.PKHPhieuYeuCauCapHangDetail.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            pKHPhieuYeuCauCapHangDetailModule.init();
        });
    </script>
}