﻿@model List<H4U.Models.User.UserModel>
@using H4U.Mvc

<div class="right-side strech">
    <section class="content-header">
        <h1>
            Danh mục
            <small id="categoriesHeader">Quản lý doanh nghiệp </small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
            <li>Tài khoản</li>
        </ol>
    </section>
    <section>
        <div class="nav-tabs-custom organization">
            <div class="tab-content no-padding">

                <div id="tab2Region">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-danger">
                                <div class="box-header">
                                    <i class="fa fa-edit"></i>
                                    <h3 class="box-title">Tìm kiếm</h3>
                                </div>
                                <div class="box-body pad form-horizontal">
                                    <div class="row">
                                        @Html.Partial("~/Views/Account/_UserSearch.cshtml", new H4U.Models.User.UserSearchModel())

                                    </div>


                                    <div class="btn_search_export margin text-right">
                                        @Html.EmsMvc().ButtonCreate("cmdCreate").Property(new ButtonCreateInfo { url = "/Account/Create", tagid = "divCreateAccount" }).Property(new cPopup { IsPopup = "true", title = "Tạo mới tài khoản", width = "750", height = "400" })
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="resultAccountMain" class="row singleCustomer">
                        @Html.Partial("~/Views/Account/_ResultSearch.cshtml", Model)
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
