﻿@model EcommerceSystem.Models.User.UserSearchModel
@using EcommerceSystem.Models
@{
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Quản lý tài khoản</h3>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("Index", "Account")">Tài khoản</a></li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
    </div>

    <!-- /breadcrumbs line -->
    <div class="page-container">
        <!-- Page content -->
        <div class="row form-group">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-pane mg-top-25px">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-right">Tìm kiếm</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(c => c.UserName, new { @class = "form-control", @placeholder = "Tìm kiếm tên tài khoản hoặc theo nhóm quyền" })
                                </div>
                                <div class="col-sm-1">
                                    <input type="button" id="btnSearch_account" value="Tìm kiếm" class="btn btn-danger w100" />
                                </div>
                                <div class="right-button col-sm-4 mg-right-20px">
                                </div>
                            </div>
                        </form>
                        <div class="right-button col-sm-5">
                            <button type="button" class="btn btn-right-icon btn-info float-right" onclick="location.href='@Url.Action("Create", "Account")'">
                                <i class="icon-plus"></i> Thêm mới
                            </button>
                        </div>
                        <div id="main-account">
                            @Html.Partial("~/Views/Account/Partial/_TableUser.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>
</div>
<div id="account-action"></div>
@Html.Partial("Partial/_ConfirmPartial", new ConfirmModel { Id = "account", Title = "Xác nhận hành động", Content = "Bạn có muốn thực hiện xóa.?" })
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            accountModule.init();
        });
    </script>
}