﻿@model EcommerceSystem.Models.User.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>Nhon Hoa Portal</title>

    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/londinium-theme.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/icons.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Assets/lib/UI/jqueryui/jquery-ui.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Assets/css/custom.css" rel="stylesheet" />
</head>

<body class="full-width page-condensed">

    <!-- Navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-right">
                <span class="sr-only">Toggle navbar</span>
                <i class="icon-grid3"></i>
            </button>
            <a class="navbar-brand" href="javascript:void(0)" style="color:white;">Nhơn Hòa CMS</a>
        </div>
        @*<ul class="nav navbar-nav navbar-right collapse">
                <li><a href="#"></a></li>
                <li><a href="#"><i class="icon-support"></i> Support</a></li>
            </ul>*@
    </div>
    <!-- /navbar -->
    <!-- Login wrapper -->
    <div class="login-wrapper">
        @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @*@Html.AntiForgeryToken()*@
            @Html.ValidationSummary(true)
            <div class="popup-header">
                <span class="text-semibold">Đăng nhập để bắt đầu phiên làm việc của bạn</span>
            </div>
            <div class="well">
                @if (ViewBag.MessageError != null)
                {
                    <div class="alert alert-warning color-red mg-bottom-5px text-center">
                        @ViewBag.MessageError
                    </div>
                }
                <div class="form-group has-feedback mg-top10px">
                    <label>Email : <span class="mandatory">* </span></label>
                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "form-control" })
                    <i class="icon-users form-control-feedback"></i>
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="form-group has-feedback">
                    <label>Mật khẩu : <span class="mandatory">* </span></label>
                    @Html.PasswordFor(model => model.Password, new { @placeholder = "Mật khẩu", @class = "form-control" })
                    <i class="icon-lock form-control-feedback"></i>
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="row form-actions">
                    <div class="col-xs-6">
                        <div class="checkbox checkbox-success">
                            @*<label>
                                    @Html.CheckBoxFor(model => model.Remember, new { @class = "styled" })
                                    Remember me
                                </label>*@
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-warning pull-right"><i class="icon-menu2"></i> Đăng nhập</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /login wrapper -->
    <!-- Footer -->
    @Html.Partial("~/Views/Shared/Partial/_FooterPartial.cshtml")
    <!-- /footer -->
</body>
</html>