﻿@model H4U.Models.User.UserModel
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4>Tạo tài khoản</h4></center>
            </div>
            @using (Ajax.BeginForm("Create", "Account", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "_pannelMessageInfos" }, new { id = "DeleteAddress" }))
            {
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label">Chọn doanh nghiệp</label>
                        @Html.DropDownListFor(model => model.OrganizationId, (List<SelectListItem>)ViewData["Organizations"], new { @class = "form-control", @placeholder = "Chọn doanh nghiệp" })
                    </div>
                    <div class="form-group">
                        <input style="display:none" type="text" id="fakeusernameremembered1" name="fakeusernameremembered" />
                        <input style="display:none" type="text" id="fakeusernameremembered" name="fakeusernameremembered" />
                        <input type="password" name="password_fake1" id="password_fake" class="hidden" autocomplete="off" style="display: none;">
                        <input type="password" name="password_fake" id="password_fake" class="hidden" autocomplete="off" style="display: none;">
                        <label class="control-label">Tên tài khoản</label>
                        @Html.ValidationMessageFor(model => model.Email)
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Nhập tên tài khoản" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mật khẩu</label>
                        @Html.ValidationMessageFor(model => model.Password)
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Nhập mật khẩu" })
                    </div>
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => x.IsActive)<span>Kích hoạt</span></label>
                    </div>


                </div>
                <div class="modal-footer">
                    <center>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <button type="button" class="btn btn-default btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Hủy bỏ</button>
                    </center>
                </div>
            }
        </div>
    </div>
</div>