﻿@model PKHPhieuNhapVatTuDetailModel
@using EcommerceSystem.Models.PKHPhieuNhapVatTuDetailModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">PKHPhieuNhapVatTuId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.PKHPhieuNhapVatTuId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.PKHPhieuNhapVatTuId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">KhoId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.KhoId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.KhoId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">CustomerId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.CustomerId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.CustomerId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Title: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">ChiTietVatTuId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ChiTietVatTuId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ChiTietVatTuId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">SoLuong: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoLuong, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoLuong)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

