﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHPhieuNhapVatTuDetailModel.PKHPhieuNhapVatTuDetailSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">PKHPhieuNhapVatTuDetailId</th>
				<th class="task-deadline">PKHPhieuNhapVatTuId</th>
				<th class="task-deadline">KhoId</th>
				<th class="task-deadline">CustomerId</th>
				<th class="task-deadline">Title</th>
				<th class="task-deadline">ChiTietVatTuId</th>
				<th class="task-deadline">SoLuong</th>
				<th class="task-deadline">CreatedDate</th>

                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHPhieuNhapVatTuDetails.Any())
            {
                foreach (var item in Model.PKHPhieuNhapVatTuDetails)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.PKHPhieuNhapVatTuDetailId</td>
						<td>@item.PKHPhieuNhapVatTuId</td>
						<td>@item.KhoId</td>
						<td>@item.CustomerId</td>
						<td>@item.Title</td>
						<td>@item.ChiTietVatTuId</td>
						<td>@item.SoLuong</td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.PKHPhieuNhapVatTuDetailId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.PKHPhieuNhapVatTuDetailId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHPhieuNhapVatTuDetail", new {id = @item.PKHPhieuNhapVatTuDetailId})" title="Chỉnh sửa PKHPhieuNhapVatTuDetail" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHPhieuNhapVatTuDetailId"><i data-id="@item.PKHPhieuNhapVatTuDetailId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHPhieuNhapVatTuDetailId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHPhieuNhapVatTuDetailModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
