﻿@model ToleModel
@using EcommerceSystem.Models.ToleModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Mã Tole: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.MaTole, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.MaTole)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Tên Tole: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Đơn vị tính: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.DonVi, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.DonVi)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Dầy: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Day, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Day)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Ngang: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Ngang, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Ngang)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Đứng: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Dung, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Dung)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Khối lượng (kg/tấm): </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.KhoiLuong, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.KhoiLuong)
			</div>
			<span class="color-red">(*)</span>
		</div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Dechet Id: </label>
            <div class="col-sm-8">
                @Html.DropDownListFor(c => c.DechetId, Model.ListDechet, "Chọn Dechet", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.DechetId)
            </div>
            <span class="color-red">(*)</span>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Ghi chú: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
			</div>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

