﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.ToleModel.ToleSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Mã Tole</th>
				<th class="task-deadline">Tên Tole</th>
				<th class="task-deadline">Đơn vị tính</th>
				<th class="task-deadline">Dầy</th>
				<th class="task-deadline">Ngang</th>
				<th class="task-deadline">Đứng</th>
				<th class="task-deadline">KL(kg/tấm)</th>
				<th class="task-deadline">DechetID</th>
				<th class="task-deadline">Ghi chú</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Toles != null && Model.Toles.Any())
            {
                foreach (var item in Model.Toles)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.MaTole</td>
						<td>@item.Title</td>
						<td>@item.DonVi</td>
						<td>@item.Day</td>
						<td>@item.Ngang</td>
						<td>@item.Dung</td>
						<td>@item.KhoiLuong</td>
						<td>@item.DechetName</td>
						<td>@item.GhiChu</td>

                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "Tole", new {id = @item.ToleId})" title="Chỉnh sửa Tole" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.ToleId"><i data-id="@item.ToleId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.ToleId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("toleModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
