﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PaymentTransactionSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline">Mã giao dịch</th>
                <th class="task-deadline">Khách hàng</th>
                <th class="task-deadline">Số tiền</th>
                <th class="task-deadline">Ngân hàng</th>
                <th class="task-deadline">Thời gian</th>
                <th class="task-deadline">Nội dung</th>
                <th class="task-deadline">Người xử lý</th>
                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PaymentTransactions.Any())
            {
                foreach (var item in Model.PaymentTransactions)
                {
                    var parent = Guid.NewGuid();
                    var styleRow = "table-success";
                    if (item.Type == 2)
                    {
                        styleRow = "table-warning";
                    }
                    <tr role="row" class="@styleRow" id="@parent">
                        <td>@item.TransactionCode</td>
                        <td>@item.CustomerEmail</td>
                        <td>@item.OperandSign@Html.FormatMoney(item.Amount) đ</td>
                        <td>@item.BankName</td>
                        <td>@Html.FormatDate(item.CreatedDate)</td>
                        <td>@item.Notes</td>
                        <td>@item.AdminName</td>
                        <td class="text-center">

                            <span class="label label-success mg-left-5px">Đã hoàn thành</span>

                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                @if (!string.IsNullOrEmpty(item.Ref1))
                                {
                                    <a href="/order/bought/view?invoiceNumber=@item.Ref1" style="color:#fff;" class="label label-info">Chi tiết</a>
                                }
                                else
                                {
                                    <a href="/customer/transaction/@item.CustomerID" style="color:#fff;" class="label label-success">Chi tiết</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("paymentTransactionModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex)
</div>
