﻿@using EcommerceSystem.Models.Resources
@*@using EcommerceSystem.Web.Authentication*@
@model EcommerceSystem.Web.Models.ChangePasswordViewModel

@{
    const string button = "changePass_modal_button";
    const string formModel = "changePass_modal_info";
}
<a id="@button" class="hidden" data-toggle="modal" role="button" href="javascript:void(0);" data-target="#"></a>
<!-- modal info -->
<form id="frmChangePass">
    <div id="@formModel" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog modal-sm" style="width: 500px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="icon-acc"></i> Thay đổi mật khẩu</h4>
                </div>
                @*@{
                    var userId = 6;/* ? Model.UserId : ((EcIdentity)User.Identity).UserCommon.UserId;*/
                }*@
                @*<input type="hidden" id="UserId" name="UserId" value="@userId"/>*@
                <div class="modal-body with-padding">
                    <div class="panel-body padding-none">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right mg-top5px">Mật khẩu cũ: </label>
                            <div class="col-sm-7 mg-top10px">
                                @Html.PasswordFor(c => c.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.OldPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right mg-top5px">Mật khẩu mới: </label>
                            <div class="col-sm-7 mg-top10px">
                                @Html.PasswordFor(c => c.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.NewPassword)
                            </div>
                        </div>
                        <div class="form-group mg-bottom-15px">
                            <label class="col-sm-4 control-label text-right mg-top5px">Nhập lại mật khẩu mới: </label>
                            <div class="col-sm-7 mg-top10px">
                                @Html.PasswordFor(c => c.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer mg-top10px">
                        <button class="btn btn-warning" data-dismiss="modal">Thoát</button>
                        <a id="btn_changePassword" class="btn btn-default">Đồng ý</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>