﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.User.UserSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
                <th class="task-deadline">STT</th>
                <th class="task-deadline">Họ và tên</th>
                <th class="task-deadline">Email</th>
                <th class="task-deadline">Nhóm</th>
                <th class="task-deadline">Ngày tạo</th>
                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null && Model.Users.Any())
            {
                var index = 0;
                foreach (var item in Model.Users)
                {
                    index++;
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
                        <td>@index</td>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@item.RoleName</td>
                        <td>@Html.FormatDate(item.CreatedDate)</td>
                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.UserId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.UserId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "Account", new { id = @item.UserId })" title="edit contract" class="tip"><i class="icon-pencil3"></i></a>
                                <a href="javascript:void(0)" class="tip" data-id="@item.UserId"><i data-id="@item.UserId" class="icon-remove4 btn_remove_account"></i></a>
                                <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active btn_active_account" data-id="@item.UserId">
                                    @if (item.Status)
                                    {
                                        <i class="icon-eye5"></i>
                                    }
                                    else
                                    {
                                        <i class="icon-eye4"></i>
                                    }
                                </a>
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>

<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("accountModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex)
</div>
