﻿@model EcommerceSystem.Models.User.UserModel
@using EcommerceSystem.Models
@using EcommerceSystem.Core.Helpers
@using EcommerceSystem.Web.Framework.Helpers
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-info"></i> Thông tin chính</h6>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-1 control-label text-right">Email: </label>
            <div class="col-sm-4">
                @Html.TextBoxFor(c => c.Email, new { @class = "form-control", @placeholder = "Nhập email" })
                @Html.ValidationMessageFor(c => c.Email)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label text-right">Mật khẩu : </label>
            <div class="col-sm-4">
                @Html.PasswordFor(c => c.Password, new { @class = "form-control", @placeholder = "Nhập mật khẩu" })
                @Html.ValidationMessageFor(c => c.Password)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label text-right">Tên đầy đủ : </label>
            <div class="col-sm-4">
                @Html.TextBoxFor(c => c.UserName, new { @class = "form-control", @placeholder = "Nhập họ và tên" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label text-right">Nhóm : </label>
            <div class="col-sm-4">
                @Html.DropDownListFor(c => c.RoleId, new SelectList(ViewBag.Groups, "RoleId", "Name"), "Chọn nhóm", new {@class = "form-control"})
                @Html.ValidationMessageFor(c => c.RoleId)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label text-right">Kho Hàng : </label>
            <div class="col-sm-4">
                @if (Model.AvailableInvnetories != null)
                {
                    foreach (var item in Model.AvailableInvnetories)
                    {
                        <div class="inventory" style="width: 118px; float: left; padding-top: 7px;">
                            @Html.RadioButtonFor(model => model.InventorySelected, item.Value, @item.Selected? new { id = "inventory" + item.Value, @checked = "checked" }: null)
                            <label for="@($"inventory{item.Value}")">@item.Text</label>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

