﻿@model EcommerceSystem.Models.PKHKeHoachSXNKXHModel.PKHKeHoachSXNKXHSearchModel
@using EcommerceSystem.Models
@{
    ViewBag.Title = "KeHoachSX";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-inner">
    <div class="page-header">
        <div class="page-title">
            <h3>Quản lý Kế hoạch Sản Xuất xưởng Lắp Ráp</h3>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("Index", "PKHKeHoachSX")">Kế Hoạch Sản Xuất</a></li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
    </div>
    <!-- /breadcrumbs line -->
    <div class="page-container">
        <!-- Page content -->
        <div class="row form-group">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-pane mg-top-25px">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Tìm kiếm</label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(c => c.TextSearch, new { @class = "form-control", @placeholder = "Nhập mã tuần" })
                                </div>

                                <div class="col-sm-3">
                                    <label class="col-sm-4 control-label text-right mt8">Từ ngày</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(c => c.FromDate, new { @class = "form-control datepicker" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="col-sm-4 control-label text-right mt8">Đến ngày</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(c => c.ToDate, new { @class = "form-control datepicker" })
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <input type="button" id="btnSearch" value="Tìm kiếm" class="btn btn-danger w100" />
                                </div>
                            </div>
                        </form>
                        <div id="main-pKHKeHoachSXNKXH">
                            @Html.Partial("~/Views/PKHKeHoachSXNKXH/Partial/_KHSXChiTietListItems.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>

</div>
<div id="pKHKeHoachSX-action"></div>
@Html.Partial("Partial/_ConfirmPartial", new ConfirmModel { Id = "pKHKeHoachSXNKXH", Title = "Xác nhận hành động", Content = "Bạn có muốn thực hiện xóa.?" })

@section styles
{
    <link rel="stylesheet" type="text/css" href="~/assets/css/jquery.datetimepicker.css">
}

@section scripts
{
    <script src="~/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/assets/js/datepicker-vi.js" type="text/javascript"></script>

    <script src="~/Assets/scripts/ecommerceSystem.PKHKeHoachSXNKXH.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.datepicker.defaults.language = 'vi';
            $(".datepicker").datepicker();
            pKHKeHoachSXNKXHModule.init();
        });
    </script>
}


