.invoice { margin: 10px 20px; }
.control-label { white-space:nowrap; }
.box-header .box-tools { position:static; }

.uploading-img { height: 200px; font-size: 50px; line-height: 200px; text-align: center; margin-bottom: 10px; cursor: pointer; position: relative; overflow: hidden; }
.uploading-img > img { position: absolute; }
.uploading-img-path { margin-bottom: 30px; }

#tab-overview .accordion-toggle { position: absolute; top: 0; right: 15px; height: 34px; width: 34px; line-height: 34px; font-size: 16px; text-align: center; background: #ECF0F5; border: 1px solid #D2D6DE; }
#tab-overview .accordion-toggle::after { content: "\f107"; font-family: FontAwesome; }
#tab-overview .accordion-toggle.collapsed::after { content: "\f106"; font-family: FontAwesome; }
.unread{background: rgba(51, 122, 183, 0.41);font-weight: bold;}
#navbar-collapse ul li a{
  font-size: 14px;
  padding: 15px 20px;
}
#navbar-collapse ul li a i{
  margin: 0px 3px 0px 0px;
}
#cart-mask{
    z-index:999;
    display:none;
    position:fixed;
    height:100%;
    width:100%;
    left:0px;
    top:0px;
    background: rgba(0, 0, 0, 0.31);
}
#cart-mask .container{
  width: 220px;
  margin:268px auto 0px auto;
  background:#FFF;
  padding:10px;
  border:1px solid #999;
  text-align: center;
}
#cart-mask .container img{
  vertical-align:middle;
  width: 150px;
}
#list_bank{
  list-style: none;
  margin: 0px 0px;
  padding: 0px 0px;
}
#list_bank li{
  float: left;
  width: 126px;
  height: 60px;
  margin: 0px 40px 25px 0px;
  position: relative;
}
#list_bank li .cb_bank{
  position: absolute;
  top: 0px;
  left: 5px;
}
#list_bank li .thumb{
  
}
#list_bank li .thumb img{
  width: 126px;
  height: 60px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.box_shoporder{
  border: 1px solid #d2d6de;
}
.frm_search_order{
  clear: both;
  margin: 30px auto 30px auto;
  overflow: hidden;
  text-align: center;
}
.process_order{
    clear: both;
    height: 30px;
    text-align: center;
    display: block;
}
.process_order_storevn {
    margin-bottom: 20px;
}


.frm_search_order form input.int_search{
  margin: 10px auto;
  width: 550px;
}
.box.list_orders{
  border-radius: 0px;
  border-top: 0px;
}
.table.order tr th{
  background: #3C8DBC;
  color: #fff;
}
.table.order{
  border-collapse: collapse;
}
.table.order,
.table.order tr,
.table.order th,
.table.order td{
  border:1px solid #ccc;
  margin: 0px 0px;
  color: #333;
}
.table.order tr.warning td{
   background: #fdefa6 !important;
}
.table.order tr.warning.error td{
   background: rgba(244, 67, 54, 0.15) !important;
}

.table.order tr td a.fullname{
  color:#333;
}
.table.order tr td a.fullname:hover{
  text-decoration: underline;
  color: #3c8dbc;
}
.list_orders .callout{
  margin: 0px 0px;
}
#diagnosis-list .info{
  font-weight: bold;
}
.tab_order ul.nav{
  border-top:1px solid #ddd;
}
.tab_order ul.nav li{
  border-right: 1px solid #ddd;
  position: relative;
  margin: 0px !important;
}
.tab_order ul.nav li a{
  padding: 10px 6px 10px 6px;
}
.tab_order ul.nav li .sub{
  background: #DD4B39;
  color: #fff;
  padding: 0px 4px 2px 4px;
  border-radius: 5px;
  font-size: 11px;
  line-height: 1em;
  margin: 0px 0px 0px 0px;
  vertical-align: super;
}
.tab_order ul.nav li:hover{
  border-top-color: #3c8dbc;
}
.tab_order ul.nav li:hover a{
  color: #3C8DBC !important;
}
.tab_order ul.nav li.active a{
  font-weight: bold;
  color: #3C8DBC !important;
}
.tab_order ul.nav li.active .sub{
  background: #3C8DBC;
}
.table.shoporder tr,
.table.shoporder th,
.table.shoporder td{
  border: 1px solid rgb(165, 202, 223);
  margin: 0px 0px;
  font-family: Arial;
  font-size: 13px;
}
.table.shoporder tr th{
  background: #3C8DBC;
  color: #fff;
}
.shop_order_info{
  font-weight: bold;
  margin: 0px 0px;
  font-family: Arial;
  font-size: 13px;
  overflow: hidden;
}
.shop_order_info span{
  color: #3C8DBC;
}
.shop_order_info span.line{
  color: #dd4b39;
}
.mavandon{
  border: 1px solid #ccc;
  outline: 0px;
  font-size: 13px;
  padding: 3px 5px;
}
.madontaobao[disabled],
.mavandon[disabled]{
  cursor: text;
}   
.madontaobao:focus,
.mavandon:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.madontaobao{
  border: 1px solid #ccc;
  outline: 0px;
  font-size: 13px;
  padding: 3px 5px;
  font-family: Arial;
  font-weight: normal;
}
.ghichu{
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: left;
}
.ghichu p{
  margin:0px 0px;
}
.ghichu p span{
  font-weight:bold;
}
.swal2-modal h2{
  line-height: 40px !important;
}
.box.boxorder{
  border: 1px solid #777;
}
.box.boxorder .box-header{
  background: #777;
  color: #fff;
}
.box.boxorder .box-header a{
  color: #fff;
  font-weight:bold;
}
.box.boxorder .box-header input{
  color: #333;
}
.box.boxorder .box-header .line{
  margin: 0px 8px;
}
.box.boxorder .box-header .status{
  font-size: 14px;
}
.notifyjs-bootstrap-base span{
  /* font-size: 14px; */
}
.btn_colortxt_edit,
.btn_sizetxt_edit{
  margin: 0px 0px 0px 5px;
  font-size: 14px;
  color: #ec1a00;
  cursor: pointer;
}
.sizetxt_edit,
.colortxt_edit{
  display: none;
}
.list_image{
  list-style:none;
  float: left;
  margin: 5px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.list_image .image_note{
  width: 37px;
  height: 35px;
  float: left;
  margin: 0px 5px 0px 0px;
  position: relative;
}
.list_image .image_note img{
  width: 37px;
  height: 35px;
  cursor: -webkit-zoom-in;
  border: 1px solid #ddd;
}
.list_image .image_note .remove_img{
  position:absolute;
  color:#f00;
  right: -4px;
  top: -6px;
  cursor: pointer;
  display:none;
}
.list_image .image_note:hover .remove_img{
  display:block;
}
.add_img{
  margin: 5px 0px 0px 0px;
}
.packing_box{
  border: 1px solid #3c8dbc;
  overflow: hidden;
  margin: 0px 0px 20px 0px;
}
.packing_box .packing_header{
  margin: 0px 0px 0px 0px;
  padding: 10px 10px;
  background: #3c8dbc;
  color: #fff;
  cursor: pointer;
}
.packing_box .packing_header span.date{
  font-weight: bold;
}
.btn_toggle{
  cursor:pointer !important;
}
.packing_box .list_packing{
  display:none;
}
.packing_box .list_packing.active{
  display:block;
}
.packing_box .packing_item{
  min-height: 300px;
  border: 1px solid #3c8dbc;
  margin: 20px 0px;
  padding: 0px 0px;
  cursor: pointer;
  text-align: center;
}
.packing_box .packing_item .btn_received{
  border-radius: 0px;
  margin: 5px 0px 5px 0px;
  padding: 5px 10px;
  border: 0px;
}
.packing_box .packing_item .btn_cancel_received{
  border-radius: 0px;
  margin: 5px 0px 5px 0px;
  padding: 5px 10px;
  border: 0px;
  background: #dd4b39;
}
.packing_box .packing_item.active{
  border: 1px solid #dd4b39;
}
.packing_box .packing_item.active h4.name{
  background: #dd4b39;
}
.packing_box .packing_item.active h4.name span.name{
  display:none;
}
.packing_box .packing_item.active h4.name input.edit_name{
  display: inline-block;
}
.packing_box .packing_item.active .btn_received{
  background:#dd4b39;
}
.packing_box .packing_item.received{
  border-color: #00a65a;
}
.packing_box .packing_item.received .name{
  background: #00a65a;
}
.packing_box .packing_item.received .note{
  border-color: #00a65a;
  color:#00a65a;
}
.packing_box .packing_item.received .btn_received{
  background:#00a65a;
  opacity: 1;
}
.packing_box .packing_add{
  min-height: 390px;
  border: 1px solid #3c8dbc;
  margin: 20px 0px;
}
.packing_box .packing_add .btn{
  display: block;
  height: 394px;
  width: 100%;
  padding: 0px 0px;
  margin: 0px 0px;
  outline: 0px;
  border: 0px;
}
.packing_box .packing_add .btn i{
  font-size:45px;
  color: #3c8dbc;
}
.packing_box .packing_item h4.name{
  padding: 4px 5px 5px 5px;
  margin: 0px 0px;
  background:#3c8dbc;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.packing_box .packing_item .name .remove_packing{
  float:right;
  padding: 0px 0px 0px 0px;
  opacity:0;
}
.packing_box .packing_item:hover .remove_packing{
  opacity:1;
}
.packing_box .packing_item .name .remove_packing .fa{
  font-size: 18px;
  color: #fff;
}
.packing_box .packing_item h4.name input.edit_name{
  color:#333;
  padding: 0px 5px;
  outline:0;
  border: 0px;
  width:150px;
  display:none;
  margin: 0 auto;
  text-align: center;
}
.packing_box .packing_item .list_landing{
  list-style:none;
  padding: 0px 0px;
  margin : 0px 0px;
  overflow-y: scroll;
  height: 300px;
}
.packing_box .packing_item .list_landing li{
  text-align:center;
  padding: 5px 0px;
  color: #000;
  border-bottom: 1px dashed #3c8dbc;
}
.packing_box .packing_item .list_landing li:hover{
  background: #f1f1f1;
}
.packing_box .packing_item .list_landing li .landing_item{
  margin:0px 0px;
  padding: 0px 5px 0px 5px;
}
.packing_box .packing_item .list_landing li.success{
  background: rgba(61, 173, 25, 0.12);
  border-bottom: 1px dashed #00a65a;
}
.packing_box .packing_item .list_landing li a{
  color: #333;
}
.packing_box .packing_item .list_landing li a:hover{
  text-decoration:underline;
}
.packing_box .packing_item .list_landing li.success a{
  font-weight:bold;
  color: #00a65a;
}
.packing_box .packing_item .list_landing li .landing_item .remove_landing{
  float:right;
  color: #bf3b2b;
  opacity:0;
}
.packing_box .packing_item .list_landing li:hover .remove_landing{
  opacity:1;
}
.packing_box .packing_item.active .list_landing li{
  border-bottom: 1px dashed #dd4b39;
}
.packing_box .packing_item .list_landing li:last-child{
}
.packing_box .packing_item .list_landing::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 5px #fff;
  background-color: #fff;
}
.packing_box .packing_item .list_landing::-webkit-scrollbar{
  width: 0px;
  background-color: #fff;
}
.packing_box .packing_item .list_landing::-webkit-scrollbar-thumb{
  background-color: #fff;
}
.packing_box .packing_item .note{
  text-align:center;
  padding: 5px 0px;
  margin: 0px 0px;
  color: #337ab7;
  border-top: 1px solid #3c8dbc;
  border-bottom: 1px solid #3c8dbc;
  height: 35px;
}
.packing_box .packing_item .note span{
  font-weight:bold;
}
.packing_box .packing_item .note .weight_edit{
  width: 60px;
  outline:0;
  color:#333;
  display:none;
  padding: 0px 0px 0px 5px;
  text-align: center;
}
.packing_box .packing_item.active .note{
  border-top: 1px solid #dd4b39;
  color: #dd4b39;
}
.packing_box .packing_item.active .note .weight{
  display:none;
}
.packing_box .packing_item.active .note .weight_edit{
  display:inline-block;
}
.packing_box .packing_item .input_landing{
  padding: 0px 0px !important;
  border-bottom: 1px solid #3c8dbc !important;
}
.packing_box .packing_item.active .input_landing{
  border-bottom: 1px solid #dd4b39 !important;
}
.packing_box .packing_item .input_landing input{
  width:100%;
  padding: 5px 5px;
  border: 0px;
  outline: 0px;
}
.notifyjs-bootstrap-base{
  text-transform:none;
  line-height: 18px;
  font-size: 14px;
}
.list_shop_customer{
  list-style: none;
  padding: 0px 0px;
}
.list_shop_customer .customer_order{
  margin: 0px 0px 15px 0px;
  border: 1px solid rgb(60, 141, 188);
}
.list_shop_customer .customer_order_info{
  overflow: hidden;
  background: rgba(60, 141, 188, 0.27);
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  line-height: 24px;
  list-style:none;
}
.list_shop_customer .customer_order_info li{
  float:left;
  padding: 5px 15px 5px 15px;
  line-height: 30px;
  border-right: 1px solid #3c8dbc;
}
.btn-vanchuyen{
  background: #3c8dbc;
  color: #fff !important;
  padding:  5px 8px;
  margin: 0px 5px;
}
.filter_list{
  list-style: none;
  margin:0px 0px;
}
.filter_list .item_filter{
  float:left;
  margin: 0px 10px 0px 0px;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #d4d4d4;
}
.table.shoporder tr td.sucsess{
  background: rgba(139, 195, 74, 0.26) !important;
  border-color: #009688;
}
.table.shoporder tr td.warning{
  background: rgba(255, 235, 59, 0.32) !important;
  border-color: #FFC107;
}
.table.shoporder tr td.warning.error{
  background: rgba(244, 67, 54, 0.1) !important;
  border-color: #F44336;
}
.tbl_history{
  
}
.tbl_history tr td p{
  margin: 0px 0px;
}
.tbl_history tr td{
  height: 70px;
}
.chat_box{
  width: 300px;
  position: fixed;
  right: 15px;
  bottom: 0px;
  border: 2px solid #3c8dbc;
  border-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.fancybox-inner{
  overflow: hidden !important;
}
.width-90 {
    width: 90px;
}
.width-75 {
    width: 75px;
}
.width-190 {
    width: 190px;
}
.width-200 {
    width: 200px;
}
