﻿body {

    
}
/*Phần tìm kiếm PKHKeHoachSXNKXH */
.pd-x3{
    padding-left:15px;
    padding-right:15px;
}
/*Hiếu:: Sửa Form Inside */
.ui-corner-all {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
    border-radius: none !important;
    padding: 0 !important;
    box-shadow: 0 0 2px 0 #ccc;
    border: 1px solid #ccc;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    background: #949799;
    color: #fff;
    padding: 0 !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix span {
    padding: 10px 15px;
}

    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable .page-content-inner.popup .breadcrumb-line {
        margin-bottom: 10px;
        background: transparent;
    }

    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable .page-content-inner.popup .panel.panel-default {
        background: transparent;
        border-color: none;
        border: none;
    }



/*Add class này vào div tổng của form để thay đổi style form Outside*/
.custom-form {
    width: 100% !important;
}

.custom-form .panel.panel-default {
    border: none !important;
    box-shadow: inset 0px 0px 0px 2px #fff !important;
}

.custom-form .panel.panel-default .ui-widget-header {
    background: #485c67 !important;
    color: #fff !important;
    font-weight: bold !important;
    text-shadow: 2px 2px #485c67 !important;
    font-size: 15px !important;
        }

.custom-form .panel.panel-default .panel-body {
    border: 1px solid #ccc !important;
    border-top: none !important;
}


/*Thêm class cs-d-flex và flexs chỉnh 1 số chức năng cho form*/
.cs-d-flex,.cs-d-flexs {
    display: flex !important;
    align-items: center !important;
}
@media only screen and (max-width:767px){
    .cs-d-flex {
        display: block !important;
    }
}



.flex-wrap{
    flex-wrap:wrap;
}
/*Thêm class padding*/
.pd-2 {
    padding: 10px !important;
}
/*Thêm class margin*/
.mg-t1{
    margin-top: 5px !important;
}
.mg-x1{
    margin-left:5px !important;
    margin-right:5px !important;
}
c {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}
/* Fix Status Bar */
ul.icons-right {
    padding: 0;
    list-style: none;
}
ul.icons-right li {
        padding: 12px;
        border-bottom: 1px solid #f5f5f5;
    }

ul.icons-right li:last-child {
            border-bottom: none;
        }

ul.icons-right li:hover {
            background: #f5f5f5;
        }

span.status {
    margin: 0 10px 0 0;
}

.user ul.dropdown-menu li {
    padding: 0 !important;
}

.user-info {
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;

}
table tr th{
    white-space: nowrap;
}


/*room*/
.nav > li > .room__link {
    padding: 10px 8px;
    line-height: 35px;
}
/*room*/

/* Nav Bar */

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
}

.page-content {
    margin-top: 54px;
}

.sidebar {
    position: fixed;
    height: 100vh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

::-webkit-scrollbar-track {
   background: transparent;
}
::-webkit-scrollbar-thumb {
    background: darkgray;
}
::-webkit-scrollbar-thumb:hover {
    background: grey;
 }
 /*Show form*/

 .panel-body {
     max-height: 0;
     overflow: hidden;
     transition: all ease .4s;
     padding-top: 0;
     padding-bottom: 0;
 }

 .line-height__form{
	line-height: 35px;
 }
 .show-form{
	max-height: 800px;
 }
 /*Show form*/


