﻿.system-msg {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 400px;
    z-index: 9999;
}

.img-personal {
    min-height: 150px;
    min-width: 150px;
}

.div-document .filename {
    max-width: 100% !important;
}

.div-document .uploader {
    width: 90%;
}

.div-document .btn-dowload {
    display: inline-block;
    width: 6%;
    line-height: 2em;
    padding-left: 7px;
    cursor: pointer;
    border: 1px solid #ddd;
}

    .div-document .btn-dowload:hover {
        background-color: #F0ECEC;
    }

.div-document label {
    width: 100%;
}

#modal_info .modal-header {
    background-color: #E48561 !important;
}

#navbar-menu>li>a {
    padding: 10px 10px !important;
}

/* login form */
.login-wrapper {
    width: 500px !important;
    margin-left: -250px !important;
}

.login-wrapper {
    width: 380px !important;
    margin-left: -200px !important;
}

/* HotFix For Pager C# */
.pagination > li > a.active {
    background-color: #32434D;
    color: #fff;
    cursor: default;
}

.w120 {
    width: 120px;
}

.w110 {
    width: 110px;
}

.w100 {
    width: 100px;
}

.w80 {
    width: 80px;
}

.w60 {
    width: 60px;
}

.w45 {
    width: 45px;
}

.w30 {
    width: 30px;
}

.w25 {
    width: 25px;
}

.mr8 {
    margin-right: 8px;
}

.ml8 {
    margin-left: 8px;
}

.mt8 {
    margin-top: 8px;
}

.mb8 {
    margin-bottom: 8px;
}

.mr5 {
    margin-right: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.h450 {
    height: 450px;
}

.navigation > li.active > a,
.navigation > li.active:hover > a,
.navigation > li.active:focus > a {
    background-color: #65B688;
    border-color: #65B688;
}

.navigation > li:hover > a {
    border-left: 3px solid #A1C748 !important;
}

.ui-menu .ui-menu-item {
    padding: 0px 0px 0px 10px !important;
}

.alert-success {
    background-color: #65B688;
    color: white;
    width: 300px;
}

.alert-danger {
    background-color: #D65C4F;
    color: white;
    width: 300px;
}

.system-msg .close {
    color: white;
}


/* ======================== Gatsby stylesheet ========================== */


.clear {
    clear: both;
}

@media screen and (min-width: 40em) {
    .image_employee_list img {
        width: 10em;
        height: 10em;
    }

    .table p {
        margin: 0 0 5px;
    }

    .User_Photo_employee {
        width: 30%;
        margin: 0 auto;
    }

    .col-sm-6 {
        float: left;
    }

    .col-lg-13 {
        width: 100%;
        margin-bottom: 1em;
        position: relative;
    }

        .col-lg-13 p {
            margin-bottom: 0;
        }

    .col-50percent {
        width: 50%;
        float: left;
    }

    .left-button {
        float: left;
        padding: 10px;
    }

    .right-button {
        float: right;
        padding: 10px;
    }

    .col-lg-3 ul {
        margin: 0;
        padding: 0;
    }

        .col-lg-3 ul li {
            list-style: none;
            padding: 10px;
            background: #cee5eb;
            margin: 1px 0;
        }

            .col-lg-3 ul li:hover, .icon-table a:hover {
                background: #50ABC2;
                color: #fff;
            }

        .col-lg-3 ul li, .icon-table {
            color: #50ABC2;
        }

            .col-lg-3 ul li a {
                padding: 10px 198px 10px 10px;
            }

                .col-lg-3 ul li a.active {
                    background: #50ABC2;
                }

    .year-filter {
        padding: 15px;
    }

        .year-filter ul {
            margin: 0;
            padding: 0;
        }

            .year-filter ul li {
                list-style: none;
                float: left;
                font-size: 18px;
                font-weight: 600;
                padding-right: 10px;
            }

                .year-filter ul li a {
                    padding: 10px;
                    border: 1px solid #ccc;
                }
}

@media screen and (max-width: 40em) {
    .image_employee_list img {
        width: 5em;
        height: 5em;
    }

    .User_Photo_employee {
        width: 50%;
        margin: 0 auto;
    }

    .col-lg-13 {
        width: 100%;
        margin-bottom: 1em;
        position: relative;
    }

    .left-button {
        float: left;
        padding: 10px;
        width: 100%;
    }

    .right-button {
        float: right;
        padding: 10px;
        width: 100%;
    }

    .col-lg-3 ul {
        margin: 0;
        padding: 0;
    }

        .col-lg-3 ul li {
            list-style: none;
            padding: 10px;
            background: #cee5eb;
            margin: 1px 0;
        }

            .col-lg-3 ul li:hover, .icon-table a:hover {
                background: #50ABC2;
                color: #fff;
            }

        .col-lg-3 ul li, .icon-table {
            color: #50ABC2;
        }

            .col-lg-3 ul li a {
                padding: 10px 198px 10px 10px;
            }

                .col-lg-3 ul li a.active {
                    background: #50ABC2;
                }
}

.dataTable thead th {
    text-align: center;
}

.full-width {
    width: 100%;
}

.tree {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    /*background-color: #fbfbfb;*/
    border: 1px solid #DDD;
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
}

    .tree li {
        list-style-type: none;
        margin: 0;
        padding: 10px 5px 0 5px;
        position: relative;
    }

        .tree li::before, .tree li::after {
            content: '';
            left: -20px;
            position: absolute;
            right: auto;
        }

        .tree li::before {
            border-left: 1px solid #999;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px;
        }

        .tree li::after {
            border-top: 1px solid #999;
            height: 20px;
            top: 25px;
            width: 25px;
        }

        .tree li span {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: 1px solid #999;
            border-radius: 5px;
            display: inline-block;
            padding: 3px 8px;
            text-decoration: none;
            cursor: default;
            padding: 6px 6px 7px 6px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .tree li span {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .tree li.parent_li > span {
            cursor: pointer;
        }

    .tree > ul > li::before, .tree > ul > li::after {
        border: 0;
    }

    .tree li:last-child::before {
        height: 30px;
    }

    .tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
        background: #eee;
        border: 1px solid #94a0b4;
        color: #000;
    }

    .tree ul {
        padding-left: 50px !important;
    }

        .tree ul.padding-left-0 {
            padding-left: 0px !important;
        }

.custom-tab .nav-tabs {
    margin-bottom: 2px !important;
}

span.active {
    background-color: #DDDDDD;
}

.select2-container {
    width: 100%;
}

#search_product .select2-container {
    width: 80px !important;
}

.progress-micro {
    height: 8px;
}

#search_category input {
    height: 25px !important;
}

#form_product_search .row {
    margin-top: 8px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#search_product {
    padding: 0px !important;
}

.action-breadcrumb {
    float: right;
    margin: 3px 10px 0px 10px;
}

#product_image img {
    width: 150px;
    height: 120px;
    border: 1px solid #dadada;
}

.select2-search-field input {
    height: 26px !important;
}

.color-red {
    color: red;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 10px;
}

.thumb {
    margin-bottom: 5px;
    margin-right: 3px;
}

.none-padding {
    padding: 0px !important;
}

.margin-bottom-10 {
    margin-bottom: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.main-category {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

.body-category {
    width: 100%;
    padding: 10px 10px 0px 27px;
}

.float-right {
    float: right;
}

.margin-right10 {
    margin-right: 10px;
}

.paging_show_number {
    padding: 17px 14px;
    display: block;
    float: left;
    font-size: 12px;
}

.custom_pagination {
    margin: 11px;
    float: right;
}

.square {
    border: 1px solid #666666;
    box-shadow: 3px 3px #999999;
    -moz-box-shadow: 3px 3px #999999;
    -webkit-box-shadow: 3px 3px #999999;
    width: 122px;
    height: 60px;
    float: left;
    text-align: center;
    padding: 23px 0px 0px 0px;
}

.arrow {
    background: url(../images/arrow.png) no-repeat;
    width: 60px;
    height: 25px;
    float: left;
    margin-top: 27px;
}

.square span {
    color: #666666;
    font-weight: bold;
}

.square-active {
    background: #e4e4e4 !important;
}

.mg-top20px {
    margin-top: 20px !important;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.field-validation-error {
    color: red;
}

#searchOrder {
    margin-top: -50px;
}

.align-center {
    text-align: center;
}

.box-comment {
    width: 100%;
    height: 125px !important;
}

.add-notification {
    position: relative;
    float: left;
    margin-top: 150px;
    text-align: center;
}

.notify-main {
    margin: 20px auto;
    background: none !important;
}

.etech-iframe {
    height: 600px;
}

.etech-site-cms {
    padding-top: 5px;
    display: flex;
}

.cms-etech-tab {
    margin-bottom: 8px !important;
    padding: 5px;
}

.etech-text-editor {
    width: 100%;
    padding: 10px;
}

#etech_site_core_webapp_data .ace_editor {
    height: 300px;
}

.etech-text-editor-preview {
    padding: 5px;
    border: 1px solid #DDDDDD;
    margin-bottom: 5px;
}

.mg-top10px {
    margin-top: 10px;
}

.line-though {
    text-decoration: line-through;
    color: #CCCCCC;
}

.cms-img-slide {
    width: 100px;
    padding: 5px;
}

.icon-button {
    cursor: pointer;
}

.boder-top {
    border-top: 1px solid #eeeeee;
}

.btn-page-mode.active,
.etech-page-item.active {
    background-color: #DEDEDE;
    font-weight: bold;
}

#tblContainer_Organization .org-li[selected='1'] {
    background-color: #beebff;
}

.thumb-avatar {
    width: 120px;
}

.padd-right-0px {
    padding-right: 0px;
}

.padd-none {
    padding: 0px;
}

.icon-left {
    float: left !important;
    margin: 0px !important;
}

.float-right {
    float: right;
}

.editablePrice {
    display: none;
}

.form-tablePrice {
    position: relative;
    float: left;
    width: 100%;
    margin: 7px 7px 7px 7px !important;
}

.height-20px {
    height: 20px !important;
}

.custom-radio {
    float: left;
    margin-right: 5px !important;
    width: 20px !important;
}

.padding-left-0 {
    padding-left: 0px !important;
}

.mg-top5px {
    margin-top: 5px;
}

.mg-bottom-5px {
    margin-bottom: 5px !important;
}

.text-center {
    text-align: center;
}

.mg-top-25px {
    margin-top: 25px;
}

.label-success {
    /*width: 100px;
    margin: 0px auto;*/
}

.label-warning {
    /*width: 115px;
    margin: 0px auto;*/
}

.page-header {
    margin-top: 0px !important;
}

.mg-bottom-60px {
    margin-bottom: 60px;
}

.padding-none {
    padding: 0px !important;
}

.role-bd-right {
    height: 90%;
    float: left;
    margin-left: 10px;
}

.role-form-group {
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    float: left;
    width: 100%;
    margin-bottom: 0px !important;
    padding-bottom: 10px;
}

.role-form-group-last {
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.role-item {
    margin: 10px 0px 0px 75px;
    /*width: 90%;*/
}

.mg-bottom-10px {
    margin-bottom: 10px !important;
}

.mg-top10px {
    /*margin-top: 10px !important;*/
}

.scrollX {
    overflow-x: hidden;
    max-height: 400px;
}

.none-margin-bottom {
    margin-bottom: 0px !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.dataTable tbody tr td {
    text-align: center;
}

.language {
    position: relative;
    float: left;
}

    .language a {
        float: left !important;
        margin: 18px 0px 0px 10px !important;
        padding: 0px !important;
    }

    .language img {
        width: 18px;
    }

.col-sm-0 {
    position: relative;
    min-height: 1px;
    float: left;
    margin-right: 10px;
}

.w280px {
    width: 280px;
}

.mg-bottom-15px {
    margin-bottom: 15px;
}

.mg-top-7px {
    margin-top: 7px !important;
}

.mg-top-17px {
    margin-top: 17px;
}

.mg-top-20px {
    margin-top: 20px;
}

.mg-left-15px {
    margin-left: 15px !important;
}

.bonous-form {
    position: relative;
    float: left;
    width: 100%;
}

.tab_order ul.nav li.active .sub {
    background: #3C8DBC;
}

.tab_order ul.nav li .sub {
    background: #DD4B39;
    color: #fff;
    padding: 0px 4px 2px 4px;
    border-radius: 5px;
    font-size: 11px;
    line-height: 1em;
    margin: 0px 0px 0px 0px;
    vertical-align: super;
}

.sub {
    background: #3C8DBC;
}

sup {
    position: relative;
    top: -.5em;
}

.tab_order > ul.nav > li.active {
    border-top-color: #3c8dbc;
}

.tab_order ul li a {
    border-top-color: #ddd !important;
}

.tab_order ul li:hover a {
    color: #3C8DBC !important;
    border-top-color: #3C8DBC !important;
}

.tab_order ul li {
    border-top: 1px solid #ddd;
}

.tab_order ul.nav li a {
    padding: 10px 8px 10px 8px;
}

.tab_order ul.nav li.active a {
    font-weight: bold;
    color: #3C8DBC !important;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
    padding: 10px 0px;
    font-size: 22px;
    color: #3c8dc2;
    font-family: Tahoma;
}

.customer_info {
    width: 95%;
    height: 140px;
    border: 1px solid #3c8dbc;
    margin: 15px 15px 20px 15px;
    padding: 0px 0px;
    position: relative;
}

.customer_title {
    margin: 0px 0px 0px 0px;
    padding: 0px 6px;
    text-transform: uppercase;
    font-size: 14px;
    color: #3c8dbc;
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 15px;
    background: #fff;
    font-family: Arial;
}

.customer_info .info {
    margin: 15px 15px;
}

    .customer_info .info p {
        margin: 0px 0px;
        line-height: 150%;
        font-size: 15px;
        font-family: Arial;
    }

.box_transaction {
    width: 95%;
    height: 175px;
    border: 1px solid #3c8dbc;
    margin: 15px 15px 10px 15px;
    position: relative;
    padding: 0px 0px;
}

.textarea {
    width: 505px;
    padding: 6px 10px;
    margin: 15px 0px 0px 0px;
    outline: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.transaction_title {
    margin: 0px 0px 0px 0px;
    padding: 0px 6px;
    text-transform: uppercase;
    font-size: 14px;
    color: #3c8dbc;
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 15px;
    background: #fff;
    font-family: Arial;
}

.input {
    height: 34px;
    width: 205px;
    padding: 6px 12px;
    outline: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn_sizetxt_edit {
    margin: 0px 0px 0px 5px;
    font-size: 14px;
    color: #ec1a00;
    cursor: pointer;
}

#elfinder .ui-icon-close:hover {
    cursor: pointer;
}

.list_image {
    list-style: none;
    float: left;
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

    .list_image .image_note {
        width: 37px;
        height: 35px;
        float: left;
        margin: 0px 5px 0px 0px;
        position: relative;
    }

        .list_image .image_note img {
            width: 37px;
            height: 35px;
            cursor: -webkit-zoom-in;
            border: 1px solid #ddd;
        }

        .list_image .image_note .remove_img {
            position: absolute;
            color: #f00;
            right: -4px;
            top: -6px;
            cursor: pointer;
            display: none;
        }

        .list_image .image_note:hover .remove_img {
            display: block;
        }

.add_img {
    margin: 5px 0px 0px 0px;
}

.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}

.madontaobao {
    border: 1px solid #ccc;
    outline: 0px;
    font-size: 13px;
    padding: 3px 5px;
    font-family: Arial;
    font-weight: normal;
}

.mavandon {
    border: 1px solid #ccc;
    outline: 0px;
    font-size: 13px;
    padding: 3px 5px;
}

.modal-open {
    overflow: auto;
}

.modal {
    overflow-y: hidden;
}

div.order-action .label {
    margin-top: 3px;
}

[data-notify="container"] {
    z-index: 99999999 !important;
}

.table-danger {
    background-color: #f2dede;
}

.table-success {
    background-color: #dff0d8;
}

.table-warning {
    background-color: #fcf8e3;
}

.table-active {
    background-color: rgba(0,0,0,.075);
}

.chat-box .chat {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

.chat-box #btn-input {
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.chat-box .input-group-btn:last-child > .btn {
    margin-left: 0px !important;
}

.chat-box .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

    .chat-box .chat li:last-child {
        border-bottom: none;
    }

    .chat-box .chat li.left .chat-body {
        margin-left: 60px;
    }

    .chat-box .chat li.right .chat-body {
        margin-right: 60px;
    }


    .chat-box .chat li .chat-body p {
        margin: 0;
        color: #777777;
    }

.chat-box .panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.chat-box .panel-body {
    overflow-y: auto;
    height: 250px;
}

.chat-box *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.chat-box *::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.chat-box *::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.dropdown-menu {
    /*min-width:190px !important;*/
}
.table-inner {
    width: 100%;
    margin-left: 5px;

}
.table-inner > td {
    text-align: left;
}
.text-middle {
    vertical-align: middle;
}
.process-order{
    z-index:9999;
    padding: 5px 20px 20px 0;
    position: fixed;
    background-color: #d2d6de;
    bottom: 0;
}
.left-panel {
    float: left;
    width: 30%;
    position: relative;
    box-sizing: border-box;
}
.right-panel {
    float: right;
    width: 65%;
    position: relative;
    box-sizing: border-box;
}

/*#region Popup */
.popup .breadcrumb-line {
    margin: 0 0 5px 0;
    position: relative;
    border: none;
    background-color: #fff;
}

.ui-dialog {
    z-index: 99999 !important;
}

.ui-widget-overlay {
    opacity: 0.8 !important;
}
/*#endregion */
.datatable-scroll{
    width:100%;
    overflow:auto;
}
.dataTable thead th {
    background-color: #518CA3;
    color:white;
}
.dataTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
.dataTable tbody tr:hover {
    /*background-color: rgba(0, 0, 0, 0.15);*/
}
.page-tabs > .nav-tabs{
    margin-bottom:5px;
}
.panel-body .form-group
{
    margin-bottom:10px;
}
.ui-dialog .pd-2
{
    display:none;
}
input.form-control {
    border-radius: 4px;
}
.long-grid td:last-child
{
    padding: 5px;
    position:sticky;
    right:0;
    background-color:#d0e8ee;
}
.long-grid th:last-child
{
    padding: 5px;
    position:sticky;
    right:0;
    background-color:#485c67;

}


