﻿/*sommee*/
div[onmouseover="S_ssac();"],
div[style*="z-index: 2147483647;"],
center:last-of-type,
div[style*="height: 65px;"] {
    display: none !important;
}

.field-validation-valid.bg-warning.with-padding.block-inner.alert {
    display: none !important;
}

.col-item {
    padding-bottom: 5px !important;
}

.thumb-box {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.block-box {
    margin-bottom: 18px !important;
}

.thumb img {
    height: 150px !important;
}

.upload-image-img {
    width: 120px;
    height: 120px;
}

.input-group-no-margin-top {
    margin-top: 5px !important;
}

.col-item {
    padding-bottom: 10px !important;
}

.iframe-media {
    width: 100%;
    border: 0;
    height: 600px;
}

.div-ajax-loading-request,
.div-ajax-loading-request-redirect {
    position: fixed;
    z-index: 99999999;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    opacity: 0.1;
    cursor: progress;
}

.div-ajax-loading-request-redirect {
    cursor: default !important;
}
