﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.TrongLuongVatLieuModel.TrongLuongVatLieuSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Mã nguyên vật liệu</th>
				<th class="task-deadline">Tên</th>
				<th class="task-deadline">Khối lượng</th>
				<th class="task-deadline">Ghi chú</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.TrongLuongVatLieus != null && Model.TrongLuongVatLieus.Any())
            {
                foreach (var item in Model.TrongLuongVatLieus)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.MaNguyenVatLieu</td>
						<td>@item.Title</td>
						<td>@item.KhoiLuong</td>
						<td>@item.GhiChu</td>
						
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "TrongLuongVatLieu", new {id = @item.TrongLuongVatLieuId})" title="Chỉnh sửa Trọng lượng nguyên vật liệu" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.TrongLuongVatLieuId"><i data-id="@item.TrongLuongVatLieuId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.TrongLuongVatLieuId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("trongLuongVatLieuModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
