﻿@model PKHKeHoachGiaoHangDetailModel
@using EcommerceSystem.Models.PKHKeHoachGiaoHangDetailModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">PKHKeHoachGiaoHangId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.PKHKeHoachGiaoHangId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.PKHKeHoachGiaoHangId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">LoaiVatTuId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.LoaiVatTuId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.LoaiVatTuId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">ChiTietVatTuId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ChiTietVatTuId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ChiTietVatTuId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">XuongId: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.XuongId, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.XuongId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Thu2: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Thu2, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Thu2)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Thu3: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Thu3, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Thu3)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Thu4: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Thu4, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Thu4)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Thu5: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Thu5, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Thu5)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Thu6: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Thu6, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Thu6)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Thu7: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Thu7, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Thu7)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">ChuNhat: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.ChuNhat, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.ChuNhat)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">TongCong: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.TongCong, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.TongCong)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">TongSoCanChuyen: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.TongSoCanChuyen, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.TongSoCanChuyen)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">GhiChu: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.GhiChu)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

