﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.PKHKeHoachGiaoHangDetailModel.PKHKeHoachGiaoHangDetailSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">PKHKeHoachGiaoHangDetailId</th>
				<th class="task-deadline">PKHKeHoachGiaoHangId</th>
				<th class="task-deadline">LoaiVatTuId</th>
				<th class="task-deadline">ChiTietVatTuId</th>
				<th class="task-deadline">XuongId</th>
				<th class="task-deadline">Thu2</th>
				<th class="task-deadline">Thu3</th>
				<th class="task-deadline">Thu4</th>
				<th class="task-deadline">Thu5</th>
				<th class="task-deadline">Thu6</th>
				<th class="task-deadline">Thu7</th>
				<th class="task-deadline">ChuNhat</th>
				<th class="task-deadline">TongCong</th>
				<th class="task-deadline">TongSoCanChuyen</th>
				<th class="task-deadline">GhiChu</th>
				<th class="task-deadline">CreatedDate</th>

                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PKHKeHoachGiaoHangDetails.Any())
            {
                foreach (var item in Model.PKHKeHoachGiaoHangDetails)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.PKHKeHoachGiaoHangDetailId</td>
						<td>@item.PKHKeHoachGiaoHangId</td>
						<td>@item.LoaiVatTuId</td>
						<td>@item.ChiTietVatTuId</td>
						<td>@item.XuongId</td>
						<td>@item.Thu2</td>
						<td>@item.Thu3</td>
						<td>@item.Thu4</td>
						<td>@item.Thu5</td>
						<td>@item.Thu6</td>
						<td>@item.Thu7</td>
						<td>@item.ChuNhat</td>
						<td>@item.TongCong</td>
						<td>@item.TongSoCanChuyen</td>
						<td>@item.GhiChu</td>
						<td>@item.CreatedDate</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.PKHKeHoachGiaoHangDetailId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.PKHKeHoachGiaoHangDetailId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "PKHKeHoachGiaoHangDetail", new {id = @item.PKHKeHoachGiaoHangDetailId})" title="Chỉnh sửa PKHKeHoachGiaoHangDetail" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.PKHKeHoachGiaoHangDetailId"><i data-id="@item.PKHKeHoachGiaoHangDetailId" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.PKHKeHoachGiaoHangDetailId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("pKHKeHoachGiaoHangDetailModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
