﻿@model ThanhPhamXuongModel
@using EcommerceSystem.Models.ThanhPhamXuongModel
<link rel="stylesheet" type="text/css" href="~/assets/plugins/chosen/chosen.min.custom.css">

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Tên Thành phẩm xưởng: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Title)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Tên xưởng: </label>
            <div class="col-sm-4">
                <select data-val="true" data-val-number="The field LoaiVatTuId must be a number." data-val-required="Loại vật tư không được bỏ trống"  id="XuongId" name="XuongId" data-placeholder="Chọn xưởng" class="chosen-select">
                    <option Value=null>Chọn xưởng</option>
                    @foreach (var s in ViewBag.XuongGroups)
                    {
                        <option value="@s.XuongId" @(Model.XuongId == s.XuongId ? "selected" : "")> @s.MaXuong - @s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.XuongId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Tên loại vật tư: </label>
            <div class="col-sm-4">
                <select id="VatTuId" name="VatTuId" data-placeholder="Chọn vật tư" class="chosen-select">
                    <option Value=null>Chọn loại vật tư</option>
                    @foreach (var s in ViewBag.ChiTietVatTuGroups)
                    {
                        <option value="@s.ChiTietVatTuId" @(Model.VatTuId == s.ChiTietVatTuId ? "selected" : "")> @s.ChiTietVatTuId - @s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.VatTuId)
            </div>
            <span class="color-red">(*)</span>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Nhóm sản phẩm: </label>
            <div class="col-sm-4">
                <select id="NhomSanPhamId" name="NhomSanPhamId" data-placeholder="Chọn nhóm sản phẩm" class="chosen-select">
                    <option Value=null>Chọn nhóm sản phẩm</option>
                    @foreach (var s in ViewBag.NhomSanPhamGroups)
                    {
                        <option value="@s.NhomSanPhamId" @(Model.NhomSanPhamId == s.NhomSanPhamId ? "selected" : "")> @s.MaNhomSanPham - @s.Title </option>
                    }
                </select>
                @Html.ValidationMessageFor(c => c.NhomSanPhamId)
            </div>
            <span class="color-red">(*)</span>
        </div>
        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Loại: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.Loai, new { @class = "form-control", type = "number", min = "0" })
                @Html.ValidationMessageFor(c => c.Loai)
            </div>
            <span class="color-red">(*)</span>
        </div>*@
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Năng suất tuần: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.NangSuatTuan, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.NangSuatTuan)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Loại vật liệu: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.LoaiVatLieu, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.LoaiVatLieu)
            </div>
            <span class="color-red">(*)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Quy cách: </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(c => c.QuyCach, new { @class = "form-control" })
            </div>
        </div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%' });
    });
</script>
