﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.ThanhPhamXuongModel.ThanhPhamXuongSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">Mã xưởng</th>
				<th class="task-deadline">Mã vât tư</th>
				<th class="task-deadline">Tên vật tư</th>
				<th class="task-deadline">Nhóm sản phẩm</th>
				<th class="task-deadline">Loại</th>
				<th class="task-deadline">Năng xuất tuần</th>
				<th class="task-deadline">Loại vật liệu</th>
				<th class="task-deadline">Quy cách</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.ThanhPhamXuongs != null && Model.ThanhPhamXuongs.Any())
            {
                foreach (var item in Model.ThanhPhamXuongs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.MaXuong</td>
						<td>@item.MaVatTu</td>
						<td>@item.TenVatTu</td>
						<td>@item.TenNhomSanPham</td>
						<td>@item.Loai</td>
						<td>@item.NangSuatTuan</td>
						<td>@item.LoaiVatLieu</td>
						<td>@item.QuyCach</td>
						
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "ThanhPhamXuong", new {id = @item.ThanhPhamXuongId})" title="Chỉnh sửa Thành phẩm của xưởng" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.ThanhPhamXuongId"><i data-id="@item.ThanhPhamXuongId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.ThanhPhamXuongId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("thanhPhamXuongModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
