﻿@model EcommerceSystem.Models.PKHPhieuYeuCauMuaHangModel.PKHPhieuYeuCauMuaHangModel

@{
    ViewBag.Title = " Create PKHPhieuYeuCauMuaHang";
    Layout = null;
}

<div class="page-content-inner popup">
    @using (Html.BeginForm("Create", "PKHPhieuYeuCauMuaHang", FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        //var phieuYeuCauMuaHangId = 0;
        //int.TryParse(Request.QueryString["PKHPhieuYeuCauMuaHangId"], out phieuYeuCauMuaHangId);
        //var urlRedirect = "?PKHPhieuYeuCauMuaHangId=" + phieuYeuCauMuaHangId;

        <div class="breadcrumb-line">
            <div class="form-actions action-breadcrumb">
                <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@Url.Action("Index", "YeuCauMuaHang")'">
                    <i class="icon-exit3"></i> Hủy
                </button>
                <button type="submit" class="btn btn-xs btn-info">
                    <i class="icon-plus-circle"></i> Kế tiếp
                </button>
            </div>
        </div>

        @Html.Partial("Partial/_FormInput", Model)

        <div class="form-actions text-right mr-10 margin-bottom-10">
            <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@Url.Action("Index", "YeuCauMuaHang")'">
                <i class="icon-exit3"></i> Hủy
            </button>
            <button type="submit" class="btn btn-xs btn-info">
                <i class="icon-plus-circle"></i> Kế tiếp
            </button>
        </div>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            pKHPhieuYeuCauMuaHangModule.init();
        });
    </script>
}