﻿@model EcommerceSystem.Models.PKHPhieuYeuCauMuaHangModel.PKHPhieuYeuCauMuaHangModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="page-content-inner popup">

		@Html.AntiForgeryToken()
        <div class="breadcrumb-line">
            <div class="form-actions action-breadcrumb">
                <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@Url.Action("Index", "PKHPhieuYeuCauMuaHangDetail", new {PKHPhieuYeuCauMuaHangId = Model.PKHPhieuYeuCauMuaHangId})' ">
                    <i class="icon-exit3"></i> Thoát
                </button>
                <button type="submit" class="btn btn-xs btn-info dialog" onclick="location.href='@Url.Action("TheoDoiPhieuYeuCauMuaHangDetail", "PKHPhieuYeuCauMuaHangDetail", new {PKHPhieuYeuCauMuaHangId = Model.PKHPhieuYeuCauMuaHangId})'">
                    Chi tiết yêu cầu mua hàng
                </button>
            </div>
            <div class="visible-xs breadcrumb-toggle">
                <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
            </div>
        </div>

        @Html.HiddenFor(c => c.PKHPhieuYeuCauMuaHangId)
        @Html.Partial("Partial/_FormInputTheoDoiPhieuYeuCauMuaHang", Model)

        <div class="form-actions text-right mr-10 margin-bottom-10">
            <button type="button" class="btn-xs btn btn-primary" onclick="location.href='@Url.Action("Index", "PKHPhieuYeuCauMuaHangDetail", new {PKHPhieuYeuCauMuaHangId = Model.PKHPhieuYeuCauMuaHangId})'">
                <i class="icon-exit3"></i> Thoát
            </button>
            <button type="submit" class="btn btn-xs btn-info dialog" onclick="location.href='@Url.Action("TheoDoiPhieuYeuCauMuaHangDetail", "PKHPhieuYeuCauMuaHangDetail", new {PKHPhieuYeuCauMuaHangId = Model.PKHPhieuYeuCauMuaHangId})'">
                Chi tiết yêu cầu mua hàng
            </button>
        </div>

</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            pKHPhieuYeuCauMuaHangModule.init();
        });
    </script>
}