﻿@model EcommerceSystem.Models.ConfirmModel

@{
    var button = Model.Id + "_modal_button";
    var formModel = Model.Id + "_modal_info";
    var btnClick = "btn_" + Model.Id;
}
<a id="@button" class="hidden" data-toggle="modal" role="button" href="javascript:void(0);" data-target="#"></a>
<!-- modal info -->
<div id="@formModel" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><i class="icon-warning"></i> @Model.Title</h4>
            </div>

            <div class="modal-body with-padding">
                <p class="modal-content-info">@Model.Content</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default confirm-no" data-dismiss="modal">Hủy</button>
                <button id="@btnClick" class="btn btn-warning  confirm-yes" onclick="">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
