﻿@model EcommerceSystem.Models.User.UserCommon
    <ul class="nav navbar-nav navbar-left menu__room">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle room__link">
                Kế toán
            </a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle room__link">
                Kế hoạch
            </a>
        </li>

        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle room__link">
                Nhân sự
            </a>
        </li>

        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle room__link">
                Kinh doanh
            </a>
        </li>

        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle room__link">
                Kho
            </a>
        </li>

        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle room__link">
                Xưởng
            </a>
            <div class="popup dropdown-menu dropdown-menu-right">
                <div class="popup-header">
                    <span>Danh sách các xưởng</span>
                </div>
                <table class="table table-hover">
                    <tbody style="text-align: center">
                        <tr>
                            <td><a href="#" class="text-smaller text-semibold">Xưởng 1</a></td>
                            <td><a href="#" class="text-smaller text-semibold">Xưởng 2</a></td>
                            <td><a href="#" class="text-smaller text-semibold">Xưởng 3</a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="text-smaller text-semibold">Xưởng 4</a></td>
                            <td><a href="#" class="text-smaller text-semibold">Xưởng 5</a></td>
                            <td><a href="#" class="text-smaller text-semibold">Xưởng 6</a></td>
                        </tr>

                        <tr>
                            <td><a href="#" class="text-smaller text-semibold">Xưởng 7</a></td>
                            <td><a href="#" class="text-smaller text-semibold">Xưởng 8</a></td>
                            <td><a href="#" class="text-smaller text-semibold">Xưởng 9</a></td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </li>

    </ul>
<ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle">
            <i class="fas icon-list2"></i>
        </a>
        <div class="popup dropdown-menu dropdown-menu-right">
            <div class="popup-header">
                <a href="index.html#" class="pull-left"><i class="icon-spinner7"></i></a>
                <span>Công cụ</span>
                <a href="index.html#" class="pull-right"><i class="icon-new-tab"></i></a>
            </div>
            <ul class="icons-right">
                <li class="has-dropdow-menu-sub">
                    <a href="navigation_disabled_items.html#"> Danh mục</a>
                    <ul class="hidden-ul">
                        <li><a href="/ChiTietVatTu">Quản lý Chi tiết vật tư</a></li>
                        <li><a href="/CoPhanCapXuong">Quản lý Cơ phận cấp xưởng</a></li>
                        <li><a href="/DanhSachChiTiet">Quản lý Danh sách chi tiết</a></li>
                        <li><a href="/DanhSachDieuChuyenQuyetToan">Quản lý Danh sách điều chuyển quyết toán</a></li>
                        <li><a href="/Dechet">Quản lý Dechet</a></li>
                        <li><a href="/DieuChuyenQuyetToan">Quản lý Điều chuyển quyết toán</a></li>
                        <li><a href="/DinhMucCatTole">Quản lý Định mức cắt Tole</a></li>
                        <li><a href="/DinhMucSanXuat">Quản lý Định mức sản xuất</a></li>
                        <li><a href="/DinhMucTuan">Quản lý Định mức tuần</a></li>
                        <li><a href="/DoiMaChiTiet">Quản lý Đổi mã chi tiết</a></li>
                        <li><a href="/DoiMaVatTu">Quản lý Đổi mã vật tư</a></li>
                        <li><a href="/GoiDau">Quản lý Thời gian gối đầu</a></li>
                        <li><a href="/KeHoach">Quản lý Kế hoạch</a></li>
                        <li><a href="/Kho">Quản lý Kho</a></li>
                        <li><a href="/KhoiLuongCoPhan">Quản lý Khối lượng cơ phận</a></li>
                        <li><a href="/KhoTinhTon">Quản lý Kho tính tồn</a></li>
                        <li><a href="/KyTen">Quản lý Kí tên</a></li>
                        <li><a href="/LoaiDieuChuyenQuyetToan">Quản lý Loại điều chuyển quyết toán</a></li>
                        <li><a href="/LoaiVatTu">Quản lý Loại vật tư</a></li>
                        <li><a href="/LyDoXuat">Quản lý Lý do xuất</a></li>
                        <li><a href="/NguoiNhanKho">Quản lý Người nhận kho</a></li>
                        <li><a href="/NhomSanPham">Quản lý Nhóm sản phẩm</a></li>
                        <li><a href="/NhomVatTuNhapRieng">Quản lý Nhóm vật tư nhập riêng</a></li>
                        <li><a href="/PhuLucISO">Quản lý Phụ lục ISO</a></li>
                        <li><a href="/QuyDoiDinhMuc">Quản lý Quy đổi định mức</a></li>
                        <li><a href="/SoDuBanDau">Quản lý Số dư ban đầu</a></li>
                        <li><a href="/ThanhPhamXuong">Quản lý Thành phẩm xưởng</a></li>
                        <li><a href="/Tole">Quản lý Tole</a></li>
                        <li><a href="/TrongLuongVatLieu">Quản lý Trọng lượng vật liệu</a></li>
                        <li><a href="/VatTuCapRieng">Quản lý Vật tư cấp riêng</a></li>
                        <li><a href="/VatTuNhapRieng">Quản lý Vật tư nhập riêng</a></li>
                        <li><a href="/ThanhPhamTuDong">Quản lý Thành phẩm tự động</a></li>
                    </ul>
                </li>
                <li><a href="navigation_disabled_items.html#"> Báo cáo</a></li>
                <li><a href="navigation_disabled_items.html#"> Báo cáo nhanh</a></li>
                <li><a href="navigation_disabled_items.html#"> Số dư đầu kỳ </a></li>
                <li><a href="navigation_disabled_items.html#"> Kế hoạch</a></li>
                <li><a href="navigation_disabled_items.html#"> Gia công</a></li>
                <li><a href="navigation_disabled_items.html#"> Cấp hàng</a></li>
            </ul>
        </div>

    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle">
            <i class="icon-grid"></i>
        </a>
        <div class="popup dropdown-menu dropdown-menu-right">
            <div class="popup-header">
                <a href="index.html#" class="pull-left"><i class="icon-spinner7"></i></a>
                <span>Tiến độ công việc</span>
                <a href="index.html#" class="pull-right"><i class="icon-new-tab"></i></a>
            </div>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td><span class="status status-success item-before"></span><a href="navigation_disabled_items.html#">Gia công mặt kim</a></td>
                        <td><span class="text-smaller text-semibold">Xưởng 9</span></td>
                        <td class="text-center"><span class="label label-success">87%</span></td>
                    </tr>
                    <tr><td><span class="status status-danger item-before"></span><a href="navigation_disabled_items.html#">Gia công bàn cân</a></td><td><span class="text-smaller text-semibold">Xưởng 2</span></td><td class="text-center"><span class="label label-danger">82%</span></td></tr>
                    <tr><td><span class="status status-info item-before"></span><a href="navigation_disabled_items.html#">Nhập vật liệu</a></td><td><span class="text-smaller text-semibold">Xưởng 3</span></td><td class="text-center"><span class="label label-info">52%</span></td></tr>
                    <tr><td><span class="status status-success item-before"></span><a href="navigation_disabled_items.html#">Ráp vật liệu</a></td><td><span class="text-smaller text-semibold">Xưởng 5</span></td><td class="text-center"><span class="label label-success">100%</span></td></tr>
                    <tr><td><span class="status status-success item-before"></span><a href="navigation_disabled_items.html#">Ráp cân tb</a></td><td><span class="text-smaller text-semibold">Xưởng 5</span></td><td class="text-center"><span class="label label-success">100%</span></td></tr>
                </tbody>
            </table>
        </div>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-people"></i>
            <span class="label label-default">2</span>
        </a>
        <div class="popup dropdown-menu dropdown-menu-right">
            <div class="popup-header">
                <a href="index.html#" class="pull-left"><i class="icon-spinner7"></i></a>
                <span>Activity</span>
                <a href="index.html#" class="pull-right"><i class="icon-paragraph-justify"></i></a>
            </div>
            <ul class="activity">
                <li>
                    <i class="icon-cart-checkout text-success"></i>
                    <div>
                        <a href="index.html#">Eugene</a> ordered 2 copies of <a href="index.html#">OEM license</a>
                        <span>14 minutes ago</span>
                    </div>
                </li>
                <li>
                    <i class="icon-heart text-danger"></i>
                    <div>
                        Your <a href="index.html#">latest post</a> was liked by <a href="index.html#">Audrey Mall</a>
                        <span>35 minutes ago</span>
                    </div>
                </li>
                <li>
                    <i class="icon-checkmark3 text-success"></i>
                    <div>
                        Mail server was updated. See <a href="index.html#">changelog</a>
                        <span>About 2 hours ago</span>
                    </div>
                </li>
                <li>
                    <i class="icon-paragraph-justify2 text-warning"></i>
                    <div>
                        There are <a href="index.html#">6 new tasks</a> waiting for you. Don't forget!
                        <span>About 3 hours ago</span>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-paragraph-justify2"></i>
            <span class="label label-default">6</span>
        </a>
        <div class="popup dropdown-menu dropdown-menu-right">
            <div class="popup-header">
                <a href="index.html#" class="pull-left"><i class="icon-spinner7"></i></a>
                <span>Messages</span>
                <a href="index.html#" class="pull-right"><i class="icon-new-tab"></i></a>
            </div>
            <ul class="popup-messages">
                <li class="unread">
                    <a href="index.html#">
                        <img src="~/Assets/images/demo/users/face1.png" alt="" class="user-face">
                        <strong>Eugene Kopyov <i class="icon-attachment2"></i></strong>
                        <span>Aliquam interdum convallis massa...</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#">
                        <img src="~/Assets/images/demo/users/face2.png" alt="" class="user-face">
                        <strong>Jason Goldsmith <i class="icon-attachment2"></i></strong>
                        <span>Aliquam interdum convallis massa...</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#">
                        <img src="~/Assets/images/demo/users/face3.png" alt="" class="user-face">
                        <strong>Angel Novator</strong>
                        <span>Aliquam interdum convallis massa...</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#">
                        <img src="~/Assets/images/demo/users/face4.png" alt="" class="user-face">
                        <strong>Monica Bloomberg</strong>
                        <span>Aliquam interdum convallis massa...</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#">
                        <img src="~/Assets/images/demo/users/face5.png" alt="" class="user-face">
                        <strong>Patrick Winsleur</strong>
                        <span>Aliquam interdum convallis massa...</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li class="user dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            @if (User.Identity.IsAuthenticated && Model != null)
            {
                var avatar = (!string.IsNullOrEmpty(Model.Avatar)) ? Model.Avatar : Url.Content("~/Assets/images/demo/users/default_usr.png");
                var fullName = (!string.IsNullOrEmpty(Model.UserName)) ? Model.UserName : Model.Email;

                <img src="@avatar" alt="avatar" />
                <span>@fullName</span>
            }

            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right icons-right">
            <li id="changePassword"><a href="javascript:void(0)"><i class="icon-key2"></i>Thay đổi mật khẩu</a></li>
            <li><a href="@Url.Action("LogOff", "Account")"><i class="icon-exit"></i>Đăng xuất</a></li>
        </ul>
    </li>
</ul>
