﻿@using EcommerceSystem.Web.Framework.Helpers
@using EcommerceSystem.Web.Framework.Security

<div class="sidebar">
    <div class="sidebar-content animated fadeIn" style="display: block;">
        <div class="user-menu">
            <a href="/#" class="dropdown-toggle" data-toggle="dropdown">
                @*<img src="images/demo/users/face3.png" alt="">*@
                <div class="user-info">
                    P. kế hoạch
                </div>
            </a>
        </div>
        <!-- Main navigation -->
        <ul class="navigation">
            <li><a href="/"><span>Dashboard</span> <i class="icon-screen2"></i></a></li>
            <li class="has-ul">
                <a href="/#"><span>Quản lý Danh mục</span> <i class="icon-stack"></i></a>
                <ul class="hidden-ul" style="display: none;">
                    <li><a href="/LoaiVatTu">Quản lý Loại vật tư</a></li>
                    <li><a href="/ChiTietVatTu">Quản lý Chi tiết vật tư</a></li>
                    <li><a href="/SoDuBanDau">Quản lý Số dư ban đầu</a></li>
                    <li><a href="/PhuLucISO">Quản lý Phụ lục ISO</a></li>
                    <li><a href="/Tole">Quản lý Tole</a></li>
                    @*<li><a href="/ThanhPhamTuDong">Quản lý Thành phẩm tự động</a></li>*@
                    <li><a href="/Dechet">Quản lý Thành phẩm tự động</a></li>
                    <li><a href="/NhomSanPham">Quản lý Nhóm sản phẩm</a></li>
                    @*<li><a href="/Dechet">Quản lý Dechet</a></li>*@
                    <li><a href="/GoiDau">Quản lý Thời gian gối đầu</a></li>
                    <li><a href="/KyTen">Quản lý Kí tên</a></li>
                    <li><a href="/DanhMucKhachHang">Quản lý khách hàng </a></li>
                    <li><a href="/QuyDoiDinhMuc">Quản lý Quy đổi định mức</a></li>
                    <li><a href="/DoiMaVatTu">Quản lý Đổi mã vật tư</a></li>
                    <li><a href="/LyDoXuat">Quản lý Lý do xuất</a></li>
                    <li><a href="/NhomVatTuNhapRieng">Quản lý Nhóm vật tư nhập riêng</a></li>
                    <li><a href="/TrongLuongVatLieu">Quản lý Trọng lượng vật liệu</a></li>
                    <li><a href="/VatTuCapRieng">Quản lý Vật tư cấp riêng</a></li>
                    <li><a href="/VatTuNhapRieng">Quản lý Vật tư nhập riêng</a></li>
                    <li><a href="/LoaiHinhKinhDoanh">Quản lý Loại Hình Kinh Doanh</a></li>
                    <li><a href="/NhomKhachHang">Quản lý Nhóm Khách Hàng</a></li>
                </ul>
            </li>
            <li class="has-ul">
                <a href="/#"><span>Lập kế hoạch</span> <i class="icon-paragraph-justify2"></i></a>
                <ul class="hidden-ul" style="display: none;">
                    <li><a href="/PKHKeHoachSXNKXH" app-detail="/PKHKeHoachSXNKXHDetail">Kế Hoạch SX-NK-XH</a></li>
                    <li><a href="/PKHKeHoachSXNKXH/KeHoachSX" app-detail="/PKHKeHoachSXNKXHDetail/KeHoachSX">Kế Hoạch Sản xuất tuần</a></li>
                    <li><a href="/PKHKeHoachSXNKXH/KeHoachSXLapRap" app-detail="/PKHKeHoachXuongDetail">Kế Hoạch SX xưởng lắp ráp</a></li>
                    <li><a href="/PKHKeHoachSXNKXH/KeHoachSXLapChiTiet" app-detail="/PKHKeHoachXuongDetail/XuongChiTiet">Kế Hoạch SX xưởng chi tiết</a></li>
                    <li><a href="/YeuCauMuaHang">Quản lý Yêu cầu mua hàng</a></li>
                    <li><a href="/PKHPhieuYeuCauCapHang">Phiếu yêu cầu cấp hàng</a></li>
                    <li><a href="/PKHPhieuYeuCauMuaHang">Phiếu yêu cầu mua hàng</a></li>

                    <li><a href="/PKHPhieuNhapVatTu">Phiếu nhập kho</a></li>
                    <li><a href="/PKHKeHoachGiaoHang">Quản lý kế hoạch giao hàng</a></li>
                    <li><a href="/PKHPhieuYeuCauCapHang">Yêu cầu xuất hàng</a></li>
                    <li><a href="/PKHDieuChuyenVatTu">Điều chuyển vật tư</a></li>

                </ul>
            </li>
            <li>
                <a href="/#"><span>Kiểm hóa</span> <i class="icon-grid"></i></a>
            </li>
            <li>
                <a href="/#"><span>Theo dõi nhập</span> <i class="icon-dice"></i></a>
            </li>
            <li class="has-ul">
                <a href="/#"><span>Điều chuyển vật tư</span> <i class="icon-copy"></i></a>
                <ul class="hidden-ul" style="display: none;">
                    <li><a href="/DieuChuyenQuyetToan/DieuChuyenGiaCong" app-detail="/DanhSachDieuChuyenQuyetToan/DanhSachDieuChuyenGiaCong">Quản lý Điều chuyển gia công</a></li>
                    <li><a href="/DieuChuyenQuyetToan/QuyetToanGiaCong" app-detail="/DanhSachDieuChuyenQuyetToan/DanhSachQuyetToanGiaCong">Quản lý Quyết toán gia công</a></li>
                    <li><a href="/DieuChuyenQuyetToan/DieuChuyenCapHang" app-detail="/DanhSachDieuChuyenQuyetToan/DanhSachDieuChuyenCapHang">Quản lý Điều chuyển cấp hàng</a></li>
                </ul>
            </li>
            <li class="has-ul">
                <a href="/#"><span>Hợp đồng</span> <i class="icon-numbered-list"></i></a>
                <ul class="hidden-ul" style="display: none;">
                    <li><a href="task_grid.html">Task grid</a></li>
                    <li><a href="task_list.html">Task list</a></li>
                    <li><a href="task_detailed.html">Task detailed</a></li>
                </ul>
            </li>
            <li class="has-ul"><a href="#"><span>Định mức</span> <i class="icon-bars"></i></a>
                <ul class="hidden-ul" style="display: none;">
                    <li><a href="/DinhMucSanXuat" app-detail="/DanhSachChiTiet">Quản lý Định mức sản xuất</a></li>
                    <li><a href="/DinhMucCatTole">Quản lý Định mức cắt Tole</a></li>
                    <li><a href="/DinhMucTuan">Quản lý Định mức tuần</a></li>
                </ul>
            </li>

            <li class="has-ul">
                <a href="/#"><span>Quản lý kho</span> <i class="icon-table2"></i></a>
                <ul class="hidden-ul" style="display: none;">
                    <li><a href="/Kho">Quản lý Kho</a></li>
                    <li><a href="/KhoTinhTon">Quản lý Kho tính tồn</a></li>
                    <li><a href="/NguoiNhanKho">Quản lý Người nhận kho</a></li>
                </ul>
            </li>

            <li class="has-ul">
                <a href="/#"><span>Quản lý xưởng</span> <i class="icon-insert-template"></i></a>
                <ul class="hidden-ul" style="display: none;">
                    <li><a href="/Xuong">Quản lý Xưởng</a></li>
                    <li><a href="/ThanhPhamXuong">Quản lý Thành phẩm xưởng</a></li>
                    <li><a href="/CoPhanCapXuong">Quản lý Cơ phận cấp xưởng 2-3</a></li>
                </ul>
            </li>
            
            @if (RoleHelper.IsUserListing() || RoleHelper.IsRoleListing() || RoleHelper.IsSetting() || RoleHelper.IsNotificationListing())
            {
                <li class="has-ul">
                    <a href="/#"><span>Cấu hình chung</span> <i class="icon-settings"></i></a>
                    <ul class="hidden-ul" style="display: none;">
                        @if (RoleHelper.IsUserListing())
                        {
                            <li><a href="@Url.Action("Index", "Account")">Quản lý tài khoản</a></li>
                        }
                        @if (RoleHelper.IsRoleListing())
                        {
                            <li><a href="@Url.Action("Index", "Role")">Phân quyền</a></li>
                        }
                        @if (RoleHelper.IsSetting())
                        {
                            <li><a href="@Url.Action("Index", "Configuration")">Thiết lập chung</a></li>
                        }
                        @if (RoleHelper.IsNotificationListing())
                        {
                            <li><a href="@Url.Action("Index", "Notification")">Quản lý thông báo</a></li>
                        }
                    </ul>
                </li>
            }
        </ul>
        <!-- /main navigation -->

    </div>
</div>
