﻿@model DanhMucKhachHangModel
@using EcommerceSystem.Models.DanhMucKhachHangModel

<div class="panel panel-default">
    <div class="panel-body">
		<div class="form-group">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/Partial/_MessagePartial.cshtml")
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Tên: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Title)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Mã nhà cung cấp: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.MaNCC, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.MaNCC)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Tên nhà cung cấp: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.TenNCC, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.TenNCC)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Mã số thuế: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.MaSoThue, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.MaSoThue)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Ngành nghề: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.NganhNghe, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.NganhNghe)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Số điện thoại: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoDienThoai, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoDienThoai)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Số Fax: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.SoFax, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.SoFax)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Email: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.Email)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Loại hình kinh doanh: </label>
			<div class="col-sm-8">

                @Html.DropDownListFor(c => c.LoaiHinhKinhDoanhId, new SelectList(ViewBag.LoaiHinhKinhDoanhGroups, "LoaiHinhKinhDoanhId", "Title", Model), "Chọn loại hình kinh doanh", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.LoaiHinhKinhDoanhId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">Nhóm khách hàng: </label>
			<div class="col-sm-8">

                @Html.DropDownListFor(c => c.NhomKhachHangId, new SelectList(ViewBag.NhomKhachHangGroups, "NhomKhachHangId", "Title", Model), "Chọn nhóm khách hàng", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.NhomKhachHangId)
			</div>
			<span class="color-red">(*)</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label text-right">ghi chú: </label>
			<div class="col-sm-8">
				@Html.TextBoxFor(c => c.GhiChu, new { @class = "form-control" })
				@Html.ValidationMessageFor(c => c.GhiChu)
			</div>
			<span class="color-red">(*)</span>
		</div>

        @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
    </div>
</div>

