﻿@using EcommerceSystem.Web.Framework.Helpers
@model EcommerceSystem.Models.DanhMucKhachHangModel.DanhMucKhachHangSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				
				<th class="task-deadline">Tên</th>
				
				<th class="task-deadline">mã nhà cung cấp</th>
				<th class="task-deadline">Tên nhà cung cấp</th>
				<th class="task-deadline">Mã số thuế</th>
				<th class="task-deadline">Ngành nghề</th>
				<th class="task-deadline">SĐT</th>
				<th class="task-deadline">Số Fax</th>
				<th class="task-deadline">Email</th>
				<th class="task-deadline">Loại hình kinh doanh</th>
				<th class="task-deadline">Nhóm khách hàng</th>
				<th class="task-deadline">Ghi chú</th>
                <th class="task-deadline">Ngày tạo</th>
                <th class="task-deadline">Trạng thái</th>
               
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.DanhMucKhachHangs.Any())
            {
                foreach (var item in Model.DanhMucKhachHangs)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						
						<td>@item.Title</td>
						
						<td>@item.MaNCC</td>
						<td>@item.TenNCC</td>
						<td>@item.MaSoThue</td>
						<td>@item.NganhNghe</td>
						<td>@item.SoDienThoai</td>
						<td>@item.SoFax</td>
						<td>@item.Email</td>
						<td>@item.TenLoaiHinhKinhDoanh</td>
						<td>@item.TenNhomKhachHang</td>
						<td>@item.GhiChu</td>
                        <td>@item.CreatedDate</td>
                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.DanhMucKhachHangId" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.DanhMucKhachHangId" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "DanhMucKhachHang", new {id = @item.DanhMucKhachHangId})" title="Chỉnh sửa DanhMucKhachHang" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.DanhMucKhachHangId"><i data-id="@item.DanhMucKhachHangId" class="icon-remove4"></i></a>
                                    @*<a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.DanhMucKhachHangId">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>*@                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("danhMucKhachHangModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
